<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cron_recategorizar" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Cron Recategorizar</label>
            <tab>wolfsellers</tab>
            <resource>Magento_Config::config</resource>
            <group id="setting" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                 <label>Cron Configuration </label>
                    <field id="active" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                            showInStore="1">
                         <label>Enabled Cron</label>
                         <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                     </field>
                     <field id="frequency" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                         <label>Frequency</label>
                         <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                         <backend_model>WolfSellers\Recategorizar\Model\Config\CronConfig</backend_model>
                          <depends>
                             <field id="active">1</field>
                         </depends>
                    </field>
                    <field id="time" translate="label comment" sortOrder="30" type="time" showInDefault="1" showInWebsite="1" showInStore="1">
                         <label>Start Time</label>
                         <depends>
                             <field id="active">1</field>
                         </depends>
                    </field>
            </group>
        </section>
    </system>
</config>
