<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="document-type-checkout">
    <div class="document-type-checkout-title">
        <p class="checkout-billing-address-title">¿Qué tipo documento quiere?</p>
    </div>
    <div class="document-type-checkout-choices">

        <div class="field choice" data-bind="visible: canUseShippingAddress()" style="padding-right: 30px;">

            <input type="radio" id="invoice"  class="radio" name="billing-address-same-as-shipping" checked value="0" data-bind="checked: isAddressSameAsShipping, checkedValue: true, click: useShippingAddress" />
            <label class="label" data-bind="attr: {for: 'invoice'}" for="invoice">
                <span>Boleta</span>
            </label>
        
        </div>
        <div class="field choice" data-bind="visible: canUseShippingAddress()">

            <input type="radio" id="bill" class="radio" name="billing-address-same-as-shipping" value="1" data-bind="checked:isAddressSameAsShipping, checkedValue: false, click: useShippingAddress" />
            <label class="label" data-bind="attr: {for: 'bill'}" for="bill"> 
                <span>Factura</span>
            </label>
            
        </div>
    </div>
</div>

<div class="checkout-billing-address">
    <render args="detailsTemplate"></render>
    <fieldset class="fieldset fieldset-wrap" data-bind="visible: !isAddressDetailsVisible()">
        <each args="getRegion('billing-address-list')" render=""></each>
        <div data-bind="fadeVisible: isAddressFormVisible">
            <render args="formTemplate"></render>
        </div>
        <render args="actionsTemplate"></render>
    </fieldset>
</div>
