<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    
    <type name="Izipay\Core\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Izipay\Core\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">izipayCoreLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Izipay\Core\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Izipay\Core\Ui\DataProvider\Log\ListingDataProvider">
		<plugin name="izipay_core_log_attributes" type="Izipay\Core\Plugin\AddAttributesLToUiDataProvider"/>
	</type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
			 	<item name="izipay_core_log_listing_data_source" xsi:type="string">IzipayLogListingCollection</item>
			</argument>
		</arguments>
	</type>
    <virtualType name="IzipayLogListingCollection" type="Izipay\Core\Ui\DataProvider\Log\Listing\Collection">
		<arguments>
		 	<argument name="mainTable" xsi:type="string">izipay</argument>
		 	<argument name="resourceModel" xsi:type="string">Izipay\Core\Model\ResourceModel\Izipay</argument>
		</arguments>
	</virtualType>


    <type name="Izipay\Core\Ui\DataProvider\Notification\ListingDataProvider">
		<plugin name="izipay_core_notification_attributes" type="Izipay\Core\Plugin\AddAttributesNToUiDataProvider"/>
	</type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
			 	<item name="izipay_core_notification_listing_data_source" xsi:type="string">IzipayNotificationListingCollection</item>
			</argument>
		</arguments>
	</type>
    <virtualType name="IzipayNotificationListingCollection" type="Izipay\Core\Ui\DataProvider\Notification\Listing\Collection">
		<arguments>
		 	<argument name="mainTable" xsi:type="string">izipay_notification</argument>
		 	<argument name="resourceModel" xsi:type="string">Izipay\Core\Model\ResourceModel\Notification</argument>
		</arguments>
	</virtualType>
</config>

