<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product\Type\Price">
        <plugin name="WolfSellers_SalesRule_Plugin_Product_Final_Price" type="WolfSellers\SalesRule\Plugin\Product\FinalPrice" sortOrder="10" disabled="false"/>
    </type>
</config>
