<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<carriers>
			<envio_rapido>
				<model>WolfSellers\EnvioRapido\Model\Carrier\EnvioRapido</model>
				<active>0</active>

                <sanbox_mode>0</sanbox_mode>

				<title>Envio Rapido</title>
				<name>Envio Rapido</name>
				<price>0</price>
				<specificerrmsg>No hay stock disponible para este método de envío por favor, usa otro método de envío</specificerrmsg>
				<sallowspecific>0</sallowspecific>
                <production_order_endpoint>https://app.savarexpress.com.pe/govari/api/ServicioDelivery</production_order_endpoint>
                <sandbox_order_endpoint>https://test.savarexpress.com.pe/govari/api/ServicioDelivery</sandbox_order_endpoint>
                <production_status_endpoint>https://app.savarexpress.com.pe/govari/api/servicio/#</production_status_endpoint>
                <sandbox_status_endpoint>https://test.savarexpress.com.pe/govari/api/servicio/#</sandbox_status_endpoint>
                <max_package_weight>75</max_package_weight>
                <production_token></production_token>
                <sandbox_token>cb841e32-a1c1-41b1-8260-1e1a9c6d27b0</sandbox_token>
			</envio_rapido>
		</carriers>
	</default>
</config>
