& when (@media-common = true) {
    body{
        &:not(.checkout-index-index){
            .page-wrapper{
                @media @mdmin{
                    padding-top: 150px;
                }
            }
        }
        .ammenu-header-container.-sticky .header.content{
            position: static;
            max-width: @layout__max-width;
        }
        .ammenu-nav-sections.-topmenu.-sticky .ammenu-main-container{
            position: static;
            max-width: none;
        }
        .ammenu-nav-sections.-topmenu.-sticky{
            min-height: auto;
        }
        > .ambanners{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9999;
        }
        .page-header{
            @media @mdmin{
                background: @white;
                z-index: 10000;
                transition: all @time3;
                position: fixed;
                width: 100%;
                top: 40px;
                left: 0;
                margin-bottom: 0;
                min-height: auto;
            }
            &.ammenu-header-container.-sticky{
                .ammenu-button.-hamburger{
                    margin-left: 0;
                }
            }
            .header.content{
                padding: 15px 10px;
                transition: all @time3;
                margin-bottom: 0;
                @media @mdmax{
                    padding: 7px 0 0 0;
                }
                &:before,
                &:after{
                    display: none;
                }
                display: flex;
                align-items: center;
                justify-content: space-between;
                .ammenu-logo{
                    float: left;
                    min-width: 100px;
                    margin-right: 15px;
                    display: block;
                    @media @mdmax{
                        width: 60%;
                    }
                    img{
                        max-width: 240px;
                        width: 100%;
                        @media @mdmax{
                            max-width: 153px;
                        }
                    }
                }
                .block-search{
                    .amsearch-wrapper-content{
                        .amsearch-item.product-item{
                            .amsearch-autocomplete-image{
                                max-width: 150px;
                                min-width: 140px;
                                .amlabel-position-wrapper{
                                    width: auto !important; // important AMASTY
                                    margin: 10px;
                                    .amasty-label-container{
                                        width: auto !important; // important AMASTY
                                        .amlabel-text{
                                            position: static !important; // important AMASTY
                                        }
                                    }
                                }
                            }
                            .amsearch-autocomplete-information{
                                display: flex;
                                align-items: center;
                                .product-item-details{
                                    min-height: auto;
                                }
                                .amsearch-wrapper-inner{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .amsearch-wrapper-block{
                    float: left;
                    width: 100%;
                    max-width: 574px;
                    padding: 0;
                    margin: 0 15px;
                    .amsearch-form-block{
                        &.-opened{
                            width: inherit;
                            max-width: inherit;
                        }
                        .amsearch-input-wrapper{
                            min-width: 100%;
                        }
                        input[type="text"]{
                            width: 100%;
                            height: 40px;
                            padding-left: 30px;
                            border: 1px solid;
                            font-size: 1.6rem;
                            &::placeholder{
                                font-size: 1.6rem;
                                color: @gray7;
                            }
                        }
                        button.amsearch-button{
                            left: auto;
                            top: 50%;
                            right: 0;
                            bottom: auto;
                            transform: translate(0, -50%);
                            position: absolute;
                            width: 40px;
                            height: 38px;
                            background: #000;
                            border-radius: 0 12px 12px 0;
                            display: inline-block;
                            text-decoration: none;
                            opacity: 1;
                            .lib-icon-font(
                                @_icon-font-content: @icon-search,
                                @_icon-font-size: 2rem,
                                @_icon-font-color: @white,
                                @_icon-font-position: before,
                                @_icon-font-display: inline-block
                            );
                            &:before{
                                font-weight: bold;
                                overflow: initial;
                            }
                        }
                        .amsearch-loader-block{
                            position: absolute;
                            left: 10px;
                        }
                    }
                    .amsearch-result-section{
                        max-width: 574px;
                        box-shadow: 2px 2px 12px rgba(0,0,0,0.25);
                        border-radius: 12px;
                        .amsearch-products-section{
                            .amsearch-block-header{
                                order: 3;
                                justify-content: center;
                                padding: 20px 0 0 0;
                                .amsearch-title{
                                    display: none;
                                }
                                .-view-all{
                                    color: @color-blue-search;
                                    text-decoration: underline;
                                    text-underline-position: under;
                                }
                            }
                            ul{
                                li{
                                    border-bottom: 1px solid @gray;
                                    padding: 20px 0;
                                    margin: 0 20px;
                                    section{
                                        .amsearch-link{
                                            color: @gray7;
                                            text-decoration: none;
                                            .amsearch-highlight{
                                                font-weight: normal;
                                                padding: 0 2px;
                                                background-color: @green-search;
                                                color:@white;
                                                word-wrap: normal;
                                            }
                                        }
                                        .product.description{
                                            color: @color-black;
                                            font-size: 1.4rem;
                                            .amsearch-highlight{
                                                padding: 0 2px;
                                                background-color: @green-search;
                                                color:@white;
                                                word-wrap: normal;
                                                font-weight: normal;
                                            }
                                        }
                                        .amsearch-wrapper-inner{
                                            display: none;
                                        }
                                    } 
                                }
                            }
                        }
                    }
                }
                @media @mdmin{
                    .block-search{
                        float: left;
                        width: 100%;
                        max-width: 574px;
                        padding: 0;
                        margin: 0 15px;
                        input.input-text{
                            padding-left: 30px;
                        }
                        .action.search{
                            .lib-center-element(
                            @x: 0,
                            @eleft: auto,
                            @eright: 0
                            );
                            width: 40px;
                            height: 38px;
                            background: @primary;
                            border-radius: 0 @radiusitems @radiusitems 0;
                            opacity: 1;
                            &:before{
                                color: @white;
                                font-size: 2rem;
                                font-weight: bold;;
                            }
                        }
                        .amasty-xsearch-loader{
                            right: auto;
                            left: 10px;
                        }
                        .input-text{
                            border: 1px solid;
                            &:focus{
                                border: 1px solid;
                            }
                            &::placeholder{
                                font-style: normal;
                            }
                        }
                        .amsearch-form-container{
                            &.-opened{
                                .amsearch-wrapper-input{
                                    position: static;
                                    max-width: 574px;
                                }
                                .search-autocomplete{
                                    box-shadow: 2px 2px 12px @black-rgba-25;
                                    border-radius: 12px;
                                    max-width: 100%;

                                    .amsearch-leftside{
                                        display: none;
                                    }

                                    .amsearch-products{
                                        padding: 0;
                                    }

                                    .amsearch-leftside{
                                        .amasty-xsearch-block-header{
                                            display: none;
                                        }
                                    }
                                    .amasty-xsearch-block-header{
                                        display: none;
                                    }
                                    .amsearch-wrapper-content{
                                        .amsearch-item{
                                            border-bottom: 1px solid @lines-input;
                                            flex-direction: row;
                                            padding: 15px 0;
                                            margin: 0 15px;
                                            width: 100%;

                                            .amsearch-autocomplete-information{
                                                margin: 0 0 0 27px;
                                            }
                                        }
                                    }
                                }
                                .amsearch-close{
                                    display: none !important;
                                }
                                .amsearch-loupe{
                                    .lib-center-element(
                                    @x: 0,
                                    @eleft: auto,
                                    @eright: 0
                                    );
                                    width: 40px;
                                    height: 38px;
                                    background: @primary;
                                    border-radius: 0 @radiusitems @radiusitems 0;
                                    .lib-icon-font(
                                        @_icon-font-content: @icon-search,
                                        @_icon-font-size: 2rem,
                                        @_icon-font-color: @white,
                                        @_icon-font-position: before,
                                        @_icon-font-display: inline-block
                                    );
                                    &:before{
                                        font-weight: bold;
                                        overflow: initial;
                                    }
                                }
                            }
                        }
                    }
                }
                .cont-loginaccount{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    @media @mdmin{
                        padding: 0 10px;
                        &:hover{
                            span:before{
                                color: @a-hovers;
                            }
                        }
                    }
                    > span{
                        margin-left: 1rem;
                        &:before{
                            font-size: 2.2rem;
                            color: @primary;
                            @media @mdmax{
                                font-size: 1.5rem;
                                font-weight: bold;
                            }
                        }
                    }
                    > div{
                        > div{
                            width: 100%;
                            font-size: 1.2rem;
                            font-weight: 500;
                            @media @mdmin{
                                margin-left: 10px;
                                ~ .ddaccount{
                                    margin-left: 10px;
                                }
                            }
                            span{
                                font-weight: 100;
                            }
                        }
                        a{
                            font-size: 1.1rem;
                            color: @black;
                            font-weight: 100;
                            white-space: nowrap;
                            .lib-hovers;
                            &.efirst{
                                position: relative;
                                margin-right: 15px;
                                &:after{
                                    content: "o";
                                    position: absolute;
                                    right: -11px;
                                    top: 0;
                                }
                            }
                        }
                    }
                    .loginbtns{
                        @media @mdmin{
                            &.logout{
                                display: flex;
                            }
                        }
                        .ddaccount{
                            &:before{
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                            }
                            .icon-uniE622{
                                position: absolute;
                                left: 80px;
                                top: 23px;
                                z-index: 1;
                                transform: rotate(0deg);
                                transition: all @time3;
                                &:before{
                                    color: @primary;
                                    @media @mdmax{
                                        font-size: 1rem;
                                    }
                                }
                            }
                            &.active{
                                .icon-uniE622{
                                    transform: rotate(-180deg);
                                    transition: all @time3;
                                }
                                ~ .dropdown-options{
                                    opacity: 1;
                                    visibility: visible;
                                    top: ~"calc(100% + 10px)";
                                    transition: all @time3;
                                    z-index: 999;
                                }
                            }
                        }
                        .dropdown-options{
                            overflow: hidden;
                            opacity: 0;
                            visibility: hidden;
                            transition: all @time3;
                            position: absolute;
                            top: 20px;
                            left: 10px;
                            background: @white;
                            border-radius: @radius8;
                            list-style: none;
                            padding: 0;
                            li{
                                overflow: hidden;
                                margin: 0;
                                a{
                                    padding: 8px 30px;
                                    float: left;
                                    width: 100%;
                                    margin: 0;
                                    color: @primary;
                                    font-size: 1.6rem;
                                    @media @mdmin{
                                        &:hover{
                                            text-shadow: 0px 0px 1px @black;
                                        }
                                    }
                                    @media @mdmax{
                                        padding: 10px 20px;
                                        font-size: 1.4rem;
                                    }
                                    &:after{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
                .minicart-wrapper{
                    @media @mdmin{
                        margin: 0;
                    }
                    .action.showcart{
                        @media @mdmin{
                            position: relative;
                            width: 33px;
                            height: 33px;
                            float: left;
                            &::before{
                                .lib-center-element(
                                    @eright: auto,
                                    @ebottom: auto,
                                    @eleft: 0,
                                    @x: 0
                                );
                            }
                        }
                        &:before{
                            @media @mdmin{
                                color: @white;
                                width: 32px;
                                height: 32px;
                                background: @black;
                                border-radius: 100%;
                                line-height: 32px;
                            }
                            @media @mdmax{
                                font-size: 1.5rem;
                                font-weight: bold;
                                color: @black;
                            }
                        }
                        .lib-hbefore;
                    }
                    a.showcart{
                        .counter.qty{
                            position: absolute;
                            left: 20px;
                            top: 2px;
                            width: 18px;
                            height: 18px;
                            line-height: 14px;
                            border-radius: 100%;
                            background: @white;
                            margin: 0;
                            color: @black;
                            border: 1px solid @black;
                            z-index: 1;
                            @media @mdmax{
                                left: 10px;
                            }
                            ~ span{
                                display: block;
                                font-size: 1.2rem;
                                color: @primary;
                                font-weight: 100;
                                &.titcart{
                                    color: @black;
                                    @media @mdmax{
                                        display: none;
                                    }
                                }
                                @media @mdmax{
                                    &.subtotal{
                                        display: none;
                                    }
                                }
                            }
                            .counter-number{
                                font-size: 1rem;
                                text-shadow: none;
                                padding: 0;
                                margin: 0;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                left: 0;
                                top: 0;
                                line-height: 16px;
                            }
                        }
                    }
                }
            }
        }
        &.nav-up{
            header.page-header{
                top: 0;
                left: 0;
                transition: all @time3;
                position: fixed;
                width: 100%;
                box-shadow: 5px 0px 10px -5px @black;  
                @media @mdmax{
                    top: 16px;
                }              
                .header.content {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    transition: all @time3;
                }
            }
        }
    }    
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
    body {
        &:not(.checkout-index-index){
            .page-wrapper{
                padding-top: 107px;
            }
        }
        .page-wrapper{
            header.page-header {
                position: fixed;
                width: 100%;
                z-index: 10000;
                background: @white;
                top: 18px;
                left: 0;
                .content-logo:after{
                    opacity: 0;
                    transition: all @time3;
                }
                .header.content {
                    padding-left: 10%;
                    position: relative;
                    span.nav-toggle {
                        height: 15px;
                        width: 20px;
                        .lib-center-element(
                        @eleft: 20px,
                        @eright: auto,
                        @ebottom: auto,
                        @x: 0
                        );
                        &:after,
                        &:before {
                            display: none;
                        }
                        > span{
                            text-indent: -99999%;
                            width: 20px;
                            height: 2px;
                            float: left;
                            background: @primary;
                            transition: all @time5;
                            transform-origin: center;
                            transition-delay: @time3;
                            .lib-center-element;
                            &:before{
                                content: "";
                                width: 20px;
                                height: 2px;
                                float: left;
                                position: absolute;
                                background: @primary;
                                top: -7px;
                                left: 0;
                                transition: all @time5;
                                transition-delay: @time3;
                            }
                            &:after{
                                content: "";
                                width: 20px;
                                height: 2px;
                                float: left;
                                position: absolute;
                                background: @primary;
                                bottom: -7px;
                                left: 0;
                                transition: all @time5;
                                transition-delay: @time3;
                            }
                        }
                    }
                    .content-logo{
                        min-width: 108px;
                        padding-right: 0;
                    }
                    .block-search{
                        margin-top: 0;
                        .minisearch{
                            label.label{
                                display: none;
                            }
                            .control{
                                input.input-text{
                                    position: static;
                                    height: 38px;
                                    width: 90%;
                                }
                            }
                        }
                        .input-text{
                            &::placeholder{
                                font-style: normal;
                            }
                        }
                        .amsearch-close{
                            display: none !important;
                        }
                        .amasty-xsearch-loader{
                            right: auto;
                            left: 27px;
                        }
                        .amsearch-loupe{
                            background: @black;
                            z-index: inherit;
                            display: block;
                            height: 34px;
                            right: 15px;
                            width: 40px;
                            top: -10px;
                            left: auto;
                            border-radius: 0 @radiusitems @radiusitems 0;

                            &::before{
                                font-family: @icons__font-name;
                                content: @icon-search;
                                position: relative;
                                font-size: 22px;
                                color: @white;
                                top: 2px;
                            }
                        }
                        .amsearch-form-container{
                            &.-opened{
                                .amsearch-wrapper-input{
                                    position: static;
                                }
                                .search-autocomplete{
                                    box-shadow: 2px 2px 12px @black-rgba-25;
                                    border-radius: 12px;
                                    max-width: 100%;

                                    .amsearch-leftside{
                                        .popular_searches, .page, .category, .recent_searches {
                                            display: none;
                                        }

                                        .amsearch-products{
                                            .amasty-xsearch-block-header{
                                                display: none;
                                            }
                                        }
                                    }

                                    .amsearch-wrapper-content{
                                        .amsearch-item{
                                            border-bottom: 1px solid @lines-input;
                                            flex-direction: row;
                                            margin: 15px 15px 0;
                                            padding: 0 0 15px;
                                            width: auto;

                                            .amsearch-autocomplete-image{
                                                align-items: center;
                                                display: flex;
                                            }

                                            .amsearch-autocomplete-information{
                                                width: 100%;

                                                .information-container{
                                                    .product-item-details{
                                                        .product-item-link{
                                                            .lib-font-size(14);
                                                            font-weight: 600;
                                                        }

                                                        .product-item-description{
                                                            .lib-font-size(14);
                                                            font-weight: 100;
                                                            margin: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .amsearch-wrapper-block{
                        position: initial;
                        padding: 0;
                        width: auto;
                        .amsearch-form-block{
                            background: #fff;
                            border: none;
                            box-sizing: border-box;
                            left: 0;
                            margin: 0;
                            position: absolute;
                            right: 0;
                            top: 120%;
                            z-index: 9;
                            padding: 0 15px;
                            .amsearch-result-section{
                                width: calc(~'(100% - 25px)');
                                left: 15px;
                                top: 50px;
                                max-height: 70vh;
                                overflow-y: auto;
                                .amsearch-items-section{
                                    .amsearch-products-section{
                                        display: flex;
                                        flex-direction: column;
                                        padding-top: 0;
    
                                    }
                                }
                            }
                        }
                    }
                    .cont-loginaccount{
                        position: relative;
                        margin: 0;
                        > span{
                            margin: 0;
                        }
                        > div{
                            > div{
                                display: none;
                            }
                            > a{  
                                &:last-child,  
                                &:after,
                                span:not(.icon-uniE622){ 
                                    display: none;
                                }
                                &.efirst{
                                    position: static;
                                    margin: 0;
                                    &:before{
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        width: 100%;
                                        height: 100%;
                                        z-index: 1;
                                    }
                                }
                            }
                        }
                        .loginbtns .ddaccount{
                            &.mobile{
                                display: block !important;
                            }
                            ~ .dropdown-options{
                                left: auto;
                                right: -20px;
                                z-index: 99;
                            }
                            .icon-uniE622{
                                top: 5px;
                                left: 18px;
                            }
                        }
                    }
                    .minicart-wrapper{
                        margin-top: 0;
                        margin-right: 20px;
                    }
                }
            }
        }
        &.nav-up{
            header.page-header{
                top: -36px;
                transition: all @time3;
                .header.content {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    transition: all @time3;
                }
            }
        }
    }
    .nav-open{
        header.page-header {
            .header.content {
                span.nav-toggle {
                    transform: none;
                    top: 35px;
                    > span{
                        transition: all @time5;
                        transition-delay: @time3;
                        transform: translate(-50%,-50%) rotate(45deg);
                        &:before{
                            top: 0;
                            transition: all @time5;
                            transition-delay: @time3;
                            transform: rotate(90deg);   
                        }
                        &:after{
                            transition: all @time5;
                            transition-delay: @time3;
                            bottom: 0;
                            opacity: 0;
                        }
                    }
                }
            }
        } 
    }
}