& when (@media-common = true){
    body{
        &.page-products,
        &.page-with-filter{
            .page-wrapper{
                .page-title-wrapper{
                    display: none;
                }
                .cat-carousel{
                    @media @mdmax{
                        margin: 0 15px;
                    }
                    [class*="background-image"]{
                        border-radius: 0 !important;
                        @media @mdmin{
                            padding-bottom: 18%;
                        }
                        @media @mdmax{
                            padding-bottom: 33.8%;
                        }
                    }
                    .slick-dots{
                        position: absolute;
                        bottom: 0;
                    }
                    .pagebuilder-overlay{
                        padding: 0;
                        [data-element='content']{
                            min-height: auto;
                        }
                    }
                }
            }
            .page-main > .category-view .category-image{
                display: none;
            }
        }
        .page-wrapper{
            main[class*="page-main"],
            .block.related,
            .block.upsell,
            .amshopby-morefrom{
                .column.main{
                    > .ambanners{
                        margin-bottom: 30px;
                        float: left;
                        width: 100%;
                        img{
                            float: left;
                            width: 100%;
                            overflow: hidden;
                            border-radius: @radiusitems;
                        }
                    }
                }
                div.products-grid,
                 .block.widget,
                 .product-items{
                    display: block;
                    .product-item{
                        text-align: center;
                        box-shadow: 0 0 12px 0 @shadowitems;
                        border-radius: @radiusitems;
                        background: @white;
                        margin-bottom: 10px;
                        padding: 5px;
                        .split.button.wishlist{
                            .lib-visually-hidden;
                        }
                        .swatch-attribute-options{
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;
                        }
                        .lib-attr;
                        @media @lgmin{
                            margin-left: 2%;
                            width: calc(~'(100% - 4%) / 3');
                            &:nth-child(3n + 1) {
                               margin-left: 0;
                            }
                            &:hover{
                                box-shadow: 0 0 10px 0 @gray3;
                                border-radius: 10px;
                                transition: all @time3;
                            }
                        }
                        @media @lgmax{
                            margin-left: 2%;
                            width: calc(~'(100% - 2%) / 2');
                            &:nth-child(2n + 1) {
                               margin-left: 0;
                            }
                            &:hover{
                                box-shadow: 0 0 10px 0 @primary;
                                border-radius: 10px;
                                transition: all @time3;
                            }
                        }
                        .product-item-info{
                            width: 100%;
                            position: relative;
                            padding: 10px;
                            @media @xssmax{
                                padding: 5px;
                            }
                            &:hover,
                            &active{
                                box-shadow: none;
                                border: 0;
                                margin: 0;
                                padding: 10px;
                                @media @xssmax{
                                    padding: 5px;
                                }
                            }
                            &:not(:hover) {
                                &:not(.active) {
                                    .product-item-inner {
                                        &:extend(.abs-visually-hidden-reset all);
                                    }
                                }
                            }
                            .product-item-photo{
                                .product-image-container{
                                    // IMPORTANTS para modificar estilos de AMASTY
                                    position: static !important;
                                    .product-image-wrapper{
                                        .product-image-photo{
                                            width: 100% !important;
                                        }
                                    }
                                    .amlabel-position-wrapper{
                                        margin: 10px;
                                        width: auto !important;
                                        .amasty-label-container:not(.-preview){
                                            height: 24px !important;
                                            line-height: 24px !important;
                                            width: auto !important;
                                            text-align: center;
                                            .amlabel-text{
                                                position: static !important;
                                                padding: 0 10px !important;
                                            }
                                        }
                                    }
                                    // ===========================================
                                }
                            }
                            .product-item-details{
                                .lib-actions-product;
                                .product-item-name{
                                    .list_item_product_manufacturer{
                                        font-size: 1.4rem;
                                        font-weight: bold;
                                    }
                                    a.product-item-link{
                                        font-size: 1.4rem;
                                        color: @primary;
                                        font-weight: 100;
                                        display: block;
                                        display: -webkit-box;
                                        width: 100%;
                                        height: 40px;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        text-align: center;
                                        .lib-hovers;
                                    }
                                }
                                .price-box{
                                    text-align: center;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    float: left;
                                    width: 100%;
                                    > span{
                                        margin: 0 5px;
                                        span{
                                            font-size: 1.6rem;
                                        }
                                        &.normal-price{
                                            .price-label{
                                                display: none;
                                            }
                                        }
                                        &.special-price{
                                            order: 2;
                                        }
                                        &.old-price{
                                            text-decoration: line-through;
                                            color: @gray;
                                            font-weight: 100;
                                            order: 1;
                                            .price-label{
                                                display: none;
                                            }
                                        }
                                    }
                                }
                                .swatch-attribute.color,
                                .product-reviews-summary.short,
                                .swatch-attribute.size,
                                .swatch-attribute.tamano{
                                    .lib-visually-hidden;
                                }
                                .product-item-inner{
                                    border: 0;
                                    margin: 0;
                                    padding: 0;
                                    position: static;
                                    box-shadow: none;
                                    text-align: center;
                                    &:before{
                                        display: none;
                                    }
                                    .lib-actions-product;
                                }
                            }
                        }
                    }
                }
                .pages{
                    .item{
                        .action{
                            border: 0;
                        }
                    }
                }
            }
            > .category-view{
                .category-description{
                    float: left;
                    width: 100%;
                    margin-bottom: 0;
                    > div{
                        float: left;
                        width: 100%;
                        max-width: none;
                        padding: 0;
                        margin: 0;
                        figure img{
                            max-width: @layout-maxwidth;
                            width: 100%;
                            margin: auto;
                            float: left;
                        }
                    }
                    [class*="background-image"]{
                        border-radius: @radiusitems;
                        overflow: hidden;
                        background-size: 100% !important;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    body {
        .page-wrapper{
            main.page-main{
                .product-items {
                    .product-item {
                        .product-item-info{
                            .ambanners{
                                display: none !important;
                            }
                            &.zplus{
                                z-index: 9999 !important;
                            }
                            &:hover{
                                .product-item-details{
                                    .product-item-inner{
                                        .ambanners{
                                            border-radius: 0 0 12px 12px;
                                            width: calc(~'100% + 10px');
                                            display: block !important;
                                            background: @white;
                                            position: absolute;
                                            left: -5px;
                                            img{
                                                width: 94%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    body{
        &:not(.cms-home){
            .page-wrapper{
                main.page-main{
                    .columns{
                        .column{
                            .row-slider-products:not(.row-home),
                            .amsearch-pagebuilder-carousel{
                                .product-items{
                                    padding: 0;
                                    .slick-arrow{
                                        display: none !important;
                                    }
                                    .slick-list{
                                        padding: 10px 50px 10px 0;
                                        margin: 0 -15px;
                                    }
                                    .slick-dots{
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.page-products {
            .page-wrapper {
                .page-main{
                    .columns{
                        padding-top: 16px;
                    }
                }
            }
        }
    }
}
