& when (@media-common =true) {
    body {
        &.cart-open {
            .page-wrapper {
                .page-header {
                    .header {
                        .minicart-wrapper {
                            .ui-dialog {
                                .block-minicart {
                                    transition: all .5s;
                                    right: 0;

                                    #minicart-content-wrapper {
                                        .block-content {
                                            display: inline-flex;
                                            flex-flow: column;
                                            width: 100%;
                                            .close {
                                                order: 1;

                                                &::before {
                                                    position: relative;
                                                    .lib-font-size(17);
                                                    line-height: 24px;
                                                    color: @gray;
                                                    right: 10px;
                                                    top: 10px;
                                                }

                                                &::after {
                                                    transition: opacity .5s;
                                                    transition-delay: .4s;
                                                    background: @black-22;
                                                    position: fixed;
                                                    height: 100%;
                                                    opacity: .5;
                                                    float: left;
                                                    z-index: 1;
                                                    left: 0;
                                                    top: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .modals-wrapper{
                .confirm._show{
                    z-index: 10000 !important;
                }
            }

            .svelte-1nuz0j2{
                z-index: 1 !important;
            }
        }

        .page-wrapper {
            .page-header {
                .header {
                    .minicart-wrapper {
                        .action.showcart .counter.qty .loader > img{
                            width: 100%;
                        }
                        .ui-dialog {
                            .block-minicart {
                                transition: all .5s;
                                min-height: 100vh;
                                box-shadow: none;
                                min-width: unset;
                                position: fixed;
                                margin-top: 0;
                                color: @black;
                                right: -100%;
                                border: none;
                                top: 0;

                                #minicart-content-wrapper {
                                    .block-content {
                                        display: inline-flex;
                                        flex-flow: column;
                                        width: 100%;

                                        .close {
                                            order: 1;

                                            &::before {
                                                color: @gray;
                                            }

                                            &::after {
                                                transition: opacity @time5;
                                                content: "";
                                                opacity: 0;
                                            }
                                        }

                                        .minicart-items-wrapper {
                                            height: calc(~'(90vh - 140px)') !important;
                                            max-height: calc(~'(90vh - 140px)');
                                            padding: 0 15px;
                                            border: none;
                                            order: 2;

                                            &::-webkit-scrollbar {
                                                width: 5px;
                                            }

                                            &::-webkit-scrollbar-track {
                                                background: @gray;
                                            }

                                            &::-webkit-scrollbar-thumb {
                                                border-radius: 50px;
                                                background: @black;
                                            }

                                            .minicart-items {
                                                .product-item {
                                                    .product {
                                                        .amlabel-position-wrapper{
                                                            &[class*="amlabel-position-top-center"]{
                                                                display: none !important; //add style for amasty module
                                                                top: 25px !important; //add style for module amasty
                                                                left: 55px !important; //add style for module amasty
                                                                .amasty-label-container{
                                                                    .amlabel-text{
                                                                        display: none !important; //add style for module amasty;
                                                                    }
                                                                }
                                                            }
                                                            &[class*="amlabel-position-top-right"]{
                                                                display: none !important; //add style for amasty module
                                                                top: 0px !important; //add style for module amasty
                                                                left: 50px !important; //add style for module amasty
                                                                .amasty-label-container{
                                                                    .amlabel-text{
                                                                        display: none !important; //add style for module amasty
                                                                    }
                                                                }
                                                            }
                                                            .amasty-label-container{
                                                                width: 36px !important;
                                                                .amasty-label-image{
                                                                    width: 36px !important; //add style for amasty
                                                                    height: auto;
                                                                }
                                                            }
                                                        }
                                                        .product-item-details {
                                                            padding-left: 100px;
                                                            .product-item-name {
                                                                a {
                                                                    color: @black;
                                                                }
                                                            }

                                                            .actions {
                                                                .primary {
                                                                    display: none;
                                                                }

                                                                .secondary {
                                                                    .delete {
                                                                        &::before {
                                                                            color: @gray-4C;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        .actions {
                                            &:nth-child(4) {
                                                order: 5;
                                            }

                                            &:nth-child(7) {
                                                order: 3;

                                                .secondary {
                                                    .viewcart {
                                                        span {
                                                            text-decoration: underline;
                                                            .lib-font-size(14);
                                                            font-weight: bold;
                                                            color: @black;
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        .items-total,
                                        .subtotal {
                                            .lib-font-size(16);
                                            order: 4;

                                        }

                                        .items-total {
                                            position: relative;
                                            top: 22px;

                                            .count {
                                                font-weight: 500;
                                            }
                                        }

                                        .subtotal {
                                            .label {
                                                display: none;
                                            }

                                            .price-container {
                                                .price-wrapper {
                                                    .price {
                                                        font-weight: 600;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

///DESKTOP
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    body {
        &.cart-open {
            .page-wrapper {
                .page-header {
                    .header {
                        .minicart-wrapper {
                            .ui-dialog {
                                .block-minicart {
                                    #minicart-content-wrapper {
                                        .block-content {
                                            .close {
                                                &::after {
                                                    width: calc(~'(100% - 390px)');
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



///MOVIL
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    body {
        &.cart-open {
            .page-wrapper {
                .page-header {
                    .header {
                        .minicart-wrapper {
                            .ui-dialog {
                                .block-minicart {
                                    width: 85%;

                                    #minicart-content-wrapper {
                                        .block-content {
                                            height: ~"calc(100vh - 135px)";
                                            .close {
                                                &::after {
                                                    width: calc(~'(100% - 85%)');
                                                }
                                            }

                                            .minicart-items-wrapper{
                                                .minicart-items{
                                                    .product-item{
                                                        .product{
                                                            .product-item-details{
                                                                .actions{
                                                                    margin: -25px 0 0 0;
                                                                    float: right;
                                                                }

                                                                .product-item-pricing{
                                                                    .price-container{
                                                                        .price{
                                                                            font-weight: 300;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
