@navigation__background: @primary;
@navigation-desktop-level0-item__color: @white;
@navigation-desktop-level0-item__hover__color: @a-hovers;

& when (@media-common = true) {
	.nav-up{
		section.ammenu-menu-wrapper{
			.ammenu-main-container{
				top: 76px;
			}
		}	
	}
	section.ammenu-menu-wrapper{
		margin-bottom: 0;
		.ammenu-main-container{
			top: 126px;
			position: fixed;
			z-index: 110;
		}
	}
}