<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="adobe" translate="label" sortOrder="100">
            <label>Adobe</label>
        </tab>
        <section id="adobesign" translate="label" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Adobe Sign</label>
            <tab>adobe</tab>
            <resource>Adobe_AdobeSignCheckout::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="accesspoint" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Adobe Sign API Access Point</label>
                    <comment>Base URI to be used both for OAuth and API calls, e.g. https://api.na1.echosign.com</comment>
                    <validate>required-entry validate-length minimum-length-10</validate>
                </field>
                <field id="applnId" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Adobe Sign Client ID</label>
                    <comment>Adobe Sign Client ID</comment>
                    <validate>required-entry validate-length minimum-length-10</validate>
                </field>
                <field id="clientSecret" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Adobe Sign Client Secret</label>
                    <comment>Adobe Sign Client Secret</comment>
                    <validate>required-entry validate-length minimum-length-10</validate>
                </field>
                <field id="refreshtoken" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Adobe Sign Refresh Token</label>
                    <comment>Adobe Sign Refresh Token</comment>
                    <validate>required-entry validate-length minimum-length-10</validate>
                </field>
                <field id="senderemail" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Agreement Sender Email</label>
                    <comment>Adobe Sign Agreement Sender Email</comment>
                    <validate>required-entry validate-email</validate>
                </field>
                <field id="emailTemplate" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Email Template</label>
                    <comment>Email Template</comment>
                    <validate>required-entry</validate>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="role" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Participant Role</label>
                    <comment>Participant Role</comment>
                    <validate>required-entry</validate>
                    <source_model>adobe\adobeSignCheckout\Model\Config\Source\CustomerRoleOptions</source_model>
                </field>
                <field id="authMethod" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Signer Authentication Method</label>
                    <comment>Signer Authentication Method</comment>
                    <validate>required-entry</validate>
                    <source_model>adobe\adobeSignCheckout\Model\Config\Source\SignerAuthMethodOptions</source_model>
                </field>
                <field id="password" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Password</label>
                    <comment>Password</comment>
                    <depends>
                        <field id="*/*/authMethod">PASSWORD</field>
                    </depends>
                    <validate>validate-no-empty</validate>
                </field>
                <field id="prodCats" translate="label" type="multiselect" sortOrder="12" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Categories Enabled</label>
                    <comment>Product Categories Enabled</comment>
                    <source_model>adobe\adobeSignCheckout\Model\Config\Source\CategoryOptions</source_model>
                    <validate>required-entry</validate>
                </field>
                <field id="shops" translate="label" type="multiselect" sortOrder="13" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Shops Enabled</label>
                    <comment>Shops Enabled</comment>
                    <source_model>adobe\adobeSignCheckout\Model\Config\Source\StoreGroupOptions</source_model>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
        <section id="adobesign2" translate="label" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Adobe Sign Advanced</label>
            <tab>adobe</tab>
            <resource>Adobe_AdobeSignCheckout::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="json" translate="label" type="textarea" sortOrder="11" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>JSON Payload</label>
                    <comment>JSON Payload</comment>
                </field>
            </group>
        </section>
    </system>
</config>
