//
// Common
//  ---------------------------------------------
& when (@media-common = true) {
	body{
        .page-wrapper{
            .widget{
                margin: 0;
                padding: 0;
                max-width: 100%;
                .row-countdown{
                    background: @black;
                    justify-content: center !important;
        			align-items: center;
                    height: 100px;
                    .row-full-width-inner{
                    	max-width: 100%;
	                    .contador{
	                    	display: flex;
					        justify-content: center;
	                    	color: @white;
	                    	> span{
		                    	font-weight: bold;                    		
	                    	}
                            .contenedor-general{
                                display: flex;
                            }
                            .container-date{
                                text-align: center;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                span{
                                    font-weight: 700;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: @black;
                                    background: @white;
                                    border-radius: 5px;
                                }
                                .smalltext{
                                    font-weight: 700;
                                    color: @white;
                                }
                            }
                            .punto{
                                color: @white;
                                font-weight: 700;
                                width: 20px;
                            }
	                    }
                    }
                }                
            }
        }
        .modals-wrapper{
            .row-popup-home{
                .contador{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .contenedor-general{
                        display: flex;
                        flex-direction: row;
                        > span{
                            font-weight: bold;                          
                        }
                        .container-date{
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            span{
                                font-weight: 700;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: @white;
                                background: @black;
                                border-radius: 5px;
                                width: 45px;
                                height: 35px;
                            }
                            .smalltext{
                                font-weight: 700;
                                color: @black;
                                font-size: 12px;
                            }
                        }
                        .punto{
                            color: @black;
                            font-weight: 700;
                            margin-top: -5px;
                            margin: 0 5px;
                            font-size: 28px;
                        }
                    }
                }
            }
        }
        .page-wrapper{
            .columns{
                .column{
                    .widget{
                        .row-popup-home{
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    body{
        .page-wrapper{
            .widget{
                .row-countdown{
                    .row-full-width-inner{
                        .contador{
                            align-items: flex-start;
                            > span{
                                font-size: 30px;
                                margin-right: 10px;                             
                            }
                            .container-date{
                                span{                                    
                                    font-size: 23px;                                    
                                    width: 45px;
                                    height: 35px;
                                }
                                .smalltext{
                                    font-size: 12px;
                                    margin-top: 10px;
                                }
                            }
                            .punto{
                                font-size: 28px;
                            }
                        }
                    }
                }
            }
        }
        .modals-wrapper{
            .row-popup-home{
                .contador{
                    .contenedor-general{
                        .container-date{
                            .smalltext{
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m){
    body{
        .page-wrapper{
            .widget{
                .row-countdown{
                    .row-full-width-inner{
                        .contador{
                            flex-direction: column;
                            align-items: center;
                            > span{
                                font-size: 18px;
                                margin-right: 8px;                             
                            }
                            .contenedor-general{
                                flex-direction: row;
                            }
                            .container-date{
                                span{                                    
                                    font-size: 18px;                                    
                                    width: 35px;
                                    height: 25px;
                                }
                                .smalltext{
                                    font-size: 10px;
                                    margin-top: 5px;
                                }
                            }
                            .punto{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
        .modals-wrapper{
            .row-popup-home{
                .contador{
                    .contenedor-general{
                        .container-date{                            
                            .smalltext{
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}