// Success page
// Carrito vacio
// Logout
// 404

& when (@media-common =true) {
    .checkout-onepage-success {
        .page-wrapper {
            .page-main {
                .page-title-wrapper {
                    .page-title {
                        text-align: center;
                        color: @black-09 ;
                        width: 100%;

                        &::before {
                            font-family: 'theme-icons';
                            content: @icon-nike;
                            .lib-font-size(100);
                            display: block;
                        }

                        &::after {
                            content: "Tu pedido ha sido creado con éxito";
                            font-weight: bold;
                            display: block;
                        }
                    }

                    .print {
                        display: none;
                    }
                }

                .columns {
                    .column {
                        .checkout-success {
                            .success-messages {
                                text-align: center;

                                p {
                                    &:first-child {
                                        margin: 0 0 27px;
                                        color: @gray;
                                    }

                                    .order-number {
                                        color: @black;
                                    }
                                }
                            }

                            .account {
                                display: none;
                            }

                            .actions-toolbar {
                                text-align: center;

                                .primary {
                                    float: initial;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


///DESKTOP
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .checkout-onepage-success {
        .page-wrapper {
            .page-main {
                .page-title-wrapper {
                    .page-title {
                        &::before {
                            margin: 0 0 32px;
                        }

                        &::after {
                            margin: 13px 0 0 0;
                            .lib-font-size(20);
                        }
                    }
                }

                .columns {
                    .column {
                        .checkout-success {
                            .success-messages {
                                p {
                                    &:first-child {
                                        .lib-font-size(32);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


///MOVIL
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .checkout-onepage-success {
        .page-wrapper {
            .page-main {
                .page-title-wrapper {
                    .page-title {
                        &::before {
                            margin: 0 0 21px;
                        }

                        &::after {
                            margin: 7px 0 0 0;
                            .lib-font-size(16);
                        }
                    }
                }

                .columns {
                    .column {
                        .checkout-success {
                            .success-messages {
                                p {
                                    &:first-child {
                                        .lib-font-size(22);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
