& when (@media-common = true) {
	.modals-wrapper{
		.modal-popup{
			&.confirm{
				.modal-inner-wrap{
					padding: 10px 10px 20px;
				}
				.modal-footer{
					button.action-accept{
						background: @black;
						border-radius: @radiusitems;
						color: @white;
						text-transform: uppercase;
						font-weight: 600;
						margin-left: 20px;
						.lib-hovers;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
	aside {
		&.container-payment-benefits-modal {
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50% !important; // Widget extended
			right: auto;
			border-radius: 20px;
			max-width: 1000px;
			width: ~"calc(100% - 40px)";
			margin: auto;			
		}
	}
}