& when (@media-target = 'desktop'), (@media-target = 'all'){
	@media only screen and (min-width: @screen__m) and (max-width: @screen__ml){
		body{
			&:not(.checkout-index-index){
				> .ambanners > div h2{
					font-size: 1.2rem !important;
				}
				.page-wrapper{
					.page-header .header.content{
						.block-search{
							max-width: 400px;
							input[type="text"]#search{
								height: 28px;
								border-color: @gray-A7;
								font-size: 1.2rem;
							}
							.action.search{
								height: 28px;
								width: 28px;
							}
							.action.search:before{
								line-height: 28px;
								font-size: 1.6rem;
							}
						}
						.cont-loginaccount{
							width: 16%;
							margin-right: 10px;
							> span:before{
								font-size: 1.7rem;
							}
						}
						.minicart-wrapper a.action.showcart{
							width: 22px;
							height: 22px;
							margin-right: 10px;
							&:before{
								font-size: 1.4rem;
								width: 22px;
								height: 22px;
								line-height: 22px;
							}
							.counter.qty{
								left: 15px;
    							top: -6px;
							}
						}
					}
					.sidebar-main .filter .filter-content .filter-options{
						padding: 0;
					}
					main[class*="page-main"]{
						.product-items .product-item .product-item-info .product-item-details{
							.product-item-inner .product-item-actions .actions-primary button.primary{
								font-size: 1.3rem;
							}
						}
						div.products-grid .product-item .product-item-info .product-item-details{
							.product-item-inner .product-item-actions .actions-primary button.primary{
								font-size: 1.3rem;	
							}
						}
					}
				}
			}
			&.cms-home.cms-index-index{
				.page-wrapper{
					.page-main,
					main[class*="page-main"]{
						.columns{
							.column.main h2{
								font-size: 2.2rem;
							}
						}
						*:not(.row-slider-first){
							.product-items.slick-slider{
								padding: 0 50px;
								.slick-arrow.slick-prev{
									left: 15px;
								}
								.slick-arrow.slick-next{
									right: 15px;
								}
							}
						}
					}
				}
			}
		}
	}
}