& when (@media-common = true) {
	.toolbar.toolbar-products{
        @media @mdmin{
            margin-top: -5px;
        }
        ~ .toolbar.toolbar-products{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .field.limiter,
        .toolbar-amount{
            display: none;
        }
        .toolbar-sorter{
            select {
                background-color: @white;
                box-shadow: none;
                border: 0;
                height: 32px;
                padding-left: 10px;
                border-radius: @radiusitems;
            }
            a.sorter-action{
                display: none;
            }
        }
        .pages{
        	width: 100%;
            .pages-items{
            	padding: 0;
                .item{
                    strong.page,
                    a.page{
                        padding: 10px 13px;
                        color: @black;
                        line-height: 1;
                        background: @white;
                        border-radius: @radiusitems;
                        @media @mdmin{
                        	&:hover{
                        		background: @black;
                        		color: @white;
                        	}
                        }
                    }
                    a.action{
                        background: transparent;
                        box-shadow: none;
                        transition: all @time3;
                        .label ~ span{
                            .lib-visually-hidden-reset;
                            color: @black;

                        }
                        &:before{
                            float: left;
                            font-size: 1.2rem;
                            width: 32px;
                            background: @white;
                            margin-right: 10px;
                            border-radius: @radiusitems;
                        }
                        &.previous{
                            &:before{
                                float: left;
                                margin-left: 0;
                                margin-right: 5px;
                            }
                        }
                        @media @mdmin{
                        	&:hover::before{
                        		transition: all @time3;
                        		background: @black;
                        		color: @white;
                        	}
                        }
                    }
                    &.current{
                        strong.page{
                            background: @primary;
                            color: @white;
                        }
                    }
                    &.pages-item-next{
                    	position: static;
                    	a.action{
                    		padding: 0;
                    		margin: 0;
                    	}
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .page-with-filter{
        .page-wrapper{
            .breadcrumbs{
                display: none;
            }
            .columns{
                padding: 0 16px;

                .column.main{
                    padding: 0;

                    .ambanners{
                        margin: 0;
                    }
                }

                .sidebar-main{
                    .filter-title{
                        strong{
                            left: 16px;
                            top: 115px;
                        }
                    }

                    .filter{
                        .filter-content{
                            display: none;
                        }
                    }
                }

                .products-grid{
                    .product-items{
                        .product-item{
                            .product-item-info{
                                .product-item-details{
                                    .product-item-inner{
                                        .product-item-actions{
                                            .action.tocart.primary{
                                                padding: 7px 0 8px;
                                                .lib-font-size(14);
                                                width: 94%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .toolbar.toolbar-products{
            .toolbar-sorter{
                position: initial;
            }
        }
    }
}