<?xml version="1.0"?>
<!--
/**
 * Webkul Software
 *
 * @category  Webkul
 * @package   Webkul_Mpsplitcart
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Webkul\Mpsplitcart\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Webkul\Mpsplitcart\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">mpsplitcartLogHandler</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Webkul\Mpsplitcart\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="\Magento\Checkout\CustomerData\Cart">
        <plugin name="Webkul_Mpsplitcart::getSectionData"
                type="Webkul\Mpsplitcart\Plugin\Checkout\CustomerData\Cart"
                sortOrder="10" />
    </type>
    <type name="\Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="Webkul_Mpsplitcart::savePaymentInformationAndPlaceOrder"
                type="Webkul\Mpsplitcart\Plugin\Checkout\Model\PaymentInformationManagement"
                sortOrder="10" />
    </type>
</config>
