<div class="payment-benefits-modal"
     data-bind="i18n: 'Know our benefits with cards'"
>
<!--    <div id="opc-payment-benefits-modal" data-bind="afterRender:setModalElement, mageInit: {-->
<!--    'Magento_Ui/js/modal/modal':{-->
<!--        'type': 'custom',-->
<!--        'modalClass': 'opc-sidebar opc-summary-wrapper',-->
<!--        'wrapperClass': 'checkout-container',-->
<!--        'parentModalClass': '_has-modal-custom',-->
<!--        'responsive': true,-->
<!--        'responsiveClass': 'custom-slide',-->
<!--        'overlayClass': 'modal-custom-overlay',-->
<!--        'buttons': []-->
<!--    }}">-->

<!--        &lt;!&ndash; ko foreach: getRegion('summary') &ndash;&gt;-->
<!--        &lt;!&ndash; ko template: getTemplate() &ndash;&gt;&lt;!&ndash; /ko &ndash;&gt;-->
<!--        &lt;!&ndash;/ko&ndash;&gt;-->

<!--        <div class="opc-block-shipping-information">-->
<!--            &lt;!&ndash; ko foreach: getRegion('shipping-information') &ndash;&gt;-->
<!--            &lt;!&ndash; ko template: getTemplate() &ndash;&gt;&lt;!&ndash; /ko &ndash;&gt;-->
<!--            &lt;!&ndash;/ko&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
</div>
