<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "%store_name Skincare Diagnóstico" store_name=$store.frontend_name}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order_data.email_customer_note|escape|nl2br":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"skin_care_diagnostico\" diagnostico=$diagnostico area=\"frontend\"":"Skincare Diagnóstico",
"var store.frontend_name":"Store Frontend Name",
"var store_phone":"Store Phone",
"var store_email":"Store Email",
"var store_hours":"Store Hours",
"var this.getUrl($store,'customer/account/',[_nosid:1])":"Customer Account URL",
"var order_data.customer_name":"Customer Name",
""
} @-->

<!--@subject {{trans "Resultados de tu diagnóstico"}} @-->
{{template config_path="design/email/header_template"}}
<h3>RESULTADOS DEL DIAGNÓSTICO</h3>

<div class="greeting">Hola {{var customerName}},</div>
<!-- Custom Image with your email-->
<!--img src="{{view url='Magenest_AbandonedCart::images/customimage.png'}}"/-->
<div>
    {{trans "somos %store_name. " store_name=$store.getFrontendName()}}
    {{trans "Te compartimos los resultados de tu diagnóstico"}}
</div>
<hr>
<table>
    <tr>
        <td style="font-weight: bold">{{trans "Salud de piel: %skin_health %" skin_health=$diagnostico.results.skin_health}}</td>
    </tr>
    <tr>
        <td>{{trans "Lineas de Expresión: %spot %" spot=$diagnostico.results.spot}}</td>
    </tr>
    <tr>
        <td>{{trans "Mancha: %wrinkle %" wrinkle=$diagnostico.results.wrinkle}}</td>
    </tr>
    <tr>
        <td>{{trans "Textura: %texture %" texture=$diagnostico.results.texture}}</td>
    </tr>
    <tr>
        <td>{{trans "Ojeras: %dark_circle %" dark_circle=$diagnostico.results.dark_circle}}</td>
    </tr>
</table>
<div>
</div>
<div class="content">
    <div>
        <h3>Lineas de Expresión</h3>
    </div>
    <div>
        {{block
        class='Magento\\Framework\\View\\Element\\Template'
        type='core/template'
        name='diagnostico_spot'
        order_id='1'
        area='frontend'
        template='WolfSellers_SkinCare::email/diagnostico.phtml'
        productsList=$diagnostico.spot
        }}
    </div>
    <div>
        <h3>Manchas</h3>
    </div>
    <div>
        {{block
        class='Magento\\Framework\\View\\Element\\Template'
        type='core/template'
        name='diagnostico_wrinkle'
        order_id='2'
        area='frontend'
        template='WolfSellers_SkinCare::email/diagnostico.phtml'
        productsList=$diagnostico.wrinkle

        }}
    </div>
    <div>
        <h3>Texturas</h3>
    </div>
    <div>
        {{block
        class='Magento\\Framework\\View\\Element\\Template'
        type='core/template'
        name='diagnostico_texture'
        order_id='3'
        area='frontend'
        template='WolfSellers_SkinCare::email/diagnostico.phtml'
        productsList=$diagnostico.texture
        }}
    </div>
    <div>
        <h3>Ojeras</h3>
    </div>
    <div>
        {{block
        class='Magento\\Framework\\View\\Element\\Template'
        type='core/template'
        name='diagnostico_dark_circle'
        order_id='4'
        area='frontend'
        template='WolfSellers_SkinCare::email/diagnostico.phtml'
        productsList=$diagnostico.dark_circle
        }}
    </div>
</div>

{{template config_path="design/email/footer_template"}}
