<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="instore_pickup" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>In-Store Pickup Configuration</label>
            <tab>wolfsellers</tab>
            <resource>Magento_Config::config</resource>
            <group id="strategy" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strategy Selection</label>
                <field id="selection" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Strategy</label>
                    <source_model>WolfSellers\InStorePickup\Model\Config\Source\Strategy</source_model>
                    <comment>Select the default strategy for in-store pickup.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
