<div class="checkout-shipping-address" data-bind="if: visible">
    <div class="shipping-address-details" data-bind="if: shippingInformationComponent()">
        <!-- ko foreach: { data: shippingInformationComponent().elems, as: 'element' } -->
            <!-- ko template: element.getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
    <fieldset class="fieldset">
        <!-- ko template: 'Amasty_CheckoutCore/shipping-address/shipping-address-components/list' --><!-- /ko -->

        <div id="opc-new-shipping-address"
             class="shipping-address-form"
             data-bind="visible: isAddressFormVisible">
            <!-- ko with: $parent -->
            <render args="shippingFormTemplate"></render>
            <!--/ko-->
        </div>

        <div class="actions-toolbar" data-bind="ifnot: isAddressFormVisible">
            <div class="primary">
                <button class="action action-update" type="button" data-bind="click: updateAddress">
                    <span data-bind="i18n: 'Update'"></span>
                </button>
                <button class="action action-cancel" type="button" data-bind="click: cancelAddressEdit">
                    <span data-bind="i18n: 'Cancel'"></span>
                </button>
            </div>
        </div>
    </fieldset>
</div>
