//
//  Common (styles-m.css)
//  _____________________________________________
& when (@media-common = true) {
    .checkout-block {
        border-radius: 12px !important;
        background: #FFF !important;
        box-shadow: 0px 8px 6.6px 0px rgba(0, 0, 0, 0.15) !important;
    }
}

//
//  Mobile (styles-m.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .checkout-block {
        width: 100%;
        max-width: 493px;
    }

    .opc-estimated-wrapper{
        display: none !important;
    }

    .form-login{
        background: #fff !important;
        margin: 0 auto !important;
    }

    .form-shipping-address{
        background: #fff !important;
        margin: 0 auto !important;
    }
    #customer-email {
        display: flex;
        width: 85% !important;
        max-width: 85%;
        flex-direction: column;
        align-items: flex-start;
    }
    .amcheckout-email .field-tooltip {
        right: 10px;
    }
    
    div[name="shippingAddress.firstname"] {
        width: 100% !important;
    }
    div[name="shippingAddress.lastname"] {
        width: 100% !important;
    }

    div[name="shippingAddress.telephone"] {
        width: 100% !important;
    }

    div[name="shippingAddress.telephone"] .input-text {
        width: 100% !important;
    }

    div[name="shippingAddress.telephone"] .field-tooltip{
        display: none !important;
    }

    div[name="shippingAddress.street.0"] {
        width: 100% !important;
    }
    
    input[name="street[1]"] {
        display: none !important;
    }

    div[name="shippingAddress.region_id"] {
        width: 100% !important;
    }

    div[name="shippingAddress.region_id"] {
        width: 100% !important;
    }


    //shipping
    #co-shipping-method-form{
        background: #fff !important;
        margin: 0 !important;

    }
}


& when (@media-target = 'mobile'), (@media-target = 'all') {
    @media only screen and (max-width: 375px) {
        // Estilos para pantallas <= 375px
    }
}


//
//  Desktop (style-l.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-estimated-wrapper{
        display: none !important;
    }

    .form-login{
        background: #fff !important;
        margin: 0 auto !important;
    }

    .form-shipping-address{
        background: #fff !important;
        margin: 0 auto !important;
    }
    #customer-email {
        display: flex;
        width: 85% !important;
        max-width: 85%;
        flex-direction: column;
        align-items: flex-start;
    }
    .amcheckout-email .field-tooltip {
        right: 10px;
    }
    
    div[name="shippingAddress.firstname"] {
        width: 100% !important;
    }
    div[name="shippingAddress.lastname"] {
        width: 100% !important;
    }

    div[name="shippingAddress.telephone"] {
        width: 100% !important;
    }

    div[name="shippingAddress.telephone"] .input-text {
        width: 100% !important;
    }

    div[name="shippingAddress.telephone"] .field-tooltip{
        display: none !important;
    }

    div[name="shippingAddress.street.0"] {
        width: 100% !important;
    }
    
    input[name="street[1]"] {
        display: none !important;
    }

    div[name="shippingAddress.region_id"] {
        width: 100% !important;
    }

    div[name="shippingAddress.custom_attributes.colony"] {
        width: 100% !important;
    }

    div[name=" shippingAddress.city"] {
        width: 100% !important;
    }
   


    //shipping
    #co-shipping-method-form{
        background: #fff !important;
        margin: 0 !important;

    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    label[for="customer-email"] {
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    #customer-email{
        display: flex;
        width: 100%;
        max-width: 351px;
        height: 39px;
        padding: 8px 16px;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
    }
    
    .note span {
        width: 350px;
        height: 19px;
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    
    div[name="shippingAddress.firstname"] {
        width: 100% !important;
    }
    
    div[name="shippingAddress.firstname"] label {
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    div[name="shippingAddress.firstname"] .input-text {
        width: 100% !important;
        max-width: 384px;
        height: 39px;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
    }
    
    div[name="shippingAddress.lastname"] {
        width: 100% !important;
    }
    
    div[name="shippingAddress.lastname"] label {
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    div[name="shippingAddress.lastname"] .input-text {
        width: 100%;
        max-width: 384px;
        height: 39px;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
    }
    
    div[name="shippingAddress.custom_attributes.identificacion_picker"] {
        width: 50% !important;
    }
    
    div[name="shippingAddress.custom_attributes.identificacion_picker"] label {
        width: 175px;
        height: 19px;
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    div[name="shippingAddress.custom_attributes.identificacion_picker"] .input-text {
        height: 39px;
        align-self: stretch;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
        max-width: 180px;
        gap: 0px;
        border-radius: 8px 0px 0px 0px;
        border: 0.8px 0px 0px 0px;
        opacity: 0px;
    
    }
    
    div[name="shippingAddress.custom_attributes.numero_identificacion_picker"] {
        width: 40% !important;
    }
    
    div[name="shippingAddress.custom_attributes.numero_identificacion_picker"] label{
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    div[name="shippingAddress.custom_attributes.numero_identificacion_picker"] .input-text{
        height: 47px;
        align-self: stretch;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
    }
    
    #customer-email-error{
        display: none !important;
    }
    
    div[name="shippingAddress.street.0"] {
        width: 100% !important;
    }
    
    div[name="shippingAddress.street.0"] .input-text {
        width: 100% !important;
        max-width: 384px;
        height: 39px;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
    }
    
    input[name="street[1]"] {
        display: none !important;
      }
    
      div[name="shippingAddress.region_id"] {
        width: 100% !important;
    }

    div[name="shippingAddress.telephone"] {
        width: 100% !important;
    }

    div[name="shippingAddress.telephone"] .field-tooltip{
        display: none !important;
    }

    div[name="shippingAddress.telephone"] label {
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    div[name="shippingAddress.telephone"] .input-text {
        width: 100% !important;
        max-width: 384px;
        height: 39px;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
    }

    div[name="shippingAddress.custom_attributes.colony"] label {
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    div[name="shippingAddress.custom_attributes.colony"] .input-text {
        width: 100% !important;
        max-width: 384px;
        height: 39px;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
    }

    div[name="shippingAddress.city"] label {
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    div[name="shippingAddress.city"] .input-text {
        width: 100% !important;
        max-width: 384px;
        height: 39px;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
    }


    div[name="shippingAddress.custom_attributes.referencia_envio"] label {
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    div[name="shippingAddress.custom_attributes.referencia_envio"] .input-text {
        width: 100% !important;
        max-width: 384px;
        height: 39px;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
    }
 
    
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    label[for="customer-email"] {
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    #customer-email{
        display: flex;
        width: 100%;
        max-width: 351px;
        height: 39px;
        padding: 8px 16px;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
    }
    
    .note span {
        width: 350px;
        height: 19px;
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    
    div[name="shippingAddress.firstname"] {
        width: 100% !important;
    }
    
    div[name="shippingAddress.firstname"] label {
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    div[name="shippingAddress.firstname"] .input-text {
        width: 100% !important;
        max-width: 384px;
        height: 39px;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
    }
    
    div[name="shippingAddress.lastname"] {
        width: 100% !important;
    }
    
    div[name="shippingAddress.lastname"] label {
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    div[name="shippingAddress.lastname"] .input-text {
        width: 100%;
        max-width: 384px;
        height: 39px;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
    }
    
    div[name="shippingAddress.custom_attributes.identificacion_picker"] {
        width: 45% !important;
    }
    
    div[name="shippingAddress.custom_attributes.identificacion_picker"] label {
        width: 175px;
        height: 19px;
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    div[name="shippingAddress.custom_attributes.identificacion_picker"] .input-text {
        height: 39px;
        align-self: stretch;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
        max-width: 180px;
        gap: 0px;
        border-radius: 8px 0px 0px 0px;
        border: 0.8px 0px 0px 0px;
        opacity: 0px;
    
    }
    
    div[name="shippingAddress.custom_attributes.numero_identificacion_picker"] {
        width: 50% !important;
    }
    
    div[name="shippingAddress.custom_attributes.numero_identificacion_picker"] label{
        height: 19px;
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    div[name="shippingAddress.custom_attributes.numero_identificacion_picker"] .input-text{
        height: 47px;
        align-self: stretch;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
    }
    
    #customer-email-error{
        display: none !important;
    }
    
    div[name="shippingAddress.street.0"] {
        width: 100% !important;
    }
    
    div[name="shippingAddress.street.0"] .input-text {
        width: 100% !important;
        max-width: 384px;
        height: 39px;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
    }
    
    input[name="street[1]"] {
        display: none !important;
      }
    
      div[name="shippingAddress.region_id"] {
        width: 100% !important;
    }

    div[name="shippingAddress.custom_attributes.referencia_envio"] label {
        color: #000;
        font-family: "Open Sans";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    div[name="shippingAddress.custom_attributes.referencia_envio"] .input-text {
        width: 100% !important;
        max-width: 384px;
        height: 39px;
        border-radius: 8px;
        border: 0.8px solid #979797;
        background: #FFF;
    }

    .totals{
        .mark{
           background: #FFF !important;
           .value{
            display: none !important;
           }
        }
      .amount{
        background: #fff !important;
      }
    }

     #discount-code{
        display: flex;
        width: 308px;
        padding: 11px;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        border-radius: 10px;
        border: 0.8px solid #979797;
        background: #FFF;
        margin-left: -25px;

    }

    .actions-toolbar {
        .primary .action {
            border-radius: 0px 10px 10px 0px;
            background: var(--Texto, #000);
            width: 121px;
            height: 41px;
    
            span {
                color: #FFF;
                text-align: center;
                font-family: "Open Sans";
                font-size: 19px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    
        #block-discount-heading span {
            color: #3E3E3E;
            font-family: "Open Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    /* Contenedor del checkbox */
        div[name="checkout.sidebar.additional.checkbox_newsletter"] .control .field {
            display: flex;
            align-items: center; /* Alinea verticalmente el checkbox con el texto */

        }

        /* Checkbox */
        div[name="checkout.sidebar.additional.checkbox_newsletter"] .control .field .checkbox {
            border-radius: 2px !important;
            border: 0.5px solid var(--Texto, #000) !important;
            background: #FFF !important;
            width: 16px !important;
            height: 16px !important;
            padding: 2px !important;
            margin-right: 10px; /* Espacio entre el checkbox y el texto */
            flex-shrink: 0; /* Evita que el checkbox se reduzca */
        }

        /* Texto del label */
        div[name="checkout.sidebar.additional.checkbox_newsletter"] .control .field .label {
            color: var(--Texto, #000);
            font-family: "Open Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2; /* Ajusta la altura de línea */
            white-space: normal;
            word-break: break-word;
            overflow-wrap: break-word;
        }

        div[name="checkout.sidebar.additional.checkbox_newsletter"] .control .field .label::before {
            content: "Acepto Política de Envío de";
        }
        
        div[name="checkout.sidebar.additional.checkbox_newsletter"] .control .field .label::after {
            content: "Comunicaciones de Publicidad y Promociones.";
            font-weight: bold; /* Aplica negrita */
        }

         /* Contenedor del checkbox */
         div[name="checkout.sidebar.additional.checkbox_terminos"] .control .field {
            display: flex;
            align-items: center; 
            margin-bottom: 16px;
        }

        /* Checkbox */
        div[name="checkout.sidebar.additional.checkbox_terminos"] .control .field .checkbox {
            border-radius: 2px !important;
            border: 0.5px solid var(--Texto, #000) !important;
            background: #FFF !important;
            width: 16px !important;
            height: 16px !important;
            padding: 2px !important;
            margin-right: 10px; /* Espacio entre el checkbox y el texto */
            flex-shrink: 0; /* Evita que el checkbox se reduzca */
        }

        /* Texto del label */
        div[name="checkout.sidebar.additional.checkbox_terminos"] .control .field .label {
            color: var(--Texto, #000);
            font-family: "Open Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2; /* Ajusta la altura de línea */
            white-space: normal;
            word-break: break-word;
            overflow-wrap: break-word;
        }

        div[name="checkout.sidebar.additional.checkbox_terminos"] .control .field .label::before {
            content: "He leído y acepto los ";
        }
        
        div[name="checkout.sidebar.additional.checkbox_terminos"] .control .field .label::after {
            content: "Términos y Condiciones.";
            font-weight: bold; /* Aplica negrita */
        }

        /* Contenedor del checkbox */
        div[name="checkout.sidebar.additional.checkbox_privacidad"] .control .field {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
        }

        /* Checkbox */
        div[name="checkout.sidebar.additional.checkbox_privacidad"] .control .field .checkbox {
            border-radius: 2px !important;
            border: 0.5px solid var(--Texto, #000) !important;
            background: #FFF !important;
            width: 16px !important;
            height: 16px !important;
            padding: 2px !important;
            margin-right: 10px; /* Espacio entre el checkbox y el texto */
            flex-shrink: 0; /* Evita que el checkbox se reduzca */
        }

        /* Texto del label */
        div[name="checkout.sidebar.additional.checkbox_privacidad"] .control .field .label {
            color: var(--Texto, #000);
            font-family: "Open Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2; /* Ajusta la altura de línea */
            white-space: normal;
            word-break: break-word;
            overflow-wrap: break-word;
        }

        div[name="checkout.sidebar.additional.checkbox_privacidad"] .control .field .label::before {
            content: "He leído y acepto la ";
        }
        
        div[name="checkout.sidebar.additional.checkbox_privacidad"] .control .field .label::after {
            content: "Política de Protección de Datos Personales.";
            font-weight: bold; /* Aplica negrita */
        }

        .amcheckout-checkboxes {
            display: none !important;
        }

         

   

    

}











