label[for="customer-email"] {
    color: #000;
    font-family: "Open Sans";
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#customer-email{
    display: flex;
    width: 351px;
    height: 39px;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 0.8px solid #979797;
    background: #FFF;
}

.note span {
    width: 350px;
    height: 19px;
    color: #000;
    font-family: "Open Sans";
    font-size: 14px !important;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.field.street.admin__control-fields.required {
    display: none !important;
}

div[name="shippingAddress.firstname"] {
    width: 100% !important;
}

div[name="shippingAddress.firstname"] label {
    color: #000;
    font-family: "Open Sans";
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

div[name="shippingAddress.firstname"] .input-text {
    width: 384px;
    height: 39px;
    border-radius: 8px;
    border: 0.8px solid #979797;
    background: #FFF;
}

div[name="shippingAddress.firstname"] .field-error{
  display: none !important;
}

div[name="shippingAddress.lastname"] {
    width: 100% !important;
}

div[name="shippingAddress.lastname"] label {
    color: #000;
    font-family: "Open Sans";
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

div[name="shippingAddress.lastname"] .input-text {
    width: 384px;
    height: 39px;
    border-radius: 8px;
    border: 0.8px solid #979797;
    background: #FFF;
}

div[name="shippingAddress.custom_attributes.identificacion_picker"] {
    width: 50% !important;
}

div[name="shippingAddress.custom_attributes.identificacion_picker"] label {
    width: 175px;
    height: 19px;
    color: #000;
    font-family: "Open Sans";
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

div[name="shippingAddress.custom_attributes.identificacion_picker"] .input-text {
    height: 39px;
    align-self: stretch;
    border-radius: 8px;
    border: 0.8px solid #979797;
    background: #FFF;
}

div[name="shippingAddress.custom_attributes.numero_identificacion_picker"] {
    width: 50% !important;
}

div[name="shippingAddress.custom_attributes.numero_identificacion_picker"] label{
    width: 175px;
    height: 19px;
    color: #000;
    font-family: "Open Sans";
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

div[name="shippingAddress.custom_attributes.numero_identificacion_picker"] .input-text{
    height: 47px;
    align-self: stretch;
    border-radius: 8px;
    border: 0.8px solid #979797;
    background: #FFF;
}

#customer-email-error{
    display: none !important;
}





