//
// Common
//  ---------------------------------------------
& when (@media-common = true) {
	.nav-open{
		body{
			overflow: hidden;
		}
	}

	body{

		*{
		    box-sizing: border-box;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		*:hover,
		*:active,
		*:focus
		{
		   -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
		}

		@media @mdmin{
			a:hover
			a:before,
			a:after,
			a:hover:before,
			a:hover:after{
				transition: all @time3;
			}
		}

        //cookis
        .message.global.cookie{
            background-color: @white;
            height: 352px;
            font-size: 1.4rem;
            padding: 0 16px;
            z-index: 999;
            .content{
                position: relative;
                .container-button-close{
                    .close-button{
                        &:before {
                            content: @icon-close;
                            font-family: @icons__font-name;
                            font-size: 2rem;
                            color: @lines-input;
                            position: absolute;
                            right: 4px;
                            top: 20px;
                        }
                    }
                }
                .cookies-title{
                    font-size: 1.6rem;
                    margin: 29px 0 20px 0;
                }
                .cookies-text{
                    a{
                        color: @black;
                        text-decoration: underline;
                    }
                    p{
                        margin-top: 15px;
                    }
                }
                .actions{
                    margin-top: 16px;
                    .action.allow.primary{
                        width: 100%;
                        height: 40px;
                        padding: 8px;
                        border-radius: 12px;
                        font-size: 1.6rem;
                    }
                }
            }
        }
        // slider-marcas
        block-static-block{
            .am-widget-brand-slider{
                .amslider-header-container{
                    font-size: 2.2rem;
                    text-transform: uppercase;
                    line-height: 1.2;
                }
            }
        }
		// forms

		input:focus,
		textarea {
		    outline: 0 !important;
		    -webkit-box-shadow: none !important;
		    box-shadow: none !important;
		}
		input:-webkit-autofill,
		input:-webkit-autofill:hover,
		input:-webkit-autofill:focus,
		input:-webkit-autofill:active,
		input:-internal-autofill-selected  {
		    -webkit-box-shadow: 0 0 0 30px @white inset !important;
		}

		input[type="text"],
		input[type="password"],
		input[type="url"],
		input[type="tel"],
		input[type="search"],
		input[type="number"],
		input[type="datetime"],
		input[type="email"],
		select{
		    .lib-css(border-color, @lines-input);
		    .lib-css(height, 48px);
		    .lib-css(border-radius, @radiusitems);
		}

		select{
			padding-left: 10px;
		}

		input[type="text"]#search{
			height: 40px;
			max-width: 575px;
			@media @mdmax{
				padding-right: 50px;;
				margin: 10px;
			}
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="url"]:focus,
		input[type="tel"]:focus,
		input[type="search"]:focus,
		input[type="number"]:focus,
		input[type="datetime"]:focus,
		input[type="email"]:focus{
		    box-shadow: none;
		    outline: 0;
		    border-color: @primary;
		}

		form:not(.review-form){
			> fieldset,
			> .fieldset{
				> .field{
					.lib-checkboxs();
					.lib-radio();
					> .label{
						font-size: 1.2rem;
						font-weight: bold;
					}
					&.choice{
						float: left;
						width: 100%;
					}
					&.captcha{
						float: left;
						width: 100%;
					}
				}
				.actions-toolbar{
					clear: both;
				}
			}
		}

		// tables

		table.table:not(.totals){
		    thead{
		        tr th{
		            border-bottom: 1px solid @mainbackground;
		        }
		    }
		    tbody{
		        tr{
		            background: @mainbackground;
		            &:nth-child(2n+1){
		                background: @white;
		            }
		            td{
		                border: 0;
		            }
		        }
		    }
		}

		//  Inputs

		input{
			&.input-text{
				&.mage-error{
				    border:solid 1px @red;
				}
			}
		}
		[data-content-type='row'][data-appearance='contained'] {
			width: 100%;
		}

		// titles

		&:not(.cms-home):not(.checkout-index-index){
			.page-main {
				margin-top: 30px;
			    .page-title-wrapper {
			        font-size: 3.2rem;
			        font-weight: bold;
			        margin: auto;
			        width: 100%;
			        h1{
			        	margin-bottom: 20px;
			        	font-family: @font-second;
			        	font-weight: 400;
			        }
			    }
			    legend.legend{
			        border-color: @gray;
			    }
			    .block{
			        .block-title{
			            strong{
			                font-weight: normal;
			            }
			        }
			    }
			    .block.related,
			    .block.upsell{
			        strong{
			            color: @black;
			            font-weight: 500;
			            font-size: 3rem;
			            width: 100%;
			            text-align: center;
			            float: left;
			            margin: 0;
			        }
			    }
			}
		}

 // page wrapper

		.page-wrapper{
			overflow: hidden;
			background: @mainbackground;
			float: left;
			width: 100%;
		}

		&:not(.checkout-index-index){
			.page-wrapper{
				float: left;
				width: 100%;
				@media @mdmin{
					padding-top: 130px;
				}
			}
		}

//breadcrumbs

		.page-wrapper{
		    .breadcrumbs {
		        float: left;
		        width: 100%;
		        max-width: none;
		        margin: 15px 0;
		        padding: 0 15px;
		        display: block;

		        > .items {
		            max-width: @layout__max-width;
		            margin: auto;
		            width: 100%;
		            padding: 0 10px;
		            .item {
		                &:not(:last-child):after {
		                    color: @black;
		                    vertical-align: middle;
		                }
		                a,
	                    strong{
	                    	color: @black;
	                    	font-size: 1.8rem;
	                    	font-weight: 100;
	                    	@media @mdmax{
	                    		font-size: 1.1rem;;
	                    	}
	                    }
	                    @media @mdmin{
	                    	a:hover{
	                    		color: @primary;
	                    		text-decoration: none;
	                    	}
	                    }
		            }
		        }

		        ~ div.page-main,
		        ~ main.page-main {
		            margin-top: 0;
		        }
		    }
		}
		> .ambanners{
			background: @primary;
			text-align: center;
			float: left;
			width: 100%;
			@media @mdmin{
				padding: 10px;
				height: 40px;
				> div h2{
					font-size: 1.8rem;
				}
			}
			@media @mdmax{
				height: 16px;
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				z-index: 99;
				> div h2{
					font-size: 1.2rem;
					line-height: 16px;
				}
			}
			> div{
				h2{
					color: @white;
					font-weight: 500;
				}
			}
		}
		&.cms-index-index,
		&.checkout-index-index{
			.page-bottom{
			    display: none;
			}
		}
	}
	// loader

	.loading-mask .loader > img{
		max-width: 50px;
	}

	// alertas
	[data-bind="scope: 'messages'"]{
		max-width: 1386px;
		margin: 0 auto;
		width: 100%;
	}

	#amasty-shopby-product-list{
		.message{
			&.info{
				&.empty{
					padding: 12px 20px 12px 10px;
					border-radius: 12px;
					overflow: auto;
					color: @black;

					div{
						align-items: center;
						display: flex;

						&::before{
							position: initial;
							color: @black;
							margin: 0;
						}
					}
				}
			}
		}
	}

	.messages{
		.message{
			margin: 16px 20px 20px;
			border-radius: 10px;
			.lib-font-size(14);
			color: @black;

			 > *{
				&:first-child{
					&:before{
						color: @black;
						height: auto;
						width: auto;
						left: 15px;
					}
				}
			}
		}


		.message{
			&.message-success{
				background: @green-A7;

				div{
					&::before{
						overflow: visible;
					}
				}
			}

			&.message-error{
				background: @red-D1;

				div{
					&::before{
						border-radius: 100px;
						content: @icon-warning;
					}
				}
			}
		}
	}

	.qty{
		.qty{
			position: relative;
			width: 100%;

			.control{
				.input-text{
					width: 100% !important;
				}

				.qty_control{
					position: absolute;
					height: 40px;
					width: 100%;
					top: -7px;

					button{
						border-radius: 0;
						height: 36px;
						width: 30px;
					}

					.increaseQty{
						border-left: 1px solid @lines-input;
						position: absolute;
						right: 0;
						.lib-hafter;
						&::after{
							font-family: 'theme-icons';
							.lib-font-size(11);
							content: @icon-expand;
							line-height: 2.8;
							color: @black;
						}
					}

					.decreaseQty{
						border-right: 1px solid @lines-input;
						position: absolute;
						left: 0;
						.lib-hafter;
						&::after{
							font-family: 'theme-icons';
							.lib-font-size(11);
							content: @icon-collapse;
							color: @black;
						}
					}

				}
			}
		}
	}

	.qty-cantidad, .qty .control{
		position: relative;
		display: flex;
		width: 40%;

		p, span{
			justify-content: center;
			align-items: center;
			position: absolute;
			.lib-font-size(0);
			display: flex;
			z-index: 1;

			&::after{
				font-family: 'theme-icons';
				.lib-font-size(11);
				color: #000;
			}
		}

		.action-less{
			border-right: 1px solid @lines-input;
			left: 0;
			cursor: pointer;
			&::after{
				content: @icon-collapse;
			}
			.lib-hafter;
		}

		.action-more{
			border-left: 1px solid @lines-input;
			right: 0;
			cursor: pointer;
			&::after{
				content: @icon-expand;
			}
			.lib-hafter;
		}

		.cart-item-qty, .input-text.qty{
			width: 100%;
		}
	}
}

//
//  Desktop
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    body{
        //cookis
        .message.global.cookie{
            height: 320px;
            font-size: 2rem;
            padding: 0;
            .content{
                max-width: 1282px;
                margin: 0 auto;
                .container-button-close{
                    .close-button{
                        &:before {
                            right: 0;
                            top: 25px;
                        }
                    }
                }
                .cookies-title{
                    font-size: 2rem;
                    margin: 38px 0 12px 0;
                }
                .cookies-text{
                    color: @gray4;
                }
                .actions{
                    .action.allow.primary{
                        width: 338px;
                        height: 60px;
                        padding: 0;
                        font-size: 2rem;
                    }
                }
            }
        }
        //slider marcas
        .widget.block.block-static-block{
            .am-widget-brand-slider{
                .amslider-header-container{
                    font-size: 3.2rem !important;
                }
            }
        }
    }
	.details-qty, .field.qty{
		justify-content: left;
		align-items: center;
		display: flex;
		width: 100%;

		.label{
			margin: 0 8px 0 0;
		}
		.qty-cantidad, .control{
			width: 40%;

			p, span{
				height: 40px;
				width: 30px;
			}

			.cart-item-qty, .input-text.qty{
				height: 40px;
			}
		}
	}
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
	.messages{
		margin: 16px auto 20px;
		max-width: 1386px;
		padding: 0 20px;

		.message{
			border-radius: 10px;
			.lib-font-size(14);
			color: @black;

			 > *{
				&:first-child{
					&:before{
						top: 50%;
					}
				}
			}
		}
	}

	.details-qty, .field.qty{
		justify-content: left;
		align-items: center;
		display: flex;
		width: 100%;

		.label{
			margin: 0 8px 0 0;
		}

		.qty-cantidad, .control{
			p, span{
				height: 30px;
				width: 30px;
			}

			.cart-item-qty, .input-text.qty{
				height: 30px;
			}
		}
	}
}
