//
//  Buttons
//  ---------------------------------------------

@button-primary__background: @primary;
@button-primary__color: @white;
@button-primary__border: 0;
@button__padding: 16px 15px;
@button__font-size: 1.8rem;
@button__font-weight: bold;
@button-primary__font-weight: bold;
@button__border-radius:	@radius8;
@button-primary__hover__background:	@a-hovers;
@_button-background-hover: lighten(@primary, 15%);
@button-primary__hover__border:	0;
@button-primary__hover__color: @white;
@button__font-size__l: 1.5rem;
@button__border: 0;
@_button-border-hover: 0;
@blue2: @primary;
@button-primary__active__background: @primary;

// @button__line-height__l: 1;
@button__padding__l: 14px 15px;

body{
    a,
    a.link{
        transition: all @time3;
        &:hover{
            transition: all @time3;
        }
        &:focus,
        &:active,
        &:visited{
            text-decoration: none;
        }
        .lib-link(
            @_link-color: @primary,
            @_link-color-hover: @a-hovers,
            @_link-text-decoration-hover: none,
            @_link-text-decoration-active: none,
            @_link-text-decoration: none
        );
    }
}

button.primary{
    transition: all @time3;
    &:hover{
        transition: all @time3;
    }
}

button:not(.primary) {
    background: transparent;
    border-color: @primary;
    color: @primary;
    font-weight: 500;
    font-size: 12px;
    box-shadow: none;
    .lib-css(transition, all @time3 ease 0s);
    &:hover{
        // border-color: @color-second;
        // color: @color-second;
    }
}

.lib-hovers(){
    @media @mdmin{
        &:hover{
            color: @a-hovers;
            text-decoration: none;
        }
    }
}

.lib-hbefore(){
    @media @mdmin{
        &:hover::before{
            color: @a-hovers;
        }
    }
}

.lib-hafter(){
    @media @mdmin{
        &:hover::after{
            color: @a-hovers;
        }
    }
}

//
//  Common (styles-m.css)
//  _____________________________________________
& when (@media-common = true) {
    .amsearch-input-wrapper{
        .amsearch-button{
            text-align: center !important;
        }
    }
}