@primary: @black;

@lines: gray;
@lines-input: #AAAAAA;
@a-hovers: gray;

@white: @color-white;
@black: @color-black;
@red: #ff0000;
@gray: #888888;

@checkout-shipping-item__active__border-color: @primary;



