@primary: @black;

@lines: gray;
@lines-input: #AAAAAA;
@a-hovers: #afafaf;

@white: @color-white;
@black: @color-black;
@red: #ff0000;
@gray: #888888;

@shadowitems: #E5E5E5;
@mainbackground: #F2F2F2;

@checkout-shipping-item__active__border-color: @primary;



