@primary: @black;

@lines: gray;
@lines-input: @gray;
@a-hovers: #afafaf;

@white: @color-white;
@black: @color-black;
@red: #ff0000;

@gray: #aaaaaa;
@gray2: #e8e8e8;

@shadowitems: #E5E5E5;
@mainbackground: #F2F2F2;

@amshopby-filter-item__active__color: @primary;
@amshopby-filter-item__pressed__color: @primary;

@checkout-shipping-item__active__border-color: @primary;

@link__active__color: @a-hovers;

@color-blue2: @a-hovers;
