.lib-checkboxs(){
	[type='checkbox']{
		position: absolute;
		opacity: 0;
		visibility: hidden;
		z-index: -10;
	}

	input[type='checkbox']{
		+ label {
			+ div.mage-error[generated]{
			    display: block;
			    width: 100%;
			    float: left;
			    margin-top: 16px;
			    margin-left: 5px;
			}
		}
	}
	
	input[type='checkbox'] + label {
		position: relative;
		float: left;
		height: 13px;
		line-height: 13px;
		padding-left: 3px;
		transition: all .3s cubic-bezier(.4,.0,.23,1);
		transition: color .3s cubic-bezier(.4,.0,.23,1);
		cursor: pointer;

	}
	
	input[type='checkbox'] + label:after{
		content: "";
		width: 14px;
		height: 14px;
		background: transparent;
		border: 1px solid @primary;
		border-radius: 2px;
		position: absolute;
		left: 0;
		top: -1px;
		z-index: 1;
		box-sizing: border-box;
		transition: all .3s cubic-bezier(.4,.0,.23,1);
	}
	
	
	input[type='checkbox']:checked + label:after {
		border: 1px solid @primary;
		background: @primary;
		animation: fxbg 200ms cubic-bezier(.4,.0,.23,1);
		transition: all .3s cubic-bezier(.4,.0,.23,1);
	}
	
	input[type='checkbox']:checked + label:before{
		content: @icon-checkmark;
		font-family: @icons__font-name;
		font-size: 10px;
		color: @white;
		position: absolute;
		top: -1px;
	    left: 2px;
	    transform: rotate(360deg);
	    transform-origin: 0% 100%;
	    z-index: 2;
	}

	input.mage-error, 
	select.mage-error, 
	textarea.mage-error{
		border-color: @red;
	}

			

	div.mage-error[generated]{
		color: @red;
		&:before{
			content: "!";
			width: 15px;
			height:15px;
			background:@red;
			border-radius:50%;
			display: inline-block;
			color:@white;
			text-align:center;
			font-weight: bold;
			margin-right: 5px;
			line-height: 1.3;
		}
	}
	

	@keyframes fxbg {
		0% {
			transform: scale(1);
		}
		
		33% {
			transform: scale(.85);
		}
		
		100% {
			transform: scale(1);
		}
	}
	
	@keyframes checkarrow {
		0% {
			width: 0;
			height: 0;
			border-color: @red;
			transform: translate3d(0, 0, 0) rotate(45deg);
		}
		
		33% {
			width:1px;
			height: 0;
			transform: translate3d(0, 0, 0) rotate(45deg);
		}
		
		100% {
			width: 3px;
			height: 7px;
			border-color: @red;
			transform: translate3d(0, -12px, 0) rotate(45deg);
		}
	}
}

.lib-radio(){
	
	[type='radio']{
		display: none;
		position: absolute;
		opacity: 0;
		visibility: hidden;
		z-index: -10;
	}
	
	input[type='radio'] + label {
		position: relative;
		float: left;
		height: 20px;
		line-height: 20px;
		padding-left: 30px;
		transition: all @time3 cubic-bezier(.4,.0,.23,1);
		transition: color @time3 cubic-bezier(.4,.0,.23,1);
		cursor: pointer;
	}
	
	input[type='radio'] + label:after{
		content: "";
		width: 22px;
		height: 22px;
		background: transparent;
		border: 1px solid @black;
		border-radius: 100%;
		position: absolute;
		left: 0;
		top: -2px;
		z-index: 1;
		box-sizing: border-box;
		transition: all @time3 cubic-bezier(.4,.0,.23,1);
	}
	
	
	input[type='radio']:checked + label:after {
		border: 1px solid @primary;
		background: @white;
		animation: rfxbg 200ms cubic-bezier(.4,.0,.23,1);
		transition: all @time3 cubic-bezier(.4,.0,.23,1);
	}
	
	input[type='radio']:checked + label:before{
		content: "";
		position: absolute;
		top: 2px;
		left: 4px;
		animation: rcheckarrow @time2;
		z-index: 2;
		height: 14px;
		width: 14px;
		background: @black;
		border-radius: 100%;
	}
	
	@keyframes rfxbg {
		0% {
			transform: scale(1);
		}
		
		33% {
			transform: scale(.85);
		}
		
		100% {
			transform: scale(1);
		}
	}
	
	@keyframes rcheckarrow {
		0% {
			transform: scale(1);
		}
		
		33% {
			transform: scale(.85);
		}
		
		100% {
			transform: scale(1);
		}
	}
}

// checkbox choice

.lib-checkchoice(){
	input[type='checkbox'] + label{
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 0;
		margin-bottom: 10px;
	}
	input[type='checkbox'] + label:before {
		content: "";
	    height: 25px;
	    width: 60px;
	    float: left;
	    border: 1px solid @gray;
	    border-radius: 100px;
	    margin-right: 15px;
	    position: static;
	}
	input[type='checkbox'] + label:after {
		content: "";
	    height: 21px;
	    width: 21px;
	    background: @primary;
	    float: left;
	    border-radius: 100%;
	    margin: 0;
	    position: absolute;
	    left: 3px;
	    top: -3px;
	    transition: all @time3;
	    animation: none;
	}
	
	input[type='checkbox']:checked + label:after{
		left: 38px;
		transition: all @time3;
		background: @secondary;
		top: -3px;
		border: 0;
	}
}

.lib-two-columns(){
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	> [class*="field"]:not(.choice){
		display: inline-block;
		padding: 0 10px;
		width: calc(~'(100%)/2');
		vertical-align: top;
	}
	> [class*="field"].choice{
		padding: 0 10px;
	}
}

.lib-center-element(
	@eleft: 50%,
	@etop: 50%,
	@eright: auto,
	@ebottom: auto,
	@position: absolute,
	@x: -50%,
	@y: -50%
){
	left: @eleft;
    top: @etop;
	right: @eright;
	bottom: @ebottom;
    transform: translate(@x,@y);
	position: @position;
}

.lib-pulseefx(){
	@media @mdmin{
		&:hover{
		    transform-origin: 0 100%;
		    animation: pulse 1s infinite;
		    transform-origin: center;
		}
		&:hover::before{
		    color: @primary;
		    transform-origin: center;
		    animation: pulsecolor 1s infinite;
		}
	}
	@keyframes pulse {
	    10% {transform: scale(1.1)}
	}

	@keyframes pulsecolor {
	  10% {color: @primary}
	}
}

.lib-attr(){
	.swatch-attribute{
		float: left;
		width: 100%;
		.swatch-attribute-label{
			font-size: 2rem;
		    font-weight: 500;
		    text-transform: uppercase;
		}
		&.color{
			.swatch-option{
				background-size: 100% !important; //AMASTY importants
				width: 32px !important; //AMASTY importants
				height: 32px !important; //AMASTY importants
				border: 0;
				padding: 0;
				transition: all @time5;
				border: 1px solid @gray-D8;

				&:hover{
					transition: all @time5;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
		&.size{
			.swatch-option{
				border: 1px solid @gray-D8;
				border-radius: @radiusitems;
				padding: 5px 10px;
			    background: transparent;
			    color: @primary;
			    transition: all @time5;
			    position: relative;
			    height: 32px !important; //AMASTY importants
		        width: 100px !important; //AMASTY importants;
		        background-image: none !important; //AMASTY importants;
			    &:not(.disabled):hover{
			    	outline: 0;
			    	border-color: @primary;
			    	transition: all @time5;
			    }
			    img{
			    	display: none;
			    }
			    // &:after{
			    // 	content: attr(aria-label);
			    // 	text-align: center;
			    // 	font-size: 1.4rem;
			    // 	font-weight: bold;
			    // 	color: @black;
			    // 	white-space: nowrap;
			    // 	.lib-center-element;
			    // }
			}
		}
		&.tamano{
			.swatch-option{
				border: 1px solid @gray-D8;
				border-radius: @radiusitems;
				padding: 17px 10px 17px 40px;
			    height: auto;
			    background: transparent;
			    color: @primary;
			    height: auto !important; //AMASTY importants
			    width: auto !important; //AMASTY importants
			    background-position: 5px !important; //AMASTY importants
			    transition: all @time5;
			    display: flex;
			    align-items: center;
			    img{
			    	float: left;
			    	width: 100%;
			    	max-width: 35px;
			    }
			    &:not(.disabled):hover{
			    	outline: 0;
			    	border-color: @primary;
			    	transition: all @time5;
			    }
				&:after{
					content: attr(aria-label);
					text-align: center;
					font-size: 1.4rem;
					font-weight: bold;
					color: @black;
				}
			}
		}
	}
}

.lib-actions-product(){
    .product-item-actions{
        margin: 0;
        .actions-primary{
            button.primary{
                font-size: 1.8rem;
                border-radius: @radiusitems;
                text-transform: uppercase;
                font-weight: 500;
                @media @xsmax{
                    font-size: 1.2rem;
                    padding-left: 10px;
                    padding-right: 10px;
					white-space: initial;
                }
            }
        }
        .actions-secondary{
            position: absolute;
            right: 20px;
            top: 10px;
            z-index: 10;
            .towishlist{
                line-height: 1;
                display: none;
                &:before{
                    font-size: 2rem;
                    overflow: initial;
                }
            }
            a.action.tocompare{
                display: none;
            }
        }
    }
}