//
//  Typography
//  ---------------------------------------------

//  Base Font

@font-family-name__base:'Wolf', sans-serif;
@font-wolf: @font-family-name__base;
@font-family__base: @font-family-name__base;
@text__color: @black;
// Second Font
@font-second:'Roboto', sans-serif;

// Icons Font

// @icons__font-path: "@{baseDir}fonts/icons/wolf-icons";
// @icons__font-name: 'wolf-icons';

@layout__max-width: 1386px;

@radius4: 4px;
@radius8: 8px;

@boxshadow: 0px 0px 6px @black;

@bradius3: 3px;
@time1: .1s;
@time2: .2s;
@time3: .3s;
@time4: .4s;
@time5: .5s;

@mdmin: ~"only screen and (min-width: 768px)";
@mdmax: ~"only screen and (max-width: 768px)";
@xsmin: ~"only screen and (min-width: 480px)";
@xsmax: ~"only screen and (max-width: 480px)";

@checkout-shipping-item__border: 1px solid transparent;

@font-face {
    font-family: 'wolf';
    src: url('@{baseDir}fonts/Montserrat-Light.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'wolf';
    src: url('@{baseDir}fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wolf';
    src: url('@{baseDir}fonts/Montserrat-Medium.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'wolf';
    src: url('@{baseDir}fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}