<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- MODEL & REPOSITORY -->
	<preference for="WolfSellers\DireccionesTiendas\Api\DireccionesTiendasRepositoryInterface" type="WolfSellers\DireccionesTiendas\Model\DireccionesTiendasRepository"/>
	<preference for="WolfSellers\DireccionesTiendas\Api\Data\DireccionesTiendasInterface" type="WolfSellers\DireccionesTiendas\Model\DireccionesTiendas"/>
	<preference for="WolfSellers\DireccionesTiendas\Api\Data\DireccionesTiendasSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <!-- MODEL GRID -->
	<virtualType name="WolfSellers\DireccionesTiendas\Model\ResourceModel\DireccionesTiendas\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">wolfsellers_direccionestiendas_direccionestiendas</argument>
			<argument name="resourceModel" xsi:type="string">WolfSellers\DireccionesTiendas\Model\ResourceModel\DireccionesTiendas\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="wolfsellers_direccionestiendas_direccionestiendas_listing_data_source" xsi:type="string">WolfSellers\DireccionesTiendas\Model\ResourceModel\DireccionesTiendas\Grid\Collection</item>
			</argument>
		</arguments>
	</type>

    <!-- Copy direcciones_tiendas from sales_order to sales_order_grid -->
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="direcciones_tiendas" xsi:type="string">sales_order.direcciones_tiendas</item>
            </argument>
        </arguments>
    </virtualType>
</config>
