<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="izipay" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Izipay ( Botón de pago ) </label>
                <comment>
                    <![CDATA[
                    <p><strong>Desarrollado por: </strong> IZIPAY</p>
                    <p><strong>Versión plugin CMS: </strong> 1.0.4</p>
                    Para poder utilizar izipay, es necesario crear una cuenta <a href="https://www.izipay.pe/izipay-online" target="_blank">¡Click Aquí!.</a>
                    ]]>
                </comment>
                <field id="active" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Título</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="*/izipay/active">1</field>
                    </depends>
                </field>
                <group id="globalenv" translate="label" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label> Configuración del ambiente </label>
                    <attribute type="expanded">1</attribute>
                    <field id="environment" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Environment</label>
                        <source_model>Izipay\Core\Model\Config\Source\Environment</source_model>
                    </field>
                    <field id="type_access" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Tipo de Proceso</label>
                        <source_model>Izipay\Core\Model\Config\Source\Processtype</source_model>
                    </field>
                    <depends>
                        <field id="*/izipay/active">1</field>
                    </depends>
                </group>
                <group id="configdev" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label> Configuración de entorno de Integración </label>
                    <group id="soles" translate="label" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label> Soles </label>
                        <attribute type="expanded">1</attribute>
                        <field id="merchant_code" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Código de Comercio</label>
                        </field>
                        <field id="public_key" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Llave Pública</label>
                        </field>                    
                    </group>
                    <group id="dolar" translate="label" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label> Dólares </label>
                        <attribute type="expanded">1</attribute>
                        <field id="merchant_code" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Código de Comercio</label>
                        </field>
                        <field id="public_key" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Llave Pública</label>
                        </field>                    
                    </group>
                    <field id="notification_url" translate="label" type="text" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>URL del Api de Notificación</label>
                    </field>
                    <depends>
                        <field id="*/izipay/globalenv/environment">sandbox</field>
                        <field id="*/izipay/active">1</field>
                    </depends>
                </group>
                <group id="configpro" translate="label" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label> Configuración del entorno de Producción </label>
                    <group id="soles" translate="label" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label> Soles </label>
                        <attribute type="expanded">1</attribute>
                        <field id="merchant_code" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Código de Comercio</label>
                        </field>
                        <field id="public_key" translate="label" type="text" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Llave Pública</label>
                        </field>                    
                    </group>
                    <group id="dolar" translate="label" sortOrder="27" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label> Dólares </label>
                        <attribute type="expanded">1</attribute>
                        <field id="merchant_code" translate="label" type="text" sortOrder="28" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Código de Comercio</label>
                        </field>
                        <field id="public_key" translate="label" type="text" sortOrder="29" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Llave Pública</label>
                        </field>                    
                    </group>
                    <field id="notification_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>URL del Api de Notificación</label>
                    </field>
                    <depends>
                        <field id="*/izipay/globalenv/environment">production</field>
                        <field id="*/izipay/active">1</field>
                    </depends>
                </group>
                <group id="paymentoptions" translate="label" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label> Métodos de Pago </label>
                    <group id="method1" translate="label" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label> Primer Método de Pago </label>
                        <field id="paymentactive" translate="label comment" sortOrder="33" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Método 1</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="paymentmethod" translate="label" type="text" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Método de Pago</label>
                            <comment>Escribir el metodo de pago, puede ser alguna de estas combinaciones CARD,QR</comment>
                            <validate>required-entry</validate>
                            <depends>
                                <field id="*/izipay/paymentoptions/method1/paymentactive">1</field>
                            </depends>
                        </field>
                        <field id="paymenttitle" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Título</label>
                            <comment>Título que aparecerá en el checkout como opción de pago</comment>
                            <validate>required-entry</validate>
                            <depends>
                                <field id="*/izipay/paymentoptions/method1/paymentactive">1</field>
                            </depends>
                        </field>
                        <field id="paymentdescription" translate="label" type="text" sortOrder="36" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Descripción</label>
                            <depends>
                                <field id="*/izipay/paymentoptions/method1/paymentactive">1</field>
                            </depends>
                        </field>
                    </group>
                    <group id="method2" translate="label" sortOrder="37" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label> Segundo Método de Pago </label>
                        <field id="paymentactive" translate="label comment" sortOrder="38" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Método 2</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="paymentmethod" translate="label" type="text" sortOrder="39" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Método de Pago</label>
                            <comment>Escribir el metodo de pago, puede ser alguna de estas combinaciones CARD,QR</comment>
                            <validate>required-entry</validate>
                            <depends>
                                <field id="*/izipay/paymentoptions/method2/paymentactive">1</field>
                            </depends>
                        </field>
                        <field id="paymenttitle" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Título</label>
                            <comment>Título que aparecerá en el checkout como opción de pago</comment>
                            <validate>required-entry</validate>
                            <depends>
                                <field id="*/izipay/paymentoptions/method2/paymentactive">1</field>
                            </depends>
                        </field>
                        <field id="paymentdescription" translate="label" type="text" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Descripción</label>
                            <depends>
                                <field id="*/izipay/paymentoptions/method2/paymentactive">1</field>
                            </depends>
                        </field>
                    </group>
                    <group id="method3" translate="label" sortOrder="42" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label> Tercer Método de Pago </label>
                        <field id="paymentactive" translate="label comment" sortOrder="43" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Método 3</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="paymentmethod" translate="label" type="text" sortOrder="44" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Método de Pago</label>
                            <comment>Escribir el metodo de pago, puede ser alguna de estas combinaciones CARD,QR</comment>
                            <validate>required-entry</validate>
                            <depends>
                                <field id="*/izipay/paymentoptions/method3/paymentactive">1</field>
                            </depends>
                        </field>
                        <field id="paymenttitle" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Título</label>
                            <comment>Título que aparecerá en el checkout como opción de pago</comment>
                            <validate>required-entry</validate>
                            <depends>
                                <field id="*/izipay/paymentoptions/method3/paymentactive">1</field>
                            </depends>
                        </field>
                        <field id="paymentdescription" translate="label" type="text" sortOrder="46" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Descripción</label>
                            <depends>
                                <field id="*/izipay/paymentoptions/method3/paymentactive">1</field>
                            </depends>
                        </field>
                    </group>
                    <group id="method4" translate="label" sortOrder="47" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label> Cuarto Método de Pago </label>
                        <field id="paymentactive" translate="label comment" sortOrder="48" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Método 4</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="paymentmethod" translate="label" type="text" sortOrder="49" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Método de Pago</label>
                            <comment>Escribir el metodo de pago, puede ser alguna de estas combinaciones CARD,QR</comment>
                            <validate>required-entry</validate>
                            <depends>
                                <field id="*/izipay/paymentoptions/method4/paymentactive">1</field>
                            </depends>
                        </field>
                        <field id="paymenttitle" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Título</label>
                            <comment>Título que aparecerá en el checkout como opción de pago</comment>
                            <validate>required-entry</validate>
                            <depends>
                                <field id="*/izipay/paymentoptions/method4/paymentactive">1</field>
                            </depends>
                        </field>
                        <field id="paymentdescription" translate="label" type="text" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Descripción</label>
                            <depends>
                                <field id="*/izipay/paymentoptions/method4/paymentactive">1</field>
                            </depends>
                        </field>
                    </group>
                    <group id="method5" translate="label" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label> Quinto Método de Pago </label>
                        <field id="paymentactive" translate="label comment" sortOrder="53" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Método 5</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="paymentmethod" translate="label" type="text" sortOrder="54" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Método de Pago</label>
                            <comment>Escribir el metodo de pago, puede ser alguna de estas combinaciones CARD,QR</comment>
                            <validate>required-entry</validate>
                            <depends>
                                <field id="*/izipay/paymentoptions/method5/paymentactive">1</field>
                            </depends>
                        </field>
                        <field id="paymenttitle" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Título</label>
                            <comment>Título que aparecerá en el checkout como opción de pago</comment>
                            <validate>required-entry</validate>
                            <depends>
                                <field id="*/izipay/paymentoptions/method5/paymentactive">1</field>
                            </depends>
                        </field>
                        <field id="paymentdescription" translate="label" type="text" sortOrder="56" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Descripción</label>
                            <depends>
                                <field id="*/izipay/paymentoptions/method5/paymentactive">1</field>
                            </depends>
                        </field>
                    </group>
                    <depends>
                        <field id="*/izipay/active">1</field>
                    </depends>
                </group>
                <group id="appearance" translate="label" sortOrder="57" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label> Apariencia del formulario </label>
                    <field id="logo" translate="label" type="image" sortOrder="58" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Logo del Comercio</label>
                        <backend_model>Izipay\Core\Model\Config\Backend\Image</backend_model>
                        <base_url type="media" scope_info="1">izipay</base_url>
                        <comment><![CDATA[Allowed file types: jpg, jpeg, gif, png, svg]]></comment>
                    </field>
                    <field id="typeform" translate="label" type="select" sortOrder="59" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Tipo de Formulario</label>
                        <source_model>Izipay\Core\Model\Config\Source\Typeform</source_model>
                    </field>
                    <field id="styleinput" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Estilo de los Inputs</label>
                        <source_model>Izipay\Core\Model\Config\Source\Styleinput</source_model>
                    </field>
                    <field id="theme" translate="label" type="select" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Theme</label>
                        <source_model>Izipay\Core\Model\Config\Source\Theme</source_model>
                    </field>
                    <depends>
                        <field id="*/izipay/active">1</field>
                    </depends>
                </group>
                <group id="termsandconditions" translate="label" sortOrder="62" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label> Terminos y Condiciones </label>
                    <field id="url" translate="label" type="text" sortOrder="63" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>URL Términos y condiciones</label>
                    </field>
                    <depends>
                        <field id="*/izipay/active">1</field>
                    </depends>
                </group>




                <field id="processing_izipay" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Izipay processing</label>
                    <source_model>Izipay\Core\Model\Config\OrderStatuses</source_model>
                    <comment>Status que tendrá la orden cuando cambie a "processing"</comment>
                    <depends>
                        <field id="*/izipay/active">1</field>
                    </depends>
                </field>
                <field id="pending_payment_izipay" translate="label" type="select" sortOrder="81" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Izipay Pendiente de Pago</label>
                    <source_model>Izipay\Core\Model\Config\OrderStatuses</source_model>
                    <comment>Status que tendrá la orden cuando cambie a "pending_payment"</comment>
                    <depends>
                        <field id="*/izipay/active">1</field>
                    </depends>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="83" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Orden</label>
                    <depends>
                        <field id="*/izipay/active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>