<div class="amcountdown-list">
    <div class="amcountdown-wrap">
        <div class="amcountdown-item">
            <span class="amcountdown-number" data-bind="text: $parent.days"></span>
            <!-- ko i18n: 'days' --><!-- /ko -->
        </div>
        <div class="amcountdown-item">
            <span class="amcountdown-number" data-bind="text: $parent.hours"></span>
            <!-- ko i18n: 'hours' --><!-- /ko -->
        </div>
    </div>
    <div class="amcountdown-wrap">
        <div class="amcountdown-item">
            <span class="amcountdown-number" data-bind="text: $parent.min"></span>
            <!-- ko i18n: 'min' --><!-- /ko -->
        </div>
        <div class="amcountdown-item">
            <span class="amcountdown-number" data-bind="text: $parent.sec"></span>
            <!-- ko i18n: 'sec' --><!-- /ko -->
        </div>
    </div>
</div>