<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-role="checkout-agreements">
    <div class="checkout-agreements fieldset">
        <!-- ko foreach: agreements -->
        <!-- ko if: ($parent.isAgreementRequired($data)) -->
        <!-- ko if: (agreementId == 2)-->
        <div class="checkout-agreement field choice required">
            <input type="checkbox" class="required-entry"
                   data-bind="attr: {
                                    'id': $parent.getCheckboxId($parentContext, agreementId),
                                    'name': 'agreement[' + agreementId + ']',
                                    'value': agreementId,
                                    'checked':true
                                    },
                                   click: $parent.click($parentContext, agreementId)">
            <label class="label" data-bind="attr: {'for': $parent.getCheckboxId($parentContext, agreementId)}">
                <span data-bind="html: checkboxText, click: function(data, event) { return $parent.showContentAgreement(data, event) }"
                      data-trigger="agreements">
                </span>
            </label>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot: ($parent.isAgreementRequired($data)) -->
        <!-- ko if: (agreementId == 2)-->
        <div class="checkout-agreement">
            <button type="button" class="action action-show"
                    data-bind="click: function(data, event) { return $parent.showContentAgreement(data, event) }" data-trigger="agreements">
                <span data-bind="html: checkboxText"></span>
            </button>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>
<div data-bind="mageInit: {
        'Magento_Ui/js/modal/modal':{
            'type': 'popup',
            'trigger': '[data-trigger=agreements]',
            'responsive': true,
            'buttons': [{
                text: jQuery.mage.__('close'),
                class: 'action'
            }]
        }}">
    <div class="content">
        <div class="checkout-agreements-item-content" data-bind="html: modalContent, style: {height: contentHeight, overflow:'auto' }"></div>
    </div>
</div>
