<li id="customer_step" class="checkout-customer-data" role="presentation" data-bind="fadeVisible: isVisible">
    <div class="step-title" data-bind="i18n: 'Customer Data'" data-role="title"></div>
    <div id="checkout-step-title"
         class="step-content"
         data-role="content">

        <each if="!quoteIsVirtual" args="getRegion('customer-email')" render="" ></each>

        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">

            <render args="customerFormTemplate"></render>

            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
