<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko foreach: getRegion('authentication') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('progressBar') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('estimation') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<div class="opc-wrapper">
    <ol class="opc" id="checkoutSteps">
    <!-- ko foreach: getRegion('steps') -->

        <!-- ko foreach: getRegion('customer-data-step') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <li class="checkout-shipping-address step-two" data-bind="css: $parent.isFirstStepFinished() ? 'bloquear_shipping' : ''">
            <div class="step-title" data-bind="i18n: 'Entrega'" data-role="title"></div>
            <div class="container steps" data-bind="fadeVisible: $parent.isVisibleShipping">
                <!-- ko foreach: getRegion('store-pickup-step') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->

                <!-- ko foreach: getRegion('shipping-step') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <div id="resumen_shipping_step" class="resumen-shipping-step" data-bind="fadeVisible: !$parent.isVisibleShipping()">
                <!-- ko foreach: getRegion('shipping-step-summary') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
                <div class="actions-toolbar">
                    <div class="secondary">
                        <button type="button" class="button edit" data-bind="click: $parent.showShippingStep($parent)">
                            <span><!-- ko i18n: 'Edit'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </div>
        </li>

        <!-- ko foreach: getRegion('billing-step') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    <!--/ko-->
    </ol>
</div>

<!-- ko foreach: getRegion('sidebar') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<div id="fastshipping-additional-info-modal" style="display: none;">
    <div class="custom-popup-content">
        <div class="custom-popup-content_info">
            <span class="icon-fast"></span>
            <p>
                ENVÍO RÁPIDO A DOMICILIO <br>
                <span>Tu pedido llega el mismo día de tu compra*</span>
            </p>
        </div>
        <div class="custom-popup-content_delivery">
            <div class="section">
                <b>LIMA METROPOLITANA Y CALLAO:</b>

                <p> <b>Distritos de Cobertura:</b> La Molina, Los Olivos, Lince, San Isidro, Jesus María, Pueblo Libre,
                    Magdalena, San Miguel, San borja, Surco, Barranco, Chorrillos, Surquillo, Miraflores. </p>
                <br>
                <p> <b>Horarios de envío:</b> De lunes a Sábado de 12 pm a 8 pm. de acuerdo al horario de entrega
                    seleccionado por el cliente.</p>

            </div>
            <div class="section">
                <b>RANGOS DE HORARIOS DE ENTREGA:</b>

                <p>
                    Si tu compra la realizas entre las <b>6 pm y 11 am</b> podrás recibir tu compra en los siguientes
                    rangos:
                </p>

                <ul class="section_list">
                    <li><b>Rango 1:</b> De 12 pm a 4 pm</li>
                    <li><b>Rango 2:</b> De 4 pm a 8 pm</li>
                </ul>

                <p>Si tu compra la ralizas entre las <b>11 am y 3 pm</b> podrás recibir tu compra en los siguientes
                    rangos:</p>

                <ul class="section_listTwo">
                    <li><b>Rango 1:</b> De 4 pm a 8 pm</li>
                </ul>

            </div>
            <div class="section">
                <b>LIMA PERIFÉRICA:</b>
                <p> Este Servicio no aplica para ciertos distritos de Lima Metropolitana y Callao, así como distritos
                    periféricos.</p>
                <div class="section_provinces">
                    <b>PROVINCIAS:</b>
                    <p> Este Servicio no aplica para provincias.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="regularshipping-additional-info-modal" style="display: none;">
    <div class="custom-popup-content">
        <div class="custom-popup-content_info">
            <span class="icon-regular"></span>
            <p>
                ENVÍO REGULAR A DOMICILIO
                <span>Tu pedido llega entre 24 y 48 horas luego de tu compra*</span>
            </p>
        </div>
        <div class="custom-popup-content_delivery">
            <div class="section">
                <b>LIMA METROPOLITANA Y CALLAO:</b>
                <p>
                    <b>Distritos de Cobertura:</b> Lima, Ate, Barranco, Breña, Carabayllo, Chorrillos, comas, El
                    Augustino, Independencia, Jesus María, La Molina, La Victoria, Lince, Los Olivos, Magdalena del Mar,
                    Pueblo Libre, Miraflores, Rimac, San Borja, San Isidro, SJL, SJM, San Luis, SMP, San Miguel, Santa
                    Anita, Santiago de Surco, Surquillo, VES, VMT, Callao. <br>
                    <br>
                    <b>Horarios de envío</b> De lunes a viernes, desde las 8 am hasta las  7 pm y sábados desde las 8 am
                     hasta las 2 pm.
                </p>
            </div>
            <div class="section">
                <b>PERIFERIA DE LIMA:</b>
                <p>
                    <b>Distritos de Cobertura:</b> Ancón, Chaclacayo, Cineguilla, Lurigancho, Lurín, Pachacamac,
                    Pucusana, Puente Piedra, Punta Hermosa, Punta Negra, San Bartolo, Santa María del Mar, Santa rosa.
                    <br>
                    <br>
                    <b>Horarios de envío:</b> Lunes, Miércoles y Viernes, desde las 8 am hasta las 7 pm.
                </p>
            </div>
            <div class="section">
                <b>PROVINCIAS:</b>
                <div class="section_provinces">
                    <span>Provicias:</span> Llegamos a todas las provincias de Perú. <br>
                </div>
                <div class="section_hour">
                    <span>Horarios de envío:</span> De lunes a viernes, desde las 8 am hasta las 7 pm y sábados desde las 8 am
                    hasta las 2pm.
                </div>
                <div class="section_time">
                    <span>Tiempo de entrega:</span> 5 a 15 días de acuerdo a la provincia y distrito de la entrega. <br>
                </div>
            </div>
        </div>
    </div>
</div>

