<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko foreach: getRegion('authentication') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('progressBar') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('estimation') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<div class="opc-wrapper">
    <ol class="opc" id="checkoutSteps">
    <!-- ko foreach: getRegion('steps') -->

        <!-- ko foreach: getRegion('customer-data-step') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <li class="checkout-shipping-address step-two" data-bind="css: $parent.isFirstStepFinished() ? 'bloquear_shipping' : ''">
            <div class="step-title" data-bind="i18n: 'Entrega'" data-role="title"></div>
            <div class="container steps" data-bind="fadeVisible: $parent.isVisibleShipping">
                <!-- ko foreach: getRegion('store-pickup-step') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->

                <!-- ko foreach: getRegion('shipping-step') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <div id="resumen_shipping_step" class="resumen-shipping-step" data-bind="fadeVisible: !$parent.isVisibleShipping()">
                <!-- ko foreach: getRegion('shipping-step-summary') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
                <div class="actions-toolbar">
                    <div class="secondary">
                        <button type="button" class="button edit" data-bind="click: $parent.showShippingStep($parent)">
                            <span><!-- ko i18n: 'Edit'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </div>
        </li>

        <!-- ko foreach: getRegion('billing-step') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    <!--/ko-->
    </ol>
</div>

<!-- ko foreach: getRegion('sidebar') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<div id="fastshipping-additional-info-modal" style="display: none;">
    <div class="custom-popup-content">
        <div class="custom-popup-content_info">
            <span class="icon-fast"></span>
            <p>
                ENVÍO RÁPIDO A DOMICILIO <br>
                <span>Tu pedido llega el mismo día de tu compra*</span>
            </p>
        </div>
        <div class="custom-popup-content_delivery">
            <div class="section">
                <b>LIMA METROPOLITANA Y CALLAO:</b>

                <p> <b>Distritos de Cobertura:</b> La Molina, Los Olivos, Lince, San Isidro, Jesus María, Pueblo Libre,
                    Magdalena, San Miguel, San borja, Surco, Barranco, Chorrillos, Surquillo, Miraflores. </p>
                <br>
                <p> <b>Horarios de envío:</b> De lunes a Sábado de 12 pm a 8 pm. de acuerdo al horario de entrega
                    seleccionado por el cliente.</p>

            </div>
            <div class="section">
                <b>RANGOS DE HORARIOS DE ENTREGA:</b>

                <p>
                    Si tu compra la realizas entre las <b>6 pm y 11 am</b> podrás recibir tu compra en los siguientes
                    rangos:
                </p>

                <ul class="section_list">
                    <li><b>Rango 1:</b> De 12 pm a 4 pm</li>
                    <li><b>Rango 2:</b> De 4 pm a 8 pm</li>
                </ul>

                <p>Si tu compra la realizas entre las <b>11 am y 3 pm</b> podrás recibir tu compra en los siguientes
                    rangos:</p>

                <ul class="section_listTwo">
                    <li><b>Rango 1:</b> De 4 pm a 8 pm</li>
                </ul>

            </div>
            <div class="section">
                <b>LIMA PERIFÉRICA:</b>
                <p> Este Servicio no aplica para ciertos distritos de Lima Metropolitana y Callao, así como distritos
                    periféricos.</p>
                <div class="section_provinces">
                    <b>PROVINCIAS:</b>
                    <p> Este Servicio no aplica para provincias.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="regularshipping-additional-info-modal" style="display: none;">
    <div class="custom-popup-content">
        <div class="custom-popup-content_info">
            <span class="icon-regular"></span>
            <p>
                ENVÍO REGULAR A DOMICILIO
                <span>Tu pedido llega entre 24 y 48 horas luego de tu compra*</span>
            </p>
        </div>
        <div class="custom-popup-content_delivery">
            <div class="section">
                <b>LIMA METROPOLITANA Y CALLAO:</b>
                <p>
                    <b>Distritos de Cobertura:</b> La Molina, Los Olivos, Lince, San Isidro, Jesus María, Pueblo Libre,
                    Magdalena, San Miguel, San Borja, Surco, Barranco, Chorrillos, Surquillo, Miraflores.
                    <br>
                    <br>
                    <b>Horarios de envío</b> De lunes a Sábado de 12 pm a 8 pm. de acuerdo al horario de entrega
                    seleccionado por el cliente.
                    <br>
                    <br>
                    No disponible en días feriados.
                </p>
            </div>
            <div class="section">
                <b>RANGOS DE HORARIOS DE ENTREGA:</b>
                <p>
                    Si tu compra la realizas entre las <b>6 pm y 11 am</b> podrás recibir tu compra en los siguientes
                    rangos:
                </p>
                <ul class="section_list">
                    <li><b>Rango 1:</b> De 12 pm a 4 pm</li>
                    <li><b>Rango 2:</b> De 4 pm a 8 pm</li>
                </ul>
                <p>Si tu compra la realizas entre las <b>11 am y 3 pm</b> podrás recibir tu compra en los siguientes
                    rangos:</p>

                <ul class="section_listTwo">
                    <li><b>Rango 1:</b> De 4 pm a 8 pm</li>
                </ul>
            </div>
            <div class="section">
                <b>LIMA PERIFÉRICA:</b>
                <p> Este Servicio no aplica para ciertos distritos de Lima Metropolitana y Callao, así como distritos
                    periféricos.</p>
                <div class="section_provinces">
                    <b>PROVINCIAS:</b>
                    <p> Este Servicio no aplica para provincias.</p>
                </div>
            </div>
        </div>
    </div>
</div>

