<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<ul class="opc-progress-bar">
    <!-- ko foreach: { data: steps().sort(sortItems), as: 'item' } -->
        <li class="opc-progress-bar-item" data-bind="class: $parent.getStepObservable(itemIndex())">
            <span data-bind="i18n: $parent.getTitle($parent.steps()[itemIndex()]), click: $parent.navigateTo($parent.steps()[itemIndex()])"></span>
        </li>
    <!-- /ko -->
</ul>
