@media all and (min-width: 768px), print {
  .amcountdown-block-wrapper.-circle .amcountdown-item {
    margin: 0 18px 0 0;
  }
  .amcountdown-block-wrapper.-circle .amcountdown-item:last-child {
    margin-right: 0;
  }
  .amcountdown-block-wrapper.-round {
    max-width: 450px;
  }
  .amcountdown-block-wrapper.-round .amcountdown-list {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .amcountdown-block-wrapper.-round .amcountdown-item {
    margin: 0 16px 24px 0;
    padding: 14px 8px 6px;
  }
  .amcountdown-block-wrapper.-round .amcountdown-item:last-child {
    margin-right: 0;
  }
  .amcountdown-block-wrapper.-round .amcountdown-text.-after {
    margin: 0;
  }
  .amcountdown-block-wrapper.-progress {
    max-width: 410px;
  }
  .amcountdown-block-wrapper.-progress .amcountdown-wrap:not(:last-of-type) {
    margin-right: 15px;
  }
  .amcountdown-block-wrapper.-progress .amcountdown-item:last-child {
    margin-right: 0;
  }
}
.amcountdown-block-wrapper {
  max-width: 240px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}
.amcountdown-block-wrapper .amcountdown-text {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.amcountdown-block-wrapper .amcountdown-text.-after {
  margin: 10px 0 0;
  font-size: 12px;
  font-weight: normal;
}
.amcountdown-block-wrapper .amcountdown-content {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.amcountdown-block-wrapper .amcountdown-list {
  margin: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.amcountdown-block-wrapper .amcountdown-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.amcountdown-block-wrapper .amcountdown-wrap:not(:last-of-type) {
  margin-right: 10px;
}
.amcountdown-block-wrapper .amcountdown-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 45px;
  box-sizing: border-box;
  margin: 0 10px 10px 0;
  padding: 2px 8px 6px;
  border-radius: 2px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  background: #d5d5d5;
}
.amcountdown-block-wrapper .amcountdown-item:last-child {
  margin-right: 0;
}
.amcountdown-block-wrapper .amcountdown-number {
  position: relative;
  padding-bottom: 8px;
  font-size: 18px;
  color: #000;
}
.amcountdown-block-wrapper .amcountdown-number:after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
}
.amcountdown-block-wrapper .amcountdown-link {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.admin-amasty-countdown-field.admin__control-text.widget-option {
  background: transparent;
  opacity: initial;
  cursor: default;
}
.amcountdown-block-wrapper.-transparent .amcountdown-text {
  margin-bottom: 8px;
}
.amcountdown-block-wrapper.-transparent .amcountdown-text.-after {
  margin: 0;
}
.amcountdown-block-wrapper.-transparent .amcountdown-item {
  background-color: transparent !important;
}
.amcountdown-block-wrapper.-circle {
  max-width: 255px;
}
.amcountdown-block-wrapper.-circle .amcountdown-wrap:not(:last-of-type) {
  margin-right: 17px;
}
.amcountdown-block-wrapper.-circle .amcountdown-item {
  position: relative;
  margin-right: 16px;
  background-color: transparent !important;
}
.amcountdown-block-wrapper.-circle .amcountdown-item:last-child {
  margin-right: 0;
}
.amcountdown-block-wrapper.-circle .amcountdown-number {
  margin-top: 8px;
  padding-bottom: 0;
  font-size: 20px;
  line-height: 18px;
}
.amcountdown-block-wrapper.-circle .amcountdown-number:after {
  content: none;
}
.amcountdown-block-wrapper.-circle .amcountdown-svg-wrapper {
  position: absolute;
  top: -2px;
  left: -5px;
  width: 55px;
  height: 55px;
  margin: auto;
  transform: rotate(-90deg);
}
.amcountdown-block-wrapper.-circle .amcountdown-bottom {
  stroke-width: 2px;
  fill: none;
  stroke: #b6b6b6;
}
.amcountdown-block-wrapper.-circle .amcountdown-image {
  width: 55px;
  height: 55px;
}
.amcountdown-block-wrapper.-circle .amcountdown-top {
  stroke-width: 2px;
  stroke-dasharray: 157px;
  stroke-linecap: round;
  fill: none;
  stroke: #ff9416;
}
.amcountdown-block-wrapper.-honeycomb {
  max-width: 300px;
}
.amcountdown-block-wrapper.-honeycomb .amcountdown-wrap:not(:last-of-type) {
  margin-right: 17px;
}
.amcountdown-block-wrapper.-honeycomb .amcountdown-item {
  position: relative;
  min-width: 60px;
  margin-right: 20px;
  padding: 12px 8px 12px;
  background-color: transparent !important;
}
.amcountdown-block-wrapper.-honeycomb .amcountdown-item:last-child {
  margin-right: 0;
}
.amcountdown-block-wrapper.-honeycomb .amcountdown-number {
  margin-top: 8px;
  padding-bottom: 0;
  font-size: 20px;
  line-height: 18px;
}
.amcountdown-block-wrapper.-honeycomb .amcountdown-number:after {
  content: none;
}
.amcountdown-block-wrapper.-honeycomb span {
  z-index: 10;
}
.amcountdown-block-wrapper.-honeycomb .amcountdown-image {
  position: absolute;
  top: 2px;
  left: 0;
  width: 60px;
  height: 65px;
}
.amcountdown-block-wrapper.-round {
  max-width: 240px;
}
.amcountdown-block-wrapper.-round .amcountdown-text {
  margin-bottom: 20px;
}
.amcountdown-block-wrapper.-round .amcountdown-text.-after {
  margin: 0;
}
.amcountdown-block-wrapper.-round .amcountdown-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.amcountdown-block-wrapper.-round .amcountdown-content {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.amcountdown-block-wrapper.-round .amcountdown-wrap:not(:last-of-type) {
  margin-right: 17px;
}
.amcountdown-block-wrapper.-round .amcountdown-item {
  position: relative;
  min-width: 96px;
  margin: 0 15px 16px 0;
  padding: 14px 8px 15px;
  font-size: 15px;
  background-color: transparent !important;
}
.amcountdown-block-wrapper.-round .amcountdown-number {
  margin-top: 8px;
  padding-bottom: 0;
  font-size: 50px;
  font-weight: normal;
  line-height: 40px;
}
.amcountdown-block-wrapper.-round .amcountdown-number:after {
  content: none;
}
.amcountdown-block-wrapper.-round .amcountdown-svg-wrapper {
  position: absolute;
  top: -4px;
  left: -6px;
  height: 110px;
  width: 110px;
}
.amcountdown-block-wrapper.-round .amcountdown-bottom {
  stroke-width: 3px;
  fill: none;
  stroke: #b6b6b6;
}
.amcountdown-block-wrapper.-round .amcountdown-image {
  fill: none;
  transform: rotate(-90deg);
}
.amcountdown-block-wrapper.-round .amcountdown-pointer.-static {
  fill: #ff9416;
}
.amcountdown-block-wrapper.-round .amcountdown-pointer {
  fill: #f26322;
}
.amcountdown-block-wrapper.-round .amcountdown-top {
  stroke-dasharray: 628px;
  stroke-linecap: round;
  stroke-width: 6px;
  fill: none;
}
.amcountdown-block-wrapper.-progress {
  max-width: 205px;
}
.amcountdown-block-wrapper.-progress .amcountdown-text.-after {
  margin-top: 15px;
}
.amcountdown-block-wrapper.-progress .amcountdown-content {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.amcountdown-block-wrapper.-progress .amcountdown-wrap {
  margin-right: 0;
}
.amcountdown-block-wrapper.-progress .amcountdown-item {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 15px 0 0;
  padding: 0;
  font-size: 25px;
  background-color: transparent !important;
}
.amcountdown-block-wrapper.-progress .amcountdown-item:last-child {
  margin-right: 0;
}
.amcountdown-block-wrapper.-progress .amcountdown-number {
  margin-right: 7px;
  padding: 0;
  font-size: 25px;
}
.amcountdown-block-wrapper.-progress .amcountdown-number:after {
  content: none;
}
.amcountdown-block-wrapper.-progress .amcountdown-progressbar {
  position: relative;
  margin-top: 10px;
  line-height: 0;
  font-size: 0;
}
.amcountdown-block-wrapper.-progress .amcountdown-progressbar:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff9416;
}
.amcountdown-block-wrapper.-progress .amcountdown-progress {
  width: 100%;
  height: 4px;
  border: none;
  background: #cdcdcd;
}
.amcountdown-block-wrapper.-progress .amcountdown-progress::-webkit-progress-bar {
  width: 100%;
  height: 4px;
  border: none;
  background: #cdcdcd;
}
.amcountdown-block-wrapper.-progress .amcountdown-progress::-webkit-progress-value {
  background: linear-gradient(90deg, #ff9416 0%, #f26322 100%);
}
.amcountdown-block-wrapper.-progress .amcountdown-progress::-moz-progress-bar {
  background: linear-gradient(90deg, #ff9416 0%, #f26322 100%);
}
.amcountdown-block-wrapper.-progress .amcountdown-progress::-ms-fill {
  background: linear-gradient(90deg, #ff9416 0%, #f26322 100%);
}
.amcountdown-block-wrapper.-progress .amcountdown-pointer {
  position: absolute;
  top: -2px;
  left: 69%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f26322;
}
