<?xml version="1.0" ?>
<!--
/**
 * @copyright Copyright (c) 2024 Vass
 * @package Vass_AppIntegrations
 * @author Vass Team
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Plugins -->
    <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="Vass_AppIntegrations_Plugin_Magento_Customer_Controller_Account_LoginPost"
                type="Vass\AppIntegrations\Plugin\Magento\Customer\LoginPost" sortOrder="10"
                disabled="false"/>
    </type>

    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="Vass_AppIntegrations_Plugin_Magento_Customer_Controller_Account_CreatePost"
                type="Vass\AppIntegrations\Plugin\Magento\Customer\CreatePost" sortOrder="10"
                disabled="false"/>
    </type>
</config>
