//
//  Form
//  _____________________________________

//
//  Common
//  -------------------------------------

& when (@media-common = true) {
    .amform-form {
        margin: 0 @indent__base;
        background-color: @primary-white;

        .field {
            padding: 0 @indent__base;
            margin-bottom: 8px;
            height: 100%;


            &.fb-h3 {
                padding: 0;
                padding-top: @indent__l;
                background-color: @tertiary-white;

                .amform-title {
                    .lib-font-size(20);
                    font-weight: @font-weight__bold;
                    color: @primary-white;
                    background-color: @primary-black;
                    padding: 12px @indent__base;
                    margin-bottom: 0;
                    line-height: 22px;
                }
            }

            &.fb-checkbox {
                width: auto;
                padding: 0 0 0 @indent__base;
                margin: 0;
                margin-top: @indent__base;

                .amform-checkbox {
                    margin: 0;
                }

                .checkbox-group {
                    display: flex;
                    align-items: center;
                }

                .fb-checkbox-group-label {
                    display: none;
                }
            }

            .amform-textarea {
                height: 136px;
                margin-top: @indent__base;
            }

            .fb-label-checkbox {
                & > p {
                    margin: 0;
                }
            }

            &.fb-radio {
                .label {
                    margin-bottom: @indent__base;
                }

                .radio-group {
                    display: flex;
                    gap: @indent__m;

                    .amform-groupv2 {
                        display: flex;
                        align-items: center;
                        gap: @indent__s;

                        .amform-radiotwo {
                            margin: 0;
                        }
                    }
                }
            }

            &:has(.fb-label-checkbox) {
                max-width: 90%;
                padding-right: 0;
                padding-left: 12px;
                margin: 0;
                margin-top: 16px;
            }

            &:has(.amform-section-title) {
                .lib-font-size(@font-size__l);
                font-weight: @font-weight__bold;
                margin-bottom: 6px;
            }

            &:has(.amform-section-subtitle) {
                .lib-font-size(14);
                margin-bottom: @indent__base;
                color: @primary-black;
            }


            .amform-info {
                font-weight: @font-weight__heavier;
                color: @primary-black;
                margin-top: @indent__m;
            }

            &:has(.amcform-last-field) {
                margin-bottom: @indent__l;
            }

            &:has(.amform-title) {
                margin-bottom: @indent__l;
            }

            .control {
                position: relative;

                &:has(.amform-date) {
                    &::after {
                        .lib-font-size(@font-size__l);
                        position: absolute;
                        content: @icon-calendar;
                        font-family: @icons__font-name;
                        color: @color-gray-dark3;
                        top: ~"calc((56px / 2) + 10px)";
                        right: 20px;
                        transform: translateY(-50%);
                    }
                }

                .amform-date {
                    .lib-form-element-input(@_type: input-text);
                }

                .ui-datepicker-trigger {
                    display: none;
                }
            }

            .amform-layout {
                &-one{
                    margin-right: 0;
                }
            }

        }

        .amcform-toolbar {
            width: 100%;
            padding: 8px @indent__base @indent__l;

            .amcform-submit {
                width: 100%;
            }
        }
    }
}

//
//  Desktop
//  -------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .amform-layout-two {
        max-width: 50%;
        margin-right: 2%;
    }

    .amform-form {
        .amform-textarea {
            margin-top: 8px;
        }

        .field {
            padding: 0 @indent__l;
            margin-bottom: @indent__m;

            &.fb-checkbox {
                padding-left: @indent__l;
            }

            &:has(.amform-field-right) {
                padding-left: 8px;
                padding-right: @indent__l;
            }

            &:has(.amform-field-left) {
                padding-left: @indent__l;
                padding-right: 8px;
            }

            .control {
                &:has(.amcform-firstdate) {
                    max-width: 49%;
                }
            }

            &:has(.fb-label-checkbox) {
                max-width: 50%;
                margin: 0;
            }

            &.fb-checkbox {
                margin: 0;
            }
        }

        .amcform-toolbar {
            padding-left: @indent__l;

            .amcform-submit {
                width: 250px;
            }
       }
    }
}

//
//  Mobile
//  -------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .amform-layout-two {
        max-width: 100%;
    }
}
