<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="WolfSellers\CustomForm\Logger\Handler">
		<arguments>
			<argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
		</arguments>
	</type>
	<type name="WolfSellers\CustomForm\Logger\Logger">
		<arguments>
			<argument name="name" xsi:type="string">CUSTOM_FORM</argument>
			<argument name="handlers"  xsi:type="array">
				<item name="system" xsi:type="object">WolfSellers\CustomForm\Logger\Handler</item>
			</argument>
		</arguments>
	</type>
	<type name="Amasty\Customform\Model\Export\ConvertToCsv">
		<plugin name="WolfSellers_CustomForm_Plugin_ConvertToCsv" type="WolfSellers\CustomForm\Plugin\Customform\ConvertToCsvPlugin" sortOrder="10" disabled="false"/>
	</type>
</config>
