.lineas{
    background: black;
    width: 72px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 47px 25px 0;
    color: white;
    float: left;
    font-size: 15px;
}
.lineas-1{
    height: 80px !important;
    display: flex;
    padding-left: 20px;
    padding-top: 64px;
    font-weight: bold;
}
.email-prod-second{
    display: grid !important;
}
.email-prod-main {
    display: grid;
    width: 25%;
    float: left;
}
.text-email{
    display: block;
    display: -webkit-box;
    max-width: 80%;
    height: 29px;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn{
    font-size: 0.8rem;
    border-radius: 10px;
    line-height: 1;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 8px;
    text-decoration: none;
}
.btn:hover{
    background: #c5d2df;
    color: #000000;
    text-decoration: none;
}
