.lineas{
    background: black;
    width: 72px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 47px 25px 0;
    color: white;
    float: left;
    font-size: 15px;
}
.lineas-1{
    height: 80px !important;
    display: flex;
    padding-left: 20px;
    padding-top: 64px;
    font-weight: bold;
}
.email-prod-second{
    display: grid !important;
}
.email-prod-main {
    display: table-cell;
}
