<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wolfsellers_headerlinks>
            <general>
                <enabled>1</enabled>
            </general>
            <btn1>
                <button1>0</button1>
                <button1_name></button1_name>
                <button1_url></button1_url>
                <button1_content></button1_content>
            </btn1>
            <btn2>
                <button2>0</button2>
                <button2_name></button2_name>
                <button2_url></button2_url>
                <button2_content></button2_content>
            </btn2>
            <btn3>
                <button3>0</button3>
                <button3_name></button3_name>
                <button3_url></button3_url>
                <button3_content></button3_content>
            </btn3>
        </wolfsellers_headerlinks>
    </default>
</config>
