<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<vassvisanet>
				<active>0</active>
				<model>Vass\NiubizVisanet\Model\Payment\VassVisanet</model>
				<title>VassVisanet</title>
				<allowspecific>0</allowspecific>
			</vassvisanet>
		</payment>
	</default>
</config>
