//
// Color variables
// ----------------------------------------------

@primary-00: #A6C9BF;
@primary-01: #D2E4DF;
@primary-02: #E9F1EF;

@secondary-beige-00: #E1D7CD;
@secondary-beige-01: #F0EBE6;
@secondary-beige-02: #F7F5F2;

@secondary-black-00: #141211;
@secondary-black-01: #898888;
@secondary-black-02: #C4C4C3;
@secondary-black-03: #F3F3F3;

@secondary-white-00: #FFFFFF;

@color-error-100: #FEE4E2;
@color-error-200: #FEE4E2;
@color-error-300: #F97066;

@color-warning-100: #FEF0C7;
@color-warning-200: #FEDF89;
@color-warning-300: #FEC84B;

@color-green-200: #A6F4C5;
@color-green-400: #A6F4C5;
@color-green-600: #039855;
