<div class="payment-type" >
    <div class="payment-option-type">
        <input type="radio" name="payment_type" id="boleta" value="boleta" checked="checked" data-bind="click: click">
        <label for="boleta" data-bind="i18n: 'Boleta'"></label>
    </div>
    <div class="payment-option-type">
        <input type="radio" name="payment_type" id="factura" value="factura" data-bind="click: click">
        <label for="factura" data-bind="i18n: 'Factura'"></label>
    </div>
    <span data-bind="i18n:'Your receipt address will be the registered delivery address'" ></span>
</div>
