<div>
    <div class="admin__field admin__field-option"
         id="picker_me"
         data-role="option"
         role="option"
         aria-hidden="false">
        <input type="radio" id="me" name="picker" data-bind="checked: value, value: 'me'">
        <label for="me">Yo</label>
    </div>
    <div class="admin__field admin__field-option"
         id="picker_other"
         data-role="option"
         role="option"
         aria-hidden="false">
        <input type="radio" id="other" name="picker" data-bind="checked: value, value: 'other'">
        <label for="other">Otra persona</label>
    </div>
</div>
