<!-- ko if: $row().status == 0 -->
<span class="grid-severity-minor"><span translate="'Scheduled'"></span></span>
<!-- /ko -->
<!-- ko if: $row().status == 1 -->
<span class="grid-severity-notice"><span translate="'Active'"></span></span>
<!-- /ko -->
<!-- ko if: $row().status == 2 -->
<span class="grid-severity-critical"><span translate="'Stopped'"></span></span>
<!-- /ko -->
<!-- ko if: $row().status == 3 -->
<span class="grid-severity-expired"><span translate="'Expired'"></span></span>
<!-- /ko -->
