//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .ba-review {
        &__wrapper {
            display: flex;
            justify-content: center;
            gap: 24px;

            .star-gold{
                color: #F5A98E;
                .lib-font-size(19);
            }

            .star-grey {
                color: #D9D9D9;
                .lib-font-size(19);
            }
        }

        &-label-star {
            display: flex;
            align-items: center;
            margin-bottom: 19px;
        }

        &-img {
            max-width: 441px;
        }

        &-info {
            display: flex;
            flex-direction: column;
            background-color: #F7F6F6;
            padding: 48px;
            max-width: 612px;
        }

        &-title {
            color: #474747;
            .lib-font-size(16);
            font-weight: @font-weight__regular;
            line-height: 26px;
            margin-bottom: 15px;
        }

        &-label {
            color: #000;
            .lib-font-size(22);
            font-weight: @font-weight__regular;
            line-height: 28px;
            text-transform: uppercase;
            padding-right: 14px;
        }

        &-name{
            color: #474747;
            .lib-font-size(16);
            font-weight: @font-weight__regular;
            line-height: 24px;
        }

        &-star {
            display: flex;
            gap: 1px;
        }
    }

    .ba-review-slider-wad__wrapper {
        position: relative;

        .ba-review-wad-prev,
        .ba-review-wad-next {
            z-index: 2;
            position: absolute;

            height: 48px;
            width: 48px;
            min-width: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 80px;
            border: 1px solid #000;
            background: rgba(255, 255, 255, 0.70);
            cursor: pointer;
        }

        .ba-review-wad-prev {
            left:  50px;
        }

        .ba-review-wad-next {
            right: 50px;
        }
    }

    .ba-review-wad-slider {
        .swiper-scrollbar-review-wad.swiper-scrollbar-horizontal {
            left: 0;
            bottom: 0;
            z-index: 10;
            height: 2px;
        }

        .swiper-scrollbar-drag {
            color: #000;
        }
    }

    .ba-review-wad__bottom {
        display: flex;
        justify-content: space-between;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .ba-review {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &-info {
            padding: 48px 20px;
            width: 100%;
            margin-bottom: 25px;
        }
    }

    .ba-review-label-star {
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;

        .ba-review-label {
            font-size: 18px;
            padding: 0;
        }
    }

    .ba-review-wad__bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
    }

    .ba-review-slider-wad__wrapper {
        position: relative;
        padding: 0 16px;

        .home-subtitle {
            color: #000;
            font-family: @font-family__secondary;
            .lib-font-size(30);
            line-height: 38px;
            padding-bottom: 25px;
            display: block;

            &--inside {
                display: none;
            }
        }

        .ba-review-wad-prev,
        .ba-review-wad-next {
            bottom: 50px;

            &.swiper-button-disabled {
                display: none;
            }
        }

        .ba-review-wad-prev {
            left:  25px;
        }

        .ba-review-wad-next {
            right: 25px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .ba-review {
        &__wrapper {
            margin-bottom: 67px;
        }
    }

    .ba-review-slider-wad__wrapper {
        padding: 0 0 0 80px;

        .home-subtitle {
            color: #000;
            font-family: @font-family__secondary;
            .lib-font-size(32);
            line-height: 40px;
            padding-bottom: 48px;
            display: block;

            &--outside {
                display: none;
            }
        }
    }

    .ba-review-wad-prev,
    .ba-review-wad-next {
        top: 93px;
    }
}
