<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="currency_display_options_forming">
        <observer name="localize_currencysymbol_sol_peru" instance="Niubiz\Ncp\Observer\ModifyCurrencyPeruvianSol" />
    </event>
    <event name="payment_method_assign_data">
        <observer name="additional_data_reader" instance="Niubiz\Ncp\Observer\AdditionalDataReader" />
    </event>
  
</config>