<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\CheckoutStyleSwitcher\Block\Onepage\BillingAddressRelocateProcessor">
        <plugin name="add_custom_field_checkout_form"
                type="Vass\Checkout\Plugin\Block\Checkout\LayoutProcessor"
                sortOrder="200"
                disabled="false"/>
    </type>

    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="Vass_Checkout_Plugin_Magento_Customer_CustomerData_Customer"
                type="Vass\Checkout\Plugin\Magento\Customer\CustomerData\Customer"
                sortOrder="10"
                disabled="false"/>
    </type>

    <preference for="Magento\Checkout\Block\Onepage\Success" type="Vass\Checkout\Block\Onepage\Success"/>
</config>
