<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="regular_shipping" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Envio Regular Opening Configuration</label>
            <tab>wolfsellers</tab>
            <resource>Magento_Config::config</resource>
            <group id="openings_1" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuración de Distritos 1</label>
                <field id="location" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" type="multiselect">
                    <label>Ubicaciones</label>
                    <source_model>WolfSellers\ShippingStepMessages\Model\Config\Source\LocationOptions</source_model>
                    <comment>Seleccione las ubicaciones disponibles para envío regular</comment>
                </field>
                <field id="sending_hours" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <label>APLICA Horarios de envío</label>
                    <comment>Ingrese el horario de apertura para la ubicaciones seleccionadas</comment>
                </field>
                <field id="delivery_time_message" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <label>APLICA Tiempo de entrega</label>
                    <comment>Ingrese el mensaje a mostrar para tiempo de entrega</comment>
                </field>
                <field id="rest_sending_hours" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <label>RESTO Horarios de envío</label>
                    <comment>Ingrese el horario de apertura para la ubicaciones seleccionadas</comment>
                </field>
                <field id="rest_delivery_time_message" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <label>RESTO Tiempo de entrega</label>
                    <comment>Ingrese el mensaje a mostrar para tiempo de entrega</comment>
                </field>
            </group>




            <group id="openings_2" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuración de Distritos 2</label>
                <field id="location" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" type="multiselect">
                    <label>Ubicaciones</label>
                    <source_model>WolfSellers\ShippingStepMessages\Model\Config\Source\LocationOptions</source_model>
                    <comment>Seleccione las ubicaciones disponibles para envío regular</comment>
                </field>
                <field id="sending_hours" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <label>APLICA Horarios de envío</label>
                    <comment>Ingrese el horario de apertura para la ubicaciones seleccionadas</comment>
                </field>
                <field id="delivery_time_message" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <label>APLICA Tiempo de entrega</label>
                    <comment>Ingrese el mensaje a mostrar para tiempo de entrega</comment>
                </field>
                <field id="rest_sending_hours" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <label>RESTO Horarios de envío</label>
                    <comment>Ingrese el horario de apertura para la ubicaciones seleccionadas</comment>
                </field>
                <field id="rest_delivery_time_message" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <label>RESTO Tiempo de entrega</label>
                    <comment>Ingrese el mensaje a mostrar para tiempo de entrega</comment>
                </field>
            </group>
        </section>
    </system>
</config>
