<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bopis>
            <qrcode_configuration>
                <is_active>0</is_active>
                <qr_size>400</qr_size>
            </qrcode_configuration>
        </bopis>
    </default>
</config>
