@primary: @black;
@secondary: gray;

@secondary-black: #222222;

@white: #ffffff;
@black: #000000;

@gray: #e5e5e5;
@gray-A: #aaaaaa;
@color-hovermenuadmin: #414141;

@background-table:#f8f8f8;
@border-table:#e3e3e3;



@color-primary: #f39202;
@color-secondary: #323232;

@color-white: #ffffff;
@color-black: #000000;

@color-gray1: #eceff1;
@color-gray2: #aaa6a0;
@color-gray3: #999999;
@color-gray-ad: #adadad;
@color-gray4: #455A64;
@color-gray5: #DBDBDB;
@color-gray6:  #ebebeb;
@color-gray7: #C4C4C4;
@color-gray8: #f0f0f0;;
@color-gray9: #767676;
@color-gry10: #eeeeee;
@color-gray11: #656565;
@color-gray12: #F2F2F2;
@color-gray13: #707070;
@color-azul: #1C8ADB;
@color-azul2: #E8F0FE;
@color-azul3: #006DB1;
@color-naranja: #F66B0E;
@color-verde: #01AD79;
@color-verde2: #1AAD79;
@color-rojo: #EA4C5A;
@color-rojo2: #ff1624;
@color-rojo3: #FF0000;

@color-grisinput: #e5e5e5;
@color-hovermenuadmin: #403f3f;
@color-brownie-almost: @color-primary;


@menu__bopis_width: 15%;
@bshadow-menu: 0px 2px 6px 2px #e2e2e2;
