@primary: @black;
@secondary: gray;

@secondary-black: #222222;

@white: #ffffff;
@black: #000000;

@gray: #e5e5e5;
@gray-A: #aaaaaa;
@color-hovermenuadmin: #414141;

@background-table:#f8f8f8;
@border-table:#e3e3e3;