@import '_colors';
@import '_icon-styles';
@import '_tables-autodesk';
@import '_buttons';

@field-control__focus__border-color: @secondary;

@button-primary__background-color: @secondary;
@button-primary__hover__background-color: lighten(@secondary, 15%);
@button__border-size: 0;
@button__hover__box-shadow: none;

@button-advanced-reports__background-color: @secondary-black;
@button-advanced-reports__background-color: @secondary-black;

@menu-item__hover__background-color: @secondary;

@link__color: @secondary;
@link__hover__color: lighten(@secondary, 15%);

@color-phoenix: @secondary;

@body__background-color: @primary;
@menu__background-color: @primary;

@data-grid-th__background-color: @secondary-black;
@action__active__border-color: @secondary;
@action-dropdown__active__border-color:  @secondary;

@submenu-link__focus__background-color: @color-hovermenuadmin;
@data-grid-tr__hover__background-color: @gray;

@color-very-dark-grayish-orange: @secondary-black;
@submenu__background-color: @secondary-black;

@radiusitems: 12px;

body{
	.action-primary {
	    &:extend(.abs-action-pattern all);
	    background-color: @primary;
	    border-color: @primary;
	    color: @white;
	    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
	    border-radius: @radiusitems;

	    &:hover,
	    &:active,
	    &:focus {
	        background-color: @primary;
	        border-color: @primary;
	        box-shadow: @gray-A;
	        color: @white;
	        text-decoration: none;
	    }

	    &.disabled,
	    &[disabled] {
	        cursor: default;
	        opacity: .8;
	        pointer-events: none;
	    }
	}
}