<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wolfsellers" translate="label" sortOrder="10">
            <label>Wolf Sellers</label>
        </tab>
        <section id="wolfsellers_tracking" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Tracking</label>
            <tab>wolfsellers</tab>
            <resource>WolfSellers_OrderTracking::config_order_tracking</resource>
            <group id="urbano" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>Urbano Mapping Status</label>
                <field id="status_received" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Order Received</label>
                    <comment>Urbano status code (comma separated).</comment>
                </field>
                <field id="status_ready" type="text" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Order Ready</label>
                    <comment>Urbano status code (comma separated).</comment>
                </field>
                <field id="status_in_transit" type="text" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Order in Transit</label>
                    <comment>Urbano status code (comma separated).</comment>
                </field>
                <field id="status_delivered" type="text" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Order Delivered</label>
                    <comment>Urbano status code (comma separated).</comment>
                </field>
                <field id="status_undelivered" type="text" sortOrder="50" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Order Undelivered</label>
                    <comment>Urbano status code (comma separated).</comment>
                </field>
            </group>
        </section>
    </system>
</config>
