<div class="amcountdown-list">
    <div class="amcountdown-wrap">
        <div class="amcountdown-item">
            <span class="amcountdown-number" data-bind="text: $parent.days"></span>
            <!-- ko i18n: 'days' --><!-- /ko -->
            <svg class="amcountdown-image"  viewBox="0 0 53 59" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 16L26.5 2L52 16V45L26.5 57L1 45V16Z" data-bind="attr: { 'stroke' : $parent.backgroundColor, 'fill' : $parent.backgroundColor }" stroke-width="2"/>
            </svg>
        </div>
        <div class="amcountdown-item">
            <span class="amcountdown-number" data-bind="text: $parent.hours"></span>
            <!-- ko i18n: 'hours' --><!-- /ko -->
            <svg class="amcountdown-image"  viewBox="0 0 53 59" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 16L26.5 2L52 16V45L26.5 57L1 45V16Z" data-bind="attr: { 'stroke' : $parent.backgroundColor, 'fill' : $parent.backgroundColor }" stroke-width="2"/>
            </svg>
        </div>
    </div>
    <div class="amcountdown-wrap">
        <div class="amcountdown-item">
            <span class="amcountdown-number" data-bind="text: $parent.min"></span>
            <!-- ko i18n: 'min' --><!-- /ko -->
            <svg class="amcountdown-image"  viewBox="0 0 53 59" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 16L26.5 2L52 16V45L26.5 57L1 45V16Z" data-bind="attr: { 'stroke' : $parent.backgroundColor, 'fill' : $parent.backgroundColor }" stroke-width="2"/>
            </svg>
        </div>
        <div class="amcountdown-item">
            <span class="amcountdown-number" data-bind="text: $parent.sec"></span>
            <!-- ko i18n: 'sec' --><!-- /ko -->
            <svg class="amcountdown-image"  viewBox="0 0 53 59" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 16L26.5 2L52 16V45L26.5 57L1 45V16Z" data-bind="attr: { 'stroke' : $parent.backgroundColor, 'fill' : $parent.backgroundColor }" stroke-width="2"/>
            </svg>
        </div>
    </div>
</div>