<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <onepage>
            <benefits_modal>
                <enable>1</enable>
                <image>default/benefits.png</image>
            </benefits_modal>
        </onepage>
    </default>
</config>
