<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <onepage>
            <benefits_modal>
                <enable>0</enable>
            </benefits_modal>
        </onepage>
        <email>
            <email_gift>
                <email_from>contacto@perfumeriasunidas.com.pe</email_from>
            </email_gift>
        </email>
    </default>
</config>
