<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\DirectoryDataProcessor">
        <plugin name="WolfSellers_Checkout_DirectoryDataProcessor"
                type="WolfSellers\Checkout\Plugin\Block\Checkout\DirectoryDataProcessorPlugin"
                sortOrder="10"
                disabled="false"
        />
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="WolfSellers_Checkout_Plugin_DefaultConfigProviderPlugin"
                type="WolfSellers\Checkout\Plugin\Model\DefaultConfigProvider"
                sortOrder="10"
                disabled="false"
        />
    </type>
    <preference for="WolfSellers\Checkout\Api\GiftMessageInformationManagementInterface"
                type="WolfSellers\Checkout\Model\GiftMessageInformationManagement" />
    <preference for="WolfSellers\Checkout\Api\GuestGiftMessageInformationManagementInterface"
                type="WolfSellers\Checkout\Model\GuestGiftMessageInformationManagement" />

    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="save_custom_field_to_quote_table"
                type="WolfSellers\Checkout\Plugin\Model\ShippingInformationManagement"
                sortOrder="30" />
    </type>
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="after_place_order" type="WolfSellers\Checkout\Plugin\Order\OrderManagement"/>
    </type>
    <type name="Magento\Customer\Model\Address\CustomerAddressDataFormatter">
        <plugin name="WolfSellers_Checkout_Plugin_CustomerAddressDataFormatter"
                type="WolfSellers\Checkout\Plugin\Customer\Address\CustomerAddressDataFormatterPlugin"
                disabled="false"/>
    </type>
</config>
