<div class="billing-address-details" data-bind="if: isAddressDetailsVisible() && currentBillingAddress() && !isAddressSameAsShipping()">
    <!-- Card Container Start -->
    <div class="card custom-card">
        <!-- Card Header -->
        <header class="card-header">
            Datos de Factura
        </header>

        <!-- ko foreach: { data: currentBillingAddress().customAttributes, as: 'element' } -->
            <!-- Assuming order: 1st is RUC, 2nd is Razón Social, 3rd is Dirección Fiscal -->
            <!-- Label for RUC -->
            <!-- ko if: $index() === 0 -->
            <div class="card-content">
                <span class="label">RUC:</span> <span class="value" data-bind="text: element.value"></span>
            </div>
            <!-- /ko -->
            
            <!-- Label for Razón Social -->
            <!-- ko if: $index() === 1 -->
            <div class="card-content">
                <span class="label">Razón Social:</span> <span class="value" data-bind="text: element.value"></span>
            </div>
            <!-- /ko -->

            <!-- Label for Dirección Fiscal -->
            <!-- ko if: $index() === 2 -->
            <div class="card-content">
                <span class="label">Dirección Fiscal:</span> <span class="value" data-bind="text: element.value"></span>
            </div>
            <!-- /ko -->
        <!-- /ko -->

        <!-- Button inside the Card -->
        <button type="button"
                class="action action-edit-address amcheckout-button edit-button"
                data-bind="visible: !isAddressSameAsShipping(), click: editAddress">
            <span data-bind="i18n: 'Edit'"></span>
        </button>
    </div>
    <!-- Card Container End -->
</div>
