<!--Use 'stepCode' as id attribute-->
<style type="text/css">
    .checkout-index-index .modal-popup .modal-inner-wrap {
        height: 90%;
        width: 90%;
        left: 5%;
        margin-left: 0;
    }

    .checkout-index-index .modal-footer {
        display: none;
    }

    #docFrame {
        height: 100vh;
        width: 100%;
    }

    .agreement-content {
        font-size: 18px;
        margin-bottom: 16px;
    }
</style>

<li data-bind="fadeVisible: isVisible, attr: { id: stepCode }">
    <div class="step-title" data-bind="i18n: stepTitle" data-role="title"></div>
    <div id="checkout-step-title"
         class="step-content"
         data-role="content">
        <div data-bind="ifnot: hasSigned">
            <p class="agreement-content">In order to proceed, you must view and sign the agreement link below.</p>
            <a id="myLink" href="#" class="action" data-trigger="trigger" data-bind="click: sign">
                <img data-bind="attr: { src: require.toUrl('adobe_adobeSignCheckout/images/view-sign.png') }"
                     style="width: 110px"/>
            </a>
        </div>
        <div data-bind="ifnot: hasSigned">
            <img data-bind="attr: { src: require.toUrl('adobe_adobeSignCheckout/images/adobe-sign.png') }"
                 style="width: 160px;margin-top: 60px"/>
        </div>

        <div data-bind="if: hasSigned">
            <p class="agreement-content">Thank you for signing the agreement. A copy of the agreement will get sent to your email address automatically.</p>
            <p class="agreement-content">You may proceed to the next step.</p>
        </div>

        <div data-bind="mageInit: {
        'Magento_Ui/js/modal/modal':{
            'type': 'popup',
            'title': 'Adobe Sign Agreement',
            'trigger': '[data-trigger=trigger]',
            'responsive': true,
            'innerScroll': false,
            'clickableOverlay': false
        }}">
            <div class="content sign-content">
                <iframe id="docFrame" data-bind="attr: { src: signUrl }" frameborder="0" scrolling="auto"
                        class="frame-area">
                </iframe>
            </div>
        </div>
        <div data-bind="if: hasSigned" style="margin-top: 80px">
            <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
                <div class="actions-toolbar">
                    <div class="primary">
                        <button data-role="opc-continue" type="submit" class="button action continue primary">
                            <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</li>
