<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="wolfsellers_consecutive" id="wolfsellers_consecutive">
			<module before="Magento_Backend" name="WolfSellers_Consecutive"/>
		</route>
	</router>
</config>
