<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="wolf_sellers_report_sales_listing_data_source" xsi:type="string">WolfSellers\Reports\Ui\DataProvider\Sales\SalesDataProvider</item>
            </argument>
        </arguments>
    </type>
</config>
