<div class="resumen_personal_information">
    <p><span data-bind="i18n: 'Email Address'"></span>: <span data-bind="text: email"></span></p>
    <p><span data-bind="i18n: 'Name'"></span>: <span data-bind="text: customerName"></span></p>
    <p><span data-bind="i18n: 'Lastname'"></span>: <span data-bind="text: customerLastName"></span></p>
    <p><span data-bind="i18n: 'Identificacion'"></span>:<span data-bind="text: customerTypeIdentification"></span>
    <p><span data-bind="i18n: 'Número de Documento'"></span>: <span data-bind="text: customerNumberIdentification"></span></p>
    <p><span data-bind="i18n: 'Telefono'"></span>: <span data-bind="text: customerTelephone"></span></p>
</div>
