<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="onepage" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="60">
            <tab>wolfsellers</tab>
            <label>Onepage</label>
            <resource>WolfSellers_Onepage::config</resource>
            <group id="benefits_modal" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Payment Benefits</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="image" translate="label" type="image" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image</label>
                    <backend_model>WolfSellers\Checkout\Model\Config\Backend\Image</backend_model>
                    <base_url type="media">theme_customization</base_url>
                </field>
            </group>
        </section>
    </system>
</config>
