& when (@media-common = true) {
	.checkout-index-index{
		> .ambanners{
			.lib-visually-hidden;
		}
		.page-wrapper{
			padding-top: 85px;
			.page-header{
				background: @primary;
				top: 0;
				.header.content{
					padding: 13px 15px;
					justify-content: center;
					@media @mdmax{
						height: 58px;
					}
					.content-logo{
						a.logo{
							margin: 0;
							max-width: none;
							img{
								filter: invert(100%);
								width: 100%;
								max-width: 323px;
								@media @mdmax{
									max-width: 200px;
								}
							}
						}
					}
				}
			}
			.page-main .column.main{
				> [data-content-type="row"]{
					.lib-visually-hidden;
				}
				.checkout-container{
					background: transparent;
					margin: 0;
					> [data-content-type="row"]{
						.lib-visually-hidden;
					}
					.opc-estimated-wrapper,
					.authentication-wrapper{
						.lib-visually-hidden;
					}
					.checkout-header{
						width: 100%;
						h1{
							font-family: @font-second;
							font-size: 3.2rem;
							font-weight: bold;
							text-transform: uppercase;
						}
					}
					.opc-wrapper{
						.checkout-column{
							.checkout-block{
								box-shadow: none;
								padding: 0;
								position: relative;
								margin-top: 35px;
								background: transparent;
								li{
									position: static;
									padding: 20px;
									background: @white;
									border-radius: @radiusitems;
									.checkout-shipping-method{
										position: static;
									}
									&.checkout-shipping-method{
										margin-bottom: 55px;
									}
									form{
										.lib-checkboxs;
										.lib-radio;
										margin: 0;
									}
									&.checkout-payment-method{
										.field{
											&.choice{
												float: left;
												width: 100%;
												margin-top: 20px;
											}
										}
										.step-content *:not(label):not(.choice){
											overflow: hidden;
										}
									}
								}
								.step-title {
								    position: absolute;
								    top: -35px;
								    left: 0;
								    margin: 0;
								    padding: 0;
								    border: 0;
								    font-size: 2.2rem;
								}
								.opc-block-summary{
									background: transparent;
								}
								&.-summary{
									.opc-block-summary{
										padding: 20px;
										background: @white;
										border-radius: @radiusitems @radiusitems 0 0;
										margin: 0;
									}
									.additional-options{
										padding: 0 20px 20px;
										margin: 0;
										float: left;
										width: 100%;
										background: @white;
										border-radius: 0 0 @radiusitems @radiusitems;
										.lib-checkboxs;
										.checkout-agreement{
											float: left;
											width: 100%;
											margin: 15px 0;
										}
									}
								}
								.amcheckout-wrapper{
									.amcheckout-form-login{
										margin-bottom: 15px;
										padding: 0;
										background: @white;
										> fieldset{
											margin: 0;
											> .field{
												margin: 0;
											}
											.hidden-fields{
												margin: 0;
											}
										}
									}
									.payment-method-content{
										padding: 0;
									}
									.field-select-billing{
										~ .actions-toolbar{
											.primary{
												display: flex;
												justify-content: space-between;
												align-items: center;
												button{
													margin: 0 10px;
												}
											}
										}
									}
								}
							}
						}
						form{
							> .address{
								display: flex;
								flex-wrap: wrap;
								margin: 0;
								> .field{
									padding: 0;
									&[name="shippingAddress.firstname"],
									&[name="billingAddressvisanet_pay.firstname"]{
										order: 1;
									}
									&[name="shippingAddress.lastname"],
									&[name="billingAddressvisanet_pay.lastname"]{
										order: 2;
									}
									&[name="shippingAddress.telephone"],
									&[name="billingAddressvisanet_pay.telephone"]{
										order: 3;
										.control{
											input{
												width: 100%;
												padding-right: 35px;
											}
											.field-tooltip{
												top: 50%;
												transform: translateY(-50%);
												right: 8px;
											}
										}
									}
									&[name="shippingAddress.custom_attributes.fecha_de_nacimiento"],
									&[name="billingAddressvisanet_pay.custom_attributes.fecha_de_nacimiento"]{
										order: 4;
										.control{
											position: relative;
											input{
												padding-right: 35px;
												width: 100%;
											}
											button.ui-datepicker-trigger{
												position: absolute;
												right: 8px;
												top: 50%;
												transform: translateY(-50%);
												margin: 0;
											}
										}
									}
									&[name="shippingAddress.region_id"],
									&[name="billingAddressvisanet_pay.region_id"]{
										order: 5;
									}
									&[name="shippingAddress.region"],
									&[name="billingAddressvisanet_pay.custom_attributes.colony"]{
										order: 6;
									}
									&[name="shippingAddress.custom_attributes.colony"],
									&[name="billingAddressvisanet_pay.postcode"]{
										order: 7;
									}
									&[name="shippingAddress.postcode"],
									&[name="billingAddressvisanet_pay.company"]{
										order: 8;	
									}
									&[name="shippingAddress.company"],
									&[name="billingAddressvisanet_pay.vat_id"]{
										order: 9;
									}
									&[name="shippingAddress.vat_id"]{
										order: 10;
									}
									&.street{
										order: 11;
										.control{
											.field{
												width: 100%;
											}
											.additional{
												.lib-visually-hidden;
											}
										}
									}
									&[name="shippingAddress.city"],
									&[name="billingAddressvisanet_pay.city"]{
										order: 12;
									}
									&[name="shippingAddress.country_id"],
									&[name="billingAddressvisanet_pay.country_id"]{
										order: 13;
									}
									@media @mdmin{
										&[name="shippingAddress.firstname"],
										&[name="shippingAddress.telephone"],
										&[name="shippingAddress.region_id"],
										&[name="shippingAddress.postcode"],
										&[name="shippingAddress.vat_id"],
										&[name="shippingAddress.city"],
										&[name="billingAddressvisanet_pay.firstname"],
										&[name="billingAddressvisanet_pay.telephone"],
										&[name="billingAddressvisanet_pay.region_id"],
										&[name="billingAddressvisanet_pay.postcode"],
										&[name="billingAddressvisanet_pay.vat_id"],
										&[name="billingAddressvisanet_pay.city"]{
											float: left;
											width: 49%;
											margin-right: 2%;
										}
										&[name="shippingAddress.lastname"],
										&[name="shippingAddress.custom_attributes.fecha_de_nacimiento"],
										&[name="shippingAddress.region"],
										&[name="shippingAddress.custom_attributes.colony"],
										&[name="shippingAddress.company"],
										&.street,
										&[name="shippingAddress.country_id"],
										&[name="billingAddressvisanet_pay.lastname"],
										&[name="billingAddressvisanet_pay.custom_attributes.fecha_de_nacimiento"],
										&[name="billingAddressvisanet_pay.custom_attributes.colony"],
										&[name="billingAddressvisanet_pay.company"],
										&[name="billingAddressvisanet_pay.country_id"]{
											float: right;
											width: 49%;
										}
									}
									@media @mdmax{
										width: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
	.checkout-index-index{
		.page-wrapper{
			padding-top: 58px;
			.page-main .column.main{
				.checkout-container{
					.checkout-header{
						h1{
							font-size: 2.2rem;
						}
						.description{
							font-size: 1.6rem;
						}
					}
					.opc-wrapper{
						.checkout-column{
							.checkout-block{
								li{
									.form-shipping-address{
										background: transparent;
										margin: 0;
										padding: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}