& when (@media-common = true) {
	.checkout-index-index{
		@media @mdmin{
			padding-top: 68px;
		}
		@media @mdmax{
			padding-top: 58px;
			.msg-checkout{
				strong,
				span {
				    font-size: 1.4rem !important;
				}
			}
		}
		aside.modal-popup{
			.modal-inner-wrap[class]{
				background: @white;
				border-radius: @radiusitems;
				padding-bottom: 10px;
			}
		}
		form{
			&.form-login{
				> .fieldset{
					> .field{
						margin-bottom: 20px;
					}
					> .fieldset{
						padding-bottom: 20px;
						.actions-toolbar{
							display: flex;
							flex-direction: column;
							.primary{
								display: flex;
								justify-content: center;
							}
						}
					}
				}
			}
			> div.address,
			> fieldset.address{
				@media @mdmin{
					.lib-two-columns;
				}
				@media @mdmax{
					display: flex;
					flex-direction: column;
				}
				> .field{
					padding: 0;
					&[name="shippingAddress.firstname"],
					&[name="billingAddressvisanet_pay.firstname"]{
						order: 1;
					}
					&[name="shippingAddress.lastname"],
					&[name="billingAddressvisanet_pay.lastname"]{
						order: 2;
					}
					&[name="shippingAddress.telephone"],
					&[name="billingAddressvisanet_pay.telephone"]{
						order: 3;
						.control{
							input{
								width: 100%;
								padding-right: 35px;
							}
							.field-tooltip{
								top: 10px;
								right: 8px;
							}
						}
					}
					&[name="shippingAddress.custom_attributes.fecha_de_nacimiento"],
					&[name="billingAddressvisanet_pay.custom_attributes.fecha_de_nacimiento"]{
						order: 4;
						.control{
							position: relative;
							input{
								padding-right: 35px;
								width: 100%;
							}
							button.ui-datepicker-trigger{
								position: absolute;
								right: 8px;
								top: 50%;
								transform: translateY(-50%);
								margin: 0;
							}
						}
					}
					&[name="shippingAddress.region_id"],
					&[name="billingAddressvisanet_pay.region_id"]{
						order: 5;
					}
					&[name="shippingAddress.city"],
					&[name="billingAddressvisanet_pay.city"]{
						order: 6;
					}
					&[name="shippingAddress.custom_attributes.colony"],
					&[name="billingAddressvisanet_pay.custom_attributes.colony"]{
						order: 7;
					}
					&[name="billingAddressvisanet_pay.postcode"]{
						order: 8;
					}
					&.street{
						order: 9;
						.control{
							.field{
								width: 100%;
							}
							.additional{
								.lib-visually-hidden;
							}
						}
					}
					&[name="shippingAddress.custom_attributes.referencia_envio"]
					{
						order: 10;
					}
					&[name="shippingAddress.vat_id"]{
						order: 11;
						display: block !important;
					}
					&[name="shippingAddress.custom_attributes.invoice_required"]{
						order: 12;
						width: 100%;
						margin: 10px 0 20px;
						> label{
							display: none;
						}
					}
					&[name="shippingAddress.custom_attributes.company"]{
						order: 13;
					}
					&[name="shippingAddress.custom_attributes.dni"]{
						order: 14;
					}
					&.choice {
						order: 15;
					    float: left;
					    width: 100%;
					    margin: 10px 0 15px;
					}
					&[name="shippingAddress.postcode"],
					&[name="shippingAddress.country_id"]{
						.lib-visually-hidden;
					}
					@media @mdmax{
						width: 100% !important;
						&[name="shippingAddress.firstname"],
						&[name="billingAddressvisanet_pay.firstname"]{
							order: 1;
						}
						&[name="shippingAddress.lastname"],
						&[name="billingAddressvisanet_pay.lastname"]{
							order: 2;
						}
						&[name="shippingAddress.telephone"],
						&[name="billingAddressvisanet_pay.telephone"]{
							order: 5;
						}
						&[name="shippingAddress.custom_attributes.fecha_de_nacimiento"],
						&[name="billingAddressvisanet_pay.custom_attributes.fecha_de_nacimiento"]{
							order: 4;
						}
						&[name="shippingAddress.region_id"],
						&[name="billingAddressvisanet_pay.region_id"]{
							order: 6;
						}
						&[name="shippingAddress.city"],
						&[name="billingAddressvisanet_pay.city"]{
							order: 7;
						}
						&[name="shippingAddress.custom_attributes.colony"],
						&[name="billingAddressvisanet_pay.custom_attributes.colony"]{
							order: 8;
						}
						&[name="billingAddressvisanet_pay.postcode"]{
							order: 8;
						}
						&.street{
							order: 9;
						}
						&[name="shippingAddress.custom_attributes.referencia_envio"]
						{
							order: 10;
						}
						&[name="shippingAddress.vat_id"]{
							order: 3;
						}
						&[name="shippingAddress.custom_attributes.invoice_required"]{
							order: 12;
						}
						&[name="shippingAddress.custom_attributes.company"]{
							order: 13;
						}
						&[name="shippingAddress.custom_attributes.dni"]{
							order: 14;
						}
						&.choice {
							order: 15;
						}
					}
				}
			}
		}
		> .ambanners{
			.lib-visually-hidden;
		}
		.page-wrapper{
			.page-header{
				background: @primary;
				top: 0;
				z-index: 10;
				.header.content{
					padding: 13px 15px;
					justify-content: center;
					@media @mdmax{
						height: 58px;
					}
					.content-logo{
						a.logo{
							margin: 0;
							max-width: none;
							img{
								filter: invert(100%);
								width: 100%;
								max-width: 240px;
								@media @mdmax{
									max-width: 200px;
								}
							}
						}
					}
				}
			}
			.page-main .column.main{
				> [data-content-type="row"]{
					.lib-visually-hidden;
				}
				.checkout-container{
					background: transparent;
					margin: 0;
					padding: 0;
					> [data-content-type="row"]{
						.lib-visually-hidden;
					}
					.opc-estimated-wrapper,
					.authentication-wrapper{
						.lib-visually-hidden;
					}
					.checkout-header{
						width: 100%;
						h1{
							font-family: @font-second;
							font-size: 3.2rem;
							font-weight: bold;
							text-transform: uppercase;
						}
					}
					.opc-wrapper{
						.amcheckout-shipping-address{
							@media @mdmax{
								margin-bottom: 100px;
							}
						}
						.field.amcheckout-comment{
							float: left;
							width: 100%;
							margin-top: 35px;
						}
						.checkout-column{
							.checkout-block{
								box-shadow: none;
								padding: 0;
								position: relative;
								margin-top: 35px;
								background: transparent;
								@media @mdmax{
									margin-left: 0;
									margin-right: 0;
								}
								li{
									position: static;
									padding: 20px 20px 30px;
									background: @white;
									position: relative;
									border-radius: @radiusitems;
									&.product-item{
										border-radius: 0;
										padding-right: 0;
										padding-left: 0;
										.product-image-container{
											margin-left: 0;
										}
										.product{
											.delete{
												position: absolute;
												right: 15px	;
												bottom: -10px;
												border: 0;
												background: transparent;
												@media @mdmax{
													right: 15px;
												}
												.lib-icon-font(
												    @_icon-font-content: @icon-trash,
												    @_icon-font-size: 1.5rem,
												    @_icon-font-line-height: 1,
												    @_icon-font-color: @black,
												    @_icon-font-position: after
												);
											}
										}
									}
									.checkout-shipping-method{
										position: static;
									}
									&.checkout-shipping-method{
										margin-bottom: 55px;
									}
									form{
										.lib-checkboxs;
										.lib-radio;
										margin: 0;
									}
									&.checkout-payment-method{
										.giftcardaccount{
											.lib-visually-hidden;
										}
										hr,
										br{
											display: none;
										}
										[name="billing_address_id"] {
										    padding-right: 30px;
										}
										.payment-method:not(:last-child){
											float: left;
											width: 100%;
											margin-bottom: 10px;
										}
										.payment-method-title.field.choice{
											border: 1px solid @lines-input;
										    margin: 0;
										    padding: 10px;
										    border-radius: @radiusitems;
										    white-space: nowrap;
										}
										.field{
											&.choice{
												float: left;
												width: 100%;
												margin-top: 20px;
												border: 0;
											}
										}
										.payment-methods{
											@media @mdmax{
												margin: 0;
											}
										}
									}
								}
								.step-title {
								    position: absolute;
								    top: -35px;
								    left: 0;
								    margin: 0;
								    padding: 0;
								    border: 0;
								    font-size: 2.2rem;
								}
								.opc-block-summary{
									background: transparent;
									table.table-totals{
										tbody tr{
											background: @white;
											&.grand.totals{
												~ div{
													width: 140%;
													margin-top: 90px;
													.lib-checkboxs;
													a{
														font-weight: bold;
														font-family: @font-family-name__base;
														&.aspan{
															white-space: nowrap;
														}
														&:hover {
															text-decoration: underline;
														}
														&:visited {
															color:@black;
														}
													}
												}
											}
										}
										label{
											&#receive-promotion{
												a{
													white-space: nowrap;
												}
											}
										}
									}
								}
								&.-summary{
									.minicart-items-wrapper{
										padding: 0;
										.minicart-items{
											.product-item-details{
												padding-left: 85px;
											}
											.product-item{
												@media @mdmax{
													padding-left: 0;
													padding-right: 0;
												}
												.product{
													.product-item-name-block{
														.product-item-name{
															float: left;
															width: 100%;
															.lib-font-size(16);
														}
														.block-qty{
															display: flex;
															float: left;
															width: 100%;
															align-items: center;
															span.label{
																font-size: 1.4rem;
																white-space: nowrap;
																margin-right: 15px;
																@media @mdmax{
																	.lib-font-size(12);
																}
															}
															.details-qty{
																float: left;
																width: 155px;
																position: relative;
																margin: 0;
																@media @mdmax{
																	width: 88px;
																}
																input.qty{
																	width: 100%;
																	padding: 0 40px;
																	text-align: center;
																	height: 40px;
																	width: 118px;
																	@media @mdmax{
																		width: 88px;
																		.lib-font-size(12);
																		padding: 0 30px;
																		height: 30px;
																	}
																}
																button{
																	position: absolute;
																	width: 40px;
																	height: 100%;
																	top: 0;
																	margin: 0;
																	text-indent: -99999%;
																	border-radius: 0;
																	@media @mdmax{
																		width: 30px;
																	}
																	&::after{
																		font-family: 'theme-icons';
																		.lib-font-size(11);
																		color: #000;
																		text-shadow: 0 0 1px @black;
																		float: left;
																	    text-align: center;
																	    width: 100%;
																	    text-indent: 0;
																	    @media @mdmax{
																	    	font-size: 0.8rem;
																	    }
																	}
																	&.decrease-qty-item{
																		left: 0;
																		border-right: 0.5px solid @lines-input;
																		cursor: pointer;
																		&::after{
																			content: @icon-collapse;
																		}
																	}
																	&.increase-qty-item{
																		right: 0;
																		border-left: 0.5px solid @lines-input;
																		cursor: pointer;
																		&::after{
																			content: @icon-expand;
																		}
																	}
																}
															}
														}
														.subtotal{
															float: right;
															width: 50%;
															text-align: right;
															font-weight: bold;
															@media @mdmax{
																margin-left: 10px;
															}
															.price-excluding-tax{
																margin: 0;
																.price{
																	font-weight: bold;
																	@media @mdmax{
																		.lib-font-size(14);
																	}
																}
															}
														}
													}
												}
											}
										}
									}
									.opc-block-summary{
										padding: 20px 20px 0px;
										background: @white;
										border-radius: @radiusitems @radiusitems 0 0;
										margin: 0;
									}
									.additional-options{
										padding: 0 20px 0;
										margin: 0;
										float: left;
										width: 100%;
										background: @white;
										.lib-checkboxs;
										.checkout-agreements{
											margin-bottom: 0;
											.checkout-agreement{
												float: left;
												width: 100%;
												margin-top: -90px;
												margin-left: -5px;
												a{
													font-weight: bold;
													&:hover {
														color: @primary;
														text-decoration: underline;
													}
												}
												input[type='checkbox']:checked + label:before{
													left: 7px;
												}
												label.label{
													button{
														margin-left: 8px;
														margin-top: -5px;
														color: @primary;
														font-size: 1.4rem;
														span{
															word-break: break-word; 
														}
													}
												}
											}
										}
										.admin__field.admin__field-option{
											.lib-visually-hidden;
										}
									}
									.checkout-payment-method{
										float: left;
										width: 100%;
										background: @white;
										&.submit{
											float: left;
											width: 100%;
											background: @white;
											padding-bottom: 20px;
											border-radius: 0 0 @radiusitems @radiusitems;
											.actions-toolbar{
												display: flex;
												margin-left: 20px;
												margin-right: 20px;
												@media @mdmin{
													justify-content: center;
												}
											}
										}
										.form-discount{
											position: relative;
											.payment-option-inner{
												margin: 0;
											}
											.actions-toolbar{
												.action-apply{
													position: absolute;
													right: 0;
													top: 0;
													height: 100%;
													padding: 0 10px;
													background: @black;
													color: @white;
												}
											}
											.input-text{
												padding-right: 70px;
											}
										}
										.discount-code{
											margin: 0 10px;
											.payment-option-content{
												padding: 10px 10px 20px;
											}
											span.action-toggle{
												color: @black;
												font-weight: 600;
											}
										}
									}
								}
								.amcheckout-wrapper{
									position: relative;
									.block.items-in-cart{
										margin-bottom: 0;
										.items-in-cart > .title{
											border-bottom: 0;
										}
									}
									.amcheckout-form-login{
										margin-bottom: 15px;
										padding: 0;
										background: @white;
										> fieldset{
											margin: 0;
											.hidden-fields{
												margin: 0;
											}
										}
									}
									.payment-method-content{
										padding: 0;
									}
									.field-select-billing{
										~ .actions-toolbar{
											.primary{
												display: flex;
												justify-content: space-between;
												align-items: center;
												button{
													margin: 0 10px;
												}
											}
										}
									}
									form.form.methods-shipping{
										border: 0;
										background: @white;
									}
									.shipping-address-items{
										display: grid;
										grid-template-columns: ~"repeat(auto-fill, calc(50% - 0.5rem))";
										gap: 1rem;
										@media @xsmax{
											grid-template-columns: repeat(auto-fill, 100%);
											gap: 0;
										}
										.shipping-address-item{
											position: relative;
											padding: 10px 10px 40px;
											width: 100%;
											margin: 0;
											border-bottom-color: transparent;
											&:before{
												@media @xsmin{
													content: "";
													height: 100%;
													left: -11px;
													background: rgba(0, 0, 0,0.1);
												    position: absolute;
												    top: 0;
												    width: 1px;
												}
											}
											button.action-select-shipping-item{
												position: absolute;
												left: 50%;
												transform: translateX(-49.5%);
												bottom: 5px;
												margin: 0;
												padding: 5px;
												border: 1px solid @black;
												width: 100px;
											}
											&.selected-item{
												border-bottom: 1px solid @black;
											}
										}
									}
									button.action.-new-address{
										background: @black;
										color: @white;
										padding: 20px;
										font-size: 1.8rem;
										font-weight: bold;
										position: absolute;
										left: 0;
										bottom: -125px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){
	.checkout-index-index {
		.page-wrapper {
			.page-main {
				.column.main {
					.checkout-container {
						.opc-wrapper {
							.checkout-column {
								.checkout-block {
									.opc-block-summary {
										table.table-totals {
											tbody {
												tr.grand.totals~div {
													a.aspan {
														white-space: nowrap;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
	.checkout-index-index{
		.page-wrapper{
			.page-main .column.main{
				.checkout-container{
					.checkout-header{
						h1{
							font-size: 2.2rem;
						}
						.description{
							font-size: 1.6rem;
						}
					}
					.opc-wrapper{
						.checkout-column{
							.checkout-block{
								li{
									.form-shipping-address{
										background: transparent;
										margin: 0;
										padding: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
