    & when (@media-common =true) {
    .cms-contacto {
        .page-wrapper {
            .page-main-full-width {
                .column {
                    .row-page-head {
                        height: auto;
                    }

                    .row-page-content {
                        .pagebuilder-column {
                            .rendered-form {
                                .amform-form-fieldset {
                                    .amcform-multi-page {
                                        .amcform-page-wrap {
                                            .fb-h3{
                                                margin: 25px 0 15px;
                                            }
                                            .fb-undefined {
                                                .control {
                                                    textarea {
                                                        border-radius: 12px;
                                                    }
                                                }
                                            }
                                            .amcform-toolbar{
                                                .amcform-submit{
                                                    background: @black;
                                                    width: 100%;
                                                }
                                            }
                                            .field{
                                                &.fb-checkbox{
                                                margin-top: 20px;
                                                display: block;
                                                position: relative ;
                                                .lib-checkboxs;
                                                    label{
                                                        margin: 0;
                                                        padding: 0 7px 0px 20px;
                                                    }
                                                    .mage-error{
                                                        position: absolute;
                                                        left: 0;
                                                        min-width: 220px;
                                                        bottom: -33px;
                                                    }
                                                    .label{
                                                        display: none;
                                                    }
                                                }
                                                &.fb-wysiwyg{
                                                    display: block !important;//inline style
                                                    margin-top: -58px;
                                                    p{
                                                        display: inline;
                                                        .lib-font-size(14);
                                                         position: relative;
                                                        strong{
                                                            font-weight: normal;
                                                        }
                                                        &:after{
                                                            content: '*';
                                                            color: @red;
                                                            position: absolute;
                                                            right: -10px;
                                                        }
                                                    }
                                                    .popro{
                                                        p{
                                                            &:after{
                                                                content: none;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


///DESKTOP
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .cms-contacto {
        .page-wrapper {
            .page-main-full-width {
                .column {

                    .row-page-content {
                        .pagebuilder-column {
                            .rendered-form {
                                .amform-form-fieldset {
                                    .amcform-multi-page {
                                        .amcform-page-wrap {
                                            position: relative;
                                            display: block;
                                            .fb-text {
                                                display: inline-block;
                                                width: 51%;
                                            }
                                            .fb-undefined {
                                                position: absolute;
                                                height: 100%;
                                                max-height: 270px;
                                                width: 46%;
                                                top: 35px;
                                                right: -10px;
                                                .control {
                                                    height: 90%;
                                                    textarea {
                                                        height: 100%;
                                                        padding: 10px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


///MOVIL
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .cms-contacto {
        .page-wrapper {
            .breadcrumbs {
                display: none;
            }
            .page-main-full-width {
                .column {
                    .row-page-head {
                        margin: 0 15px;
                        width: auto;
                    }
                    .row-page-content {
                        .pagebuilder-column {
                            .rendered-form {
                                .amform-form-fieldset {
                                    .amcform-multi-page {
                                        .amcform-page-wrap {
                                            display: block !important; //inline style
                                            .fb-undefined {
                                                .control {
                                                    textarea {
                                                        height: 150px;
                                                        padding: 10px;
                                                    }
                                                }
                                            }
                                            .amcform-toolbar{
                                                .amcform-submit{
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &:first-child{
                                margin: 0 0 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
