    & when (@media-common =true) {
    .cms-contacto {
        .page-wrapper {
            .page-main-full-width {
                .column {
                    .row-page-head {
                        height: auto;
                    }

                    .row-page-content {
                        .pagebuilder-column {
                            .rendered-form {
                                .amform-form-fieldset {
                                    .amcform-multi-page {
                                        .amcform-page-wrap {
                                            .fb-h3{
                                                margin: 25px 0 15px;
                                            }
                                            .fb-undefined {
                                                .control {

                                                    textarea {
                                                        border-radius: 12px;
                                                    }
                                                }
                                            }
                                            .amcform-toolbar{
                                                .amcform-submit{
                                                    background: @black;
                                                    width: 100%;
                                                }
                                            }
                                            .field.fb-checkbox{
                                                margin-top: 20px;
                                                .lib-css(display, flex) !important; 
                                                position: relative ;
                                                .lib-checkboxs;
                                                label{
                                                    margin-right: 10px;
                                                }
                                                ~ .field.fb-checkbox{
                                                    margin-top: 0;
                                                    margin-left: 7px;
                                                }
                                                .mage-error{
                                                    position: absolute;
                                                    left: 0;
                                                    min-width: 220px;
                                                    bottom: -40px;
                                                }
                                            }
                                            .field.fb-wysiwyg{
                                                @media @mdmax{
                                                    max-width: 670px;
                                                }
                                                p{
                                                    display: inline;
                                                    //letter-spacing: -1px;
                                                    strong{
                                                        padding-left: 145px;
                                                        font-weight: normal;
                                                    }
                                                }
                                                .control {
                                                    > div{
                                                        margin-top: -66px;
                                                        margin-bottom: 15px;
                                                        margin-left: 16px;
                                                        &.popro{
                                                            margin-top: -58px;
                                                        }
                                                        margin-top: -66px;
                                                        &.popro{
                                                            margin-top: -58px;
                                                            p{
                                                                margin: 0 0 0 -5px !important;
                                                                font-size: 14px;
                                                            }
                                                        }
                                                        &.amform-wysiwyg p{
                                                            margin: 0 0 0 140px;
                                                            .lib-font-size(14);
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


///DESKTOP
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .cms-contacto {
        .page-wrapper {
            .page-main-full-width {
                .column {

                    .row-page-content {
                        .pagebuilder-column {
                            .rendered-form {
                                .amform-form-fieldset {
                                    .amcform-multi-page {
                                        .amcform-page-wrap {
                                            position: relative;

                                            .fb-text {
                                                display: inline-block;
                                                width: 51%;
                                            }

                                            .fb-undefined {
                                                position: absolute;
                                                height: 100%;
                                                max-height: 270px;
                                                width: 46%;
                                                top: 35px;
                                                right: 0;

                                                .control {
                                                    height: 90%;
                                                    textarea {
                                                        height: 100%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


///MOVIL
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .cms-contacto {
        .page-wrapper {
            .breadcrumbs {
                display: none;
            }

            .page-main-full-width {
                .column {
                    .row-page-head {
                        margin: 0 15px;
                        width: auto;
                    }

                    .row-page-content {
                        .pagebuilder-column {
                            .rendered-form {
                                .amform-form-fieldset {
                                    .amcform-multi-page {
                                        .amcform-page-wrap {
                                            .fb-text {}

                                            .fb-undefined {
                                                .control {
                                                    textarea {
                                                        height: 150px;
                                                    }
                                                }
                                            }

                                            .amcform-toolbar{
                                                .amcform-submit{
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &:first-child{
                                margin: 0 0 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
