& when (@media-common =true) {

    .cms-page-view{
        .carrusel.gridprds{
            .block-content{
                width: 100%;
            }
            ol.widget-product-grid{
                display: grid;
                gap: 15px;
                justify-content: center;
                @media @mdmin{
                    grid-template-columns: repeat(auto-fill, 24.1%);
                }
                @media @mdmax{
                    grid-template-columns: repeat(auto-fill, 47.8%);
                }
                li.product-item{
                    width: 100%;
                    margin: 0 !important;
                }
            }   
        }
    }

    [class*=cms-dior],
    [class*=cms-swarovski] {
        .page-wrapper {
            .columns {
                .column {
                    .menu-ms {
                        background: transparent !important;
                        .widget.block > div{
                            float: left;
                        }
                        .menu-dior,
                        .menu-swarovski-prueba{
                            >ul {
                                li {
                                    background: @black;

                                    span {
                                        font-weight: normal ;
                                        color: @white;
                                    }

                                    ul {
                                        display: none;

                                        &.se-ve {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }

                        a,
                        p {
                            color: @white;
                        }
                    }

                    .menu-swarovski {
                        ul {
                            background: @white;

                            li {
                                ul {
                                    display: none;
                                }
                            }
                        }
                    }

                    .row-slider-products{
                        .product-items{
                            .slick-dots{
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}


//DESKTOP//
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {

     .cms-page-view{
        .menu-ms,
        .widget.block{
            .widget.block > div{
                width: 100%;
                max-width: none;
            }
            [data-content-type="html"]{
                width: 100%;
                max-width: none;
                .menu-dior,
                .menu-swarovski-prueba{
                    padding: 0 15px;
                    background: @black;
                    > ul {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        max-width: @layout__max-width;
                        margin: auto;
                        li {
                            height: max-content;
                            text-align: center;
                            min-width: 200px;
                            margin: 1rem 0;
                            .custom-menu{
                                position: absolute;
                                background: black;
                                z-index: 12;
                            }
                            span a{
                                .lib-font-size(18);
                            }
                        }
                    }

                    a,
                    p {
                        .lib-font-size(13);
                        color: @white;
                    }
                }
            }
        }
    }

    [class*=cms-dior],
    [class*=cms-swarovski] {
        .page-wrapper {
            .columns {
                .column {
                    


                    .menu-swarovski {
                        position: relative;

                        ul {
                            justify-content: space-around;
                            display: flex;

                            li {
                                height: 60px;
                                margin: 0;

                                span,
                                a {
                                    align-items: center;
                                    .lib-font-size(15);
                                    color: @gray-7C;
                                    display: flex;
                                    height: 100%;

                                    &:hover {
                                        font-weight: bold;
                                    }
                                }

                                ul {
                                    display: none;

                                    &.se-ve {
                                        background: @pink-D8;
                                        position: absolute;
                                        display: flex;
                                        width: 100%;
                                        z-index: 1;
                                        top: 60px;
                                        left: 0;
                                    }

                                    li {
                                        a {
                                            color: @gray-79;

                                            &:hover {
                                                text-decoration: underline;
                                                font-weight: 400;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//MOBILE
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {

    [class*=cms-dior],
    [class*=cms-swarovski] {
        .page-wrapper {
            .columns {
                .column {
                    .menu-ms {
                        .widget.block > div{
                            width: 100%;
                        }
                        .menu-dior {
                            background: @black;
                            &.w-mobil{
                                .toggle-menu-custom{
                                    font-size: 1.8rem;
                                    line-height: 45px;
                                }
                            }
                            ul {
                                li {
                                    margin: 0 0 1rem 23%;

                                    span {
                                        &::before {
                                            margin: 0 10px 0 0;
                                            .lib-font-size(20);
                                            font-weight: 900;
                                            content: "+";
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .menu-swarovski {
                        ul {
                            li {
                                margin: 0 0 1rem 23%;

                                span {
                                    &::before {
                                        margin: 0 10px 0 0;
                                        .lib-font-size(20);
                                        font-weight: 900;
                                        content: "+";
                                    }

                                    &.se-ve {
                                        &::before {
                                            content: "-";
                                        }
                                    }
                                }

                                ul {
                                    &.se-ve {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
