//
// Common
//  ---------------------------------------------
& when (@media-common = true) {
    .row-category-head{
        height: 140px;
        position: static;
        width: 100vw;
        margin-left: ~"calc(50% - 50vw)";
        left: 0;
        top: 0;
        justify-content: center !important;
        .category-head-title{
            h2{
                font-size: 2rem;
                font-weight: bold;
                padding-right: 10px;
            }
        }
    }
    .row-category-menu-filter.desktop-filter{
        display: none !important;
    }
    .row-category-inforation{
        height: 450px;
        margin: 36px 16px;
        padding: 15px;
        justify-content: flex-end !important;
        .category-inforation{
            background-color: @white;
            height: 173px;
            opacity: .9;
            padding: 16px;
            border-radius: 12px;
            h3{
                font-size: 2.2rem;
                font-weight: 400;
                color: @gray-7C;
            }
            p{
                font-size: 1.6rem;
                margin: 8px 0;
            }
            .pagebuilder-button-primary{
                margin: 0;
                width: 260px;
                height: 34px;
                padding: 8px;
                font-size: 1.4rem;
            }
        }
    }
    .row-category-two-products{
        margin: 16px;
        .pagebuilder-column-group{
            .category-banner-1,
            .category-banner-2{
                height: 352px;
                border-radius: 12px;
                margin-bottom: 15px;
                justify-content: flex-end !important;
                .category-button{
                    > div{
                        .pagebuilder-button-primary{
                            margin: 0 0 15px 0;
                            width: 260px;
                            height: 34px;
                            padding: 8px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .row-category-menu-filter{
        background-color: @white;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 0 12px 0 @shadowitems;
        margin: 16px;
        font-size: 1.6rem;
        .filter-options{
            display: block;
            h2{
                font-size: 1.6rem;
                font-weight: 600;
                margin-bottom: 21px;
            }
            .title-filter-options{
                border-bottom: 1px solid @gray6;
                margin-left: 46px;
                padding-bottom: 8px;
                position: relative;
                span{
                    font-weight: 600;
                }
                &:after{
                    content: @icon-arrowup;
                    font-family: @icons__font-name;
                    position: absolute;
                    right: 0;
                }
            }
            ol{
                margin: 8px 0 0 46px;
                li{
                    color: @gray6;
                }
            }
        }
    }
}

//
// Desktop
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .row-category-head{
        height: 350px;
        top: 185px;
        .category-head-title{
            max-width: 1346px;
            margin: 0 auto;
            h2{
                font-size: 4.2rem;
            }
        }
    }
    .row-category-menu-filter.mobile-filter{
        display: none !important;
    }
    .row-category-menu-filter.desktop-filter{
        display: block !important;
    }

    .row-category-menu-filter{
        width: 338px;
        float: left;
        margin: 36px 16px 0 0;
    }
    .row-category-inforation{
        margin: 36px 0 12px 0;
        border-radius: 12px;
        justify-content: center !important;
        .category-inforation{
            border-radius: 12px;
            width: 447px !important;
            height: 345px;
            margin-left: 37px;
            padding: 44px 24px;
            h3{
                font-size: 3.2rem;
                font-weight: 300;
            }
            p{
                max-width: 354px;
                margin: 16px 0 40px;
                font-weight: 600;
            }
            .pagebuilder-button-primary{
                width: 342px;
                height: 60px;
                margin: 0;
                font-size: 1.8rem;
                padding: 18px;
            }
        }
    }
    .row-category-two-products{
        width: calc(~'(100% - 354px)');
        float: right;
        margin: 12px 0;
        .pagebuilder-column-group{
            justify-content: space-between;
            .category-banner-1,
            .category-banner-2{
                width: calc(~'(50% - 10px)') !important;
                height: 448px;
                position: relative;
                .category-button{
                    > div{
                        width: 80%;
                        .pagebuilder-button-primary{
                            height: 60px;
                            font-size: 18px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .row-category.row-slider-products{
        width: calc(~'(100% - 354px)');
        float: right;
        margin: 24px 0;
    }
}
