& when (@media-common =true) {
    .cms-libro-de-reclamaciones {
        .page-wrapper {
            .page-main-full-width {
                .columns {
                    .column {
                        figure img{
                            border-radius: @radiusitems;
                        }
                        .row-page-content {
                            .rendered-form {
                                border-radius: 12px;
                                background: @white;
                                max-width: none;

                                .amform-form-fieldset {
                                    .amcform-page-wrap {
                                        flex-flow: wrap;
                                        display: flex;

                                        .amcform-submit {
                                            border-radius: 12px;
                                            background: @black;
                                            color: @white;
                                        }
                                    }

                                    .field {
                                        .field-error, div.mage-error[generated]{
                                            margin-top: 0;
                                        }
                                        .lib-checkboxs;
                                        .lib-radio;
                                        .control {
                                            height: 48px;

                                            .date-identi {
                                                border: 1px solid @lines-input;
                                                border-radius: 12px;
                                                height: 100%;

                                                +.ui-datepicker-trigger {
                                                    display: none;
                                                }
                                            }

                                            ._has-datepicker {
                                                &::placeholder {
                                                    .lib-font-size(0);
                                                }
                                            }

                                            .date-cont {
                                                border: 1px solid @lines-input;
                                                border-radius: 12px;
                                                height: 100%;
                                                width: 100%;

                                                +.ui-datepicker-trigger {
                                                    display: none;
                                                }
                                            }
                                        }

                                        &.fb-h1 {
                                            margin: 0 0 60px;
                                            width: 100%;

                                            .control {
                                                background: @mainbackground;
                                                position: absolute;
                                                width: 100%;
                                                left: 0;

                                                h1 {
                                                    .lib-font-size(0);
                                                }
                                            }
                                        }

                                        &.fb-h3 {
                                            .lib-font-size(16);
                                            font-weight: 600;

                                            &::first-letter {
                                                color: @gray-7C;
                                            }

                                            .control {
                                                height: auto;

                                                h3 {
                                                    border-bottom: 1px solid @lines-input;
                                                    padding: 0 0 10px;
                                                    &:first-letter{
                                                        color: @black;
                                                    }
                                                }
                                            }
                                        }
                                        &.fb-h3,
                                        &.fb-div,
                                        &.fb-radio,
                                        &.fb-undefined {
                                            width: 100%;
                                        }
                                        &.fb-checkbox {
                                            flex-flow: row-reverse;
                                            display: flex;
                                            .fb-checkbox-group-label {
                                                display: none;
                                            }
                                            .control {
                                                height: auto;
                                                .checkbox-group{
                                                    .amform-versiontwo-label:after{
                                                        top: 1  px;
                                                    }
                                                }
                                            }
                                        }
                                        &.field-dropdown-apoderado-obligatorio,
                                        &.field-textinput-1650406602047 {
                                            display: none;
                                        }
                                        &.field-date-1650406641407{
                                            width: 49%;
                                        }
                                        &.field-text-1650407196517{
                                            .control{
                                                display: none;
                                            }
                                            &::after{
                                                content: 'Solo para menores de edad';
                                                height: auto;
                                                visibility: visible;
                                            }
                                        }
                                        .control {
                                            height: 48px;
                                            .prodatos{
                                                margin-top: -60px;
                                                margin-left: 23px;
                                                @media only screen and (min-width: 900px){
                                                    margin-top: -26px;
                                                    margin-left: -30px;
                                                }
                                            }   
                                            .codi-recl {
                                                width: 60%;
                                            }
                                            .date-identi {
                                                width: 60%;
                                            }
                                        }
                                        &.fb-undefined {
                                            .control {
                                                height: 96px;
                                                .form-control {
                                                    border-radius: 12px;
                                                    height: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//DESKTOP
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .cms-libro-de-reclamaciones {
        .page-wrapper {
            .page-main-full-width {
                .columns {
                    .column {
                        .row-page-content {
                            h2 {
                                .lib-font-size(32);
                            }

                            .rendered-form {
                                padding: 16px 32px;
                                margin: 30px 0 0 0;

                                .amform-form-fieldset {
                                    .amcform-page-wrap {
                                        .amform-layout-three {
                                            width: 23%;
                                        }

                                        .amcform-submit {
                                            .lib-font-size(18);
                                            padding: 18px 77px;
                                        }
                                    }

                                    .field {
                                        &.field-dropdown-apoderado-obligatorio,
                                        &.field-textinput-1650406602047 {
                                            display: none;
                                        }
                                        &.field-date-1650406641407{
                                            width: 49%;
                                        }
                                        &.field-text-1650407196517{
                                            .control{
                                                display: none;
                                            }
                                            &::after{
                                                content: 'Solo para menores de edad';
                                                height: auto;
                                                visibility: visible;
                                            }
                                        }
                                        .control {
                                            height: 48px;
                                            .codi-recl {
                                                width: 60%;
                                            }

                                            .date-identi {
                                                width: 60%;
                                            }
                                            .prodatos{
                                                margin-left: -45px;
                                            }
                                        }

                                        &.fb-undefined {
                                            .control {
                                                height: 96px;
                                                .form-control {
                                                    border-radius: 12px;
                                                    height: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


//MOBILE
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .cms-libro-de-reclamaciones {
        .page-wrapper {
            .page-main-full-width {
                .columns {
                    .column {
                        .row-page-content {
                            h2 {
                                .lib-font-size(22);
                            }

                            .rendered-form {
                                padding: 16px;

                                .amform-form-fieldset {
                                    .amcform-page-wrap {
                                        .amform-layout-three {
                                            width: 100%;
                                        }

                                        .amcform-toolbar {
                                            width: 100%;

                                            .amcform-submit {
                                                .lib-font-size(16);
                                                padding: 9px 0;
                                                width: 100%;
                                            }
                                        }
                                    }

                                    .field {
                                        &.field-dropdown-apoderado-obligatorio,
                                        &.field-textinput-1650406602047 {
                                            visibility: hidden;
                                        }
                                        max-width: 100%;

                                        .control {
                                            height: 48px;

                                            .codi-recl {
                                                width: 100%;
                                            }

                                            .date-identi {
                                                width: 100%;

                                                +.ui-datepicker-trigger {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
