//
// Common
//  ---------------------------------------------
& when (@media-common = true) {
    .cms-perfumerias-unidas,
    .cms-blog,
    .cms-contacto,
    .cms-ventas-corporativas,
    .cms-cambios-y-devoluciones,
    .cms-libro-de-reclamaciones ,
    .cms-terminos-y-condiciones,
    .cms-politicas-de-proteccion-de-datos-personales,
    .cms-gift-cards,
    .cms-rastreo-y-seguimiento{
        .row-page-head{
            height: 140px;
            position: static;
            width: 100vw;
            margin-left: ~"calc(50% - 50vw)";
            left: 0;
            top: 0;
            justify-content: center !important;
            .page-head-title{
                h2{
                    font-size: 2rem;
                    font-weight: bold;
                    padding-right: 10px;
                }
            }
        }
        .row-page-content{
            margin-top: 12px;
            padding: 16px 0;
            p{
                font-size: 1.4rem;
            }
            ul{
                padding-left: 36px;
                li{
                    list-style-type: initial;
                    &::marker{
                        color: @gray-7C;
                    }
                }
            }
            h2{
                margin-top: 24px;
                font-size: 2rem;
                font-weight: bold;
            }
            div{
                hr{
                    border-color: @lines-input;
                }
            }
        }

    }
}

//
// Desktop
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .cms-perfumerias-unidas,
    .cms-blog,
    .cms-contacto,
    .cms-ventas-corporativas,
    .cms-cambios-y-devoluciones,
    .cms-libro-de-reclamaciones ,
    .cms-terminos-y-condiciones,
    .cms-politicas-de-proteccion-de-datos-personales,
    .cms-gift-cards,
    .cms-rastreo-y-seguimiento{
        .row-page-head{
            height: 350px;
            top: 185px;
            .page-head-title{
                max-width: 1346px;
                margin: 0 auto;
                h2{
                    font-size: 4.2rem;
                }
            }
        }
        .row-page-content{
            margin-top: 40px;
            padding: 16px;
            p{
                font-size: 1.6rem;
            }
            ul{
                padding-left: 60px;
            }
        }
    }
}
