//
// Common
//  ---------------------------------------------
& when (@media-common = true) {
    .customer-account-login,
	.customer-account-create,
	.customer-account-forgotpassword{
		.page-main{
			.page-title-wrapper{
				max-width: @layout-width;
				margin: auto;
			}
			.login-container,
			form.form-create-account,
			form#form-validate{
				width: 100%;
				max-width: @layout-width;
				background: @white;
				border-radius: @radiusitems;
				display: block;
				margin: auto;
				@media @mdmin{
					padding: 30px;
				}
				@media @mdmax{
					padding: 15px;
				}
			}
			form.forget{
				fieldset.fieldset{
					.lib-two-columns;
					.field{
						&.note{
							width: 100%;
						}
						@media @mdmin{
							&.email{
								margin-left: 0;
							}
							&.captcha{
								margin-left: 2%;
							}
						}
					}
				}
			}
			form.form-create-account{
				fieldset{
					&.info{
						.lib-two-columns;
					}
					@media @mdmin{
						&.info{
							.field{
								&.field-telefono,
								&.field-numero_de_identificacion{
									margin-left: 0;
								}
								&.field.field-identificacion{
									margin-left: 2%;
								}
							}
						}
						&.account{
							.field:not(.choice){
								float: left;
								margin-right: 2%;
								width: calc(~'(100% - 4%)/3');
								&.confirmation{
									margin-right: 0;
								}
							}
						}
					}
				}
			}
		}
	}
	.account{
		.column.main{
            .fieldset,
            .block{
                .legend,
                .block-title{
                    span,
                    strong{
                        font-size: 1.6rem !important;
                        font-weight: 400 !important;
                    }
                }
            }
			.page-title-wrapper{
				.page-title{
					font-size: 2rem;
					float: left;
				}
			}
			> .block,
			form > fieldset.fieldset{
				background: @white;
				border-radius: @radiusitems;
				padding: 20px;
				a.action{
					font-weight: 500;
					text-decoration: underline;
					font-size: 1.3rem;
				}
			}
		}
		.sidebar-main{
			.block-collapsible-nav-content{
				background: @white;
				border-radius: @radiusitems;
				ul.items{
					.item{
						margin: 0 20px;
						&:not(:last-child){
							border-bottom: 1px solid @gray3;
						}
						strong,
						a{
							border-left: 0;
							padding: 7px 0;
						}
						a{
							color: @gray;
							@media @mdmin{
								&:hover{
									background: transparent;
									color: @black;
								}
							}
						}
						.delimiter{
							display: none;
						}
					}
				}
			}
		}

        .Imagen-debajo-filtros, .page-bottom{
            display: none !important;
        }
        //  ------------CUENTA - Libreta de Direcciones ------------
        &.customer-address-index{
            .block.block-addresses-default{
                .box-content{
                    address{
                        a{
                            font-weight: bold;
                        }
                    }
                }
            }
            .page-title-wrapper{
                .page-title{
                    .base{
                        font-weight: 400;
                    }
                }
            }
            .second-title{
                .page-title{
                    .base{
                        font-weight: 500;
                    }
                }
            }
            .block.block-addresses-list{
                .table-wrapper.additional-addresses{
                    border: unset;
                    .col.actions{
                        border-bottom: none !important;
                        &:before{
                            display: none !important;
                        }
                        a{
                            color: @black !important;
                            font-weight: bold;
                        }
                    }
                }
                .customer-addresses-toolbar.toolbar.bottom{
                    display: none;
                }
            }
        }
	}
//  ------------LOGIN------------
    .customer-account-login{
        .page-main{
            .page-title-wrapper{
                .page-title{
                    font-size: 3.2rem;
                }
            }
        }
        .columns{
            .block.block-customer-login,
            .block.block-new-customer {
                .block-title {
                    border-bottom: 1px solid @lines-input;
                    font-size: 1.6rem;
                }
                .block-content{
                    padding-top: 5px;
                }
                .actions-toolbar{
                    .primary {
                        width: 50%;
                        .action.create.primary,
                        .action.login.primary{
                            width: 100%;
                            margin-right: 0;
                            height: 60px;
                        }
                    }
                }
            }
            .block.block-customer-login{
                margin-bottom: unset;
                .block-content{
                    .fieldset.login{
                        &:after{
                            display: none;
                        }
                        .field{
                            .label{
                                font-weight: normal;
                            }
                            .control{
                                width: 100%;
                            }
                        }
                        .actions-toolbar{
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            .secondary{
                                width: 50%;
                                .action.remind{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            .block.block-new-customer{
                .block-content{
                    p{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
//  ------------CREATE------------
    .customer-account-create{
        .page-main{
            .page-title-wrapper{
                .page-title{
                    font-size: 3.2rem;
                }
            }
        }
        .columns{
            .form.create.account.form-create-account{
                .fieldset.create.info,
                .fieldset.create.account{
                    .legend{
                        span{
                            font-size: 1.6rem;
                            font-weight: 400;
                        }
                    }
                    .field{
                        .label{
                            font-weight: normal;
                            font-size: 1.2rem;
                        }
                    }
                }
                .fieldset.create.info{
                    .field.gender.required,
                    .field.field-identificacion.required{
                        width: 23.5%;
                    }
                    .field.field-numero_de_identificacion.required,
                    .field.date.field-dob.required{
                        margin-left: 2%;
                    }
                    .field.choice{
                        display: none;
                    }
                }
                .fieldset.create.account{
                    &:after{
                        display: none;
                    }
                    .field.password.required{
                        .control{
                            #password-strength-meter-container{
                                display: none;
                            }
                        }
                    }
                    .field.choice{
                        display: none;
                    }
                }
                .fieldset.additional_info{
                    .field.choice.newsletter{
                        .label{
                            span{
                                font-weight: normal;
                            }
                            &:after{
                                background-color: @black;
                                color: @white;
                            }
                        }
                    }
                }
                .actions-toolbar{
                    .primary{
                        .action.submit.primary{
                            width: 220px;
                            height: 60px;
                        }
                    }
                }
            }
        }
    }

    ///GIFT CART///
    .magento_giftcardaccount-customer-index{
        .page-wrapper{
            .page-main{
                .giftcard-account{
                    box-shadow: 2px 2px 12px @gray;
                    border-radius: 12px;
                    background: @white;

                    .actions-toolbar{
                        .secondary{
                            button{
                                border: 1px solid @black;
                                border-radius: 12px;
                                padding: 18px 20px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }

    ///////NEWSLATTER///////////
    .newsletter-manage-index{
        .page-wrapper{
            .page-main{
                .form-newsletter-manage{
                    box-shadow: 2px 2px 12px @shadowitems;
                    border-radius: 12px;
                    background: @white;

                    .fieldset{
                        padding: 0;
                    }

                    .legend{
                        border: none;

                        span{
                            .lib-font-size(16);
                            FONT-WEIGHT: 600;
                        }
                    }

                    .choice{
                        .label{
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}

//
// Desktop
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .account{
        .column.main{
            .page-title-wrapper {
                .page-title{
                    margin: 0 0 20px 32px;
                    width: auto;
                }
            }
        }
        //  ------------CUENTA - Libreta de Direcciones ------------
        &.customer-address-index{
            .block.block-addresses-list{
                .table-wrapper.additional-addresses{
                    .col.actions{
                        display: flex;
                        flex-direction: column;
                        a{
                            &:after{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    ///GIFT CART///
    .magento_giftcardaccount-customer-index{
        .page-wrapper{
            .page-main{
                .giftcard-account{
                    .actions-toolbar{
                        padding: 0 0 32px 33px;
                    }
                }
            }
        }
    }

    ///////NEWSLATTER///////////
    .newsletter-manage-index{
        .page-wrapper{
            .page-main{
                .form-newsletter-manage{
                    padding: 24px 0 32px 31px;

                    .legend{

                        span{
                        }
                    }

                    .actions-toolbar{
                        .save{
                            padding: 18px 73px;
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {

    .account{
        .column.main{
            .page-title-wrapper {
                display: inline-block;

                .page-title{
                    margin: 0 0 14px 0;
                    width: 100%;

                    span{
                        .lib-font-size(16);
                    }
                }
            }
        }

        .sidebar-main{
            .block-collapsible-nav{
                .block-collapsible-nav-title{
                    justify-content: center;
                    align-items: center;
                    background: @black;
                    display: flex;
                    color: @white;

                    &::after{
                        margin: 0 0 0 16px;
                        .lib-font-size(16);
                        position: initial;
                    }

                    strong{
                        .lib-font-size(16);
                        margin: 0;
                    }
                }
            }
        }
    }

//  ------------LOGIN------------
    .customer-account-login{
        .page-main{
            .page-title-wrapper{
                .page-title{
                    font-size: 2.2rem !important;
                }
            }
        }
        .columns{
            .login-container{
                background: unset !important;
                padding: unset !important;
                .block.block-customer-login,
                .block.block-new-customer{
                    background: @white;
                    border-radius: 12px;
                    padding: 15px;
                }
                .block.block-customer-login{
                    .block-content{
                        padding-top: unset;
                        .fieldset.login{
                            margin-bottom: unset !important;
                            .actions-toolbar{
                                flex-direction: column;
                                .primary{
                                    order: 2;
                                    width: 100% !important;
                                    .action.login.primary{
                                        height: 40px !important;
                                        padding: 0;
                                    }
                                }
                                .secondary{
                                    order: 1;
                                    width: unset !important;
                                    margin-bottom: 25px;
                                    .action.remind{
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
                .block.block-new-customer{
                    margin-top: 15px;
                    .block-content{
                        padding-top: 5px;
                        p{
                            font-size: 1.2rem;
                        }
                        .actions-toolbar{
                            .primary {
                                width: 100%;
                                .action.create.primary {
                                    height: 40px !important;
                                    padding: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //  ------------CREATE------------
    .customer-account-create{
        .page-main{
            .page-title-wrapper{
                .page-title{
                    font-size: 2.2rem !important;
                }
            }
        }
        .columns{
            .form.create.account.form-create-account{
                .fieldset.create.info,
                .fieldset.create.account{
                    .field{
                        .label{
                            font-size: 1.4rem;
                        }
                    }
                }
                .fieldset.create.info{
                    .field.gender.required,
                    .field.field-identificacion.required{
                        width: 100% !important;
                    }
                    .field.field-numero_de_identificacion.required,
                    .field.date.field-dob.required{
                        margin-left: 0 !important;
                    }
                }
                .actions-toolbar{
                    .primary{
                        .action.submit.primary{
                            width: 100% !important;
                            height: 40px !important;
                            padding: 8px;
                        }
                    }
                }
            }
        }
    }

    ///GIFT CART///
    .magento_giftcardaccount-customer-index{
        .page-wrapper{
            .page-main{
                .giftcard-account{

                    .actions-toolbar{
                        padding: 0 17px 32px;
                    }
                }
            }
        }
    }

    ///////NEWSLATTER///////////
    .newsletter-manage-index{
        .page-wrapper{
            .page-main{
                .form-newsletter-manage{
                    padding: 24px 24px 38px;

                    .legend{
                        span{
                        }
                    }
                }
            }
        }
    }
}
