//
// Common
//  ---------------------------------------------
& when (@media-common = true) {
    .customer-account-login,
	.customer-account-create,
	.customer-account-forgotpassword{
		.page-main{
			.page-title-wrapper{
				max-width: @layout-width;
				margin: auto;
			}
			.login-container,
			form.form-create-account,
			form#form-validate{
				width: 100%;
				max-width: @layout-width;
				background: @white;
				border-radius: @radiusitems;
				display: block;
				margin: auto;
				@media @mdmin{
					padding: 30px;
				}
				@media @mdmax{
					padding: 15px;
				}
			}
			form.forget{
				fieldset.fieldset{
					.lib-two-columns;
					.field{
						&.note{
							width: 100%;
						}
						@media @mdmin{
							&.email{
								margin-left: 0;
							}
							&.captcha{
								margin-left: 2%;
							}
						}
					}
				}
			}
			form.form-create-account{
				fieldset{
					&.info{
						.lib-two-columns;
					}
					@media @mdmin{
						&.info{
							.field{
								&.field-telefono,
								&.field-numero_de_identificacion{
									margin-left: 0;
								}
								&.field.field-identificacion{
									margin-left: 2%;
								}
							}
						}
						&.account{
							.field:not(.choice){
								float: left;
								margin-right: 2%;
								width: calc(~'(100% - 4%)/3');
								&.confirmation{
									margin-right: 0;
								}
							}
						}
					}
				}
			}
		}
	}
	.account{
		.column.main{
            .fieldset,
            .block{
                .legend,
                .block-title{
                    span,
                    strong{
                        font-size: 1.6rem !important;
                        font-weight: 400 !important;
                    }
                }
            }
			.page-title-wrapper{
				.page-title{
                    font-size: 2rem;
					float: left;

                    .base{
                        font-weight: 600;
                    }
				}
			}
			> .block,
			form > fieldset.fieldset{
				background: @white;
				border-radius: @radiusitems;
				padding: 20px;
				a.action{
					font-weight: 500;
					text-decoration: underline;
					font-size: 1.3rem;
				}
			}

            .pager{
                justify-content: space-between;
                align-items: center;
                .lib-font-size(16);

                .toolbar-amount{
                    &::first-letter{
                        font-weight: bold;
                    }
                }

                .limiter{
                    align-items: center;
                    display: flex;

                    .limiter-options{
                        background-color: transparent;
                        box-shadow: none;
                        border: none;
                        width: 55px;
                    }
                }
            }
		}
		.sidebar-main{
			.block-collapsible-nav-content{
				background: @white;
				border-radius: @radiusitems;
				ul.items{
                    flex-flow: column;
                    display: flex;
					.item{
						margin: 0 20px;
                        &:first-child{
                            order: 1;
                        }
                        &:nth-child(2){
                            order: 2;
                        }
                        &:nth-child(3){
                            order: 3;
                        }
                        &:nth-child(4){
                            order: 4;
                        }
                        &:nth-child(5){
                            order: 5;
                        }
                        &:nth-child(6){
                            order: 6;
                        }
                        &:nth-child(7){
                            order: 7;
                        }
                        &:nth-child(8){
                            order: 10;
                        }
                        &:nth-child(9){
                            order: 8;
                        }
                        &:nth-child(10){
                            order: 9;
                        }
						&:not(:nth-child(8)){
							border-bottom: 1px solid @gray3;
						}
                        &.current{
                            strong{
                                font-weight: bold;
                            }
                        }
						strong,
						a{
							border-left: 0;
							padding: 7px 0;
						}
						a{
							color: @gray;
							@media @mdmin{
								&:hover{
									background: transparent;
									color: @black;
								}
							}
						}
						.delimiter{
							display: none;
						}
					}
				}
			}
		}

        .Imagen-debajo-filtros, .page-bottom{
            display: none !important;
        }
        //  ------------CUENTA - Libreta de Direcciones ------------
        &.customer-address-index{
            .block.block-addresses-default{
                .box-content{
                    address{
                        a{
                            font-weight: bold;
                        }
                    }
                }
            }
            .page-title-wrapper{
                .page-title{
                    .base{
                        font-weight: 400;
                    }
                }
            }
            .second-title{
                .page-title{
                    .base{
                        font-weight: 500;
                    }
                }
            }
            .block.block-addresses-list{
                .table-wrapper.additional-addresses{
                    border: unset;
                    .col.actions{
                        border-bottom: none !important;
                        &:before{
                            display: none !important;
                        }
                        a{
                            color: @black !important;
                            font-weight: bold;
                        }
                    }
                }
                .customer-addresses-toolbar.toolbar.bottom{
                    display: none;
                }
            }
        }
	}
 //  ------------LOGIN------------
    .customer-account-login{
        .page-main{
            .page-title-wrapper{
                .page-title{
                    font-size: 3.2rem;
                }
            }
        }
        .columns{
            .block.block-customer-login,
            .block.block-new-customer {
                .block-title {
                    border-bottom: 1px solid @lines-input;
                    font-size: 1.6rem;
                }
                .block-content{
                    padding-top: 5px;
                }
                .actions-toolbar{
                    .primary {
                        width: 50%;
                        .action.create.primary,
                        .action.login.primary{
                            width: 100%;
                            margin-right: 0;
                            height: 60px;
                        }
                    }
                }
            }
            .block.block-customer-login{
                margin-bottom: unset;
                .block-content{
                    .fieldset.login{
                        &:after{
                            display: none;
                        }
                        .field{
                            .label{
                                font-weight: normal;
                            }
                            .control{
                                width: 100%;
                            }
                        }
                        .actions-toolbar{
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            .secondary{
                                width: 50%;
                                .action.remind{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            .block.block-new-customer{
                .block-content{
                    p{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
 //  ------------CREATE------------
    .customer-account-create{
        .page-main{
            .page-title-wrapper{
                .page-title{
                    font-size: 3.2rem;
                }
            }
            .columns{
                .form.create.account.form-create-account{
                    .fieldset.create.info,
                    .fieldset.create.account{
                        .legend{
                            span{
                                font-size: 1.6rem;
                                font-weight: 600;
                            }
                        }
                        .field{
                            .label{
                                font-weight: normal;
                                font-size: 1.2rem;
                                &:after{
                                    content: '*';
                                    color: @red;
                                    font-size: 1.2rem;
                                    margin: 0 0 0 5px;
                                }
                            }
                        }
                    }
                    .fieldset.create.info{
                        margin-bottom: 20px;
                        .fullname{
                            .field.field-name-firstname.required,
                            .field.field-name-lastname.required{
                                width: calc(~'(50% - 8px)');
                                margin-top: unset;
                                margin-bottom: 20px;
                            }
                            .field.field-name-firstname.required{
                                float: left;
                            }
                            .field.field-name-lastname.required{
                                float: right;
                            }
                        }
                        .field.gender.required,
                        .field.field-identificacion.required{
                            width: calc(~'(25% - 12px)');
                            float: left;
                            margin-left: unset ;
                            margin-right: 16px;
                            .control{
                                &:focus{
                                    box-shadow: 0 0 3px 1px @a-hovers;
                                }
                            }
                        }
                        .field.date.field-dob.required{
                            .control.customer-dob{
                                height: 48px;
                                border-radius: 12px;
                                background: @white;
                                background-clip: padding-box;
                                border: 1px solid @lines-input;
                                font-size: 1.4rem;
                                line-height: 1.428571429;
                                vertical-align: baseline;
                                width: 100%;
                                box-sizing: border-box;
                                input{
                                    border: none;
                                    background: none;
                                    margin: unset;
                                }
                            }
                        }
                        .field.choice{
                            display: none;
                        }
                    }
                    .fieldset.create.account{
                        &:after{
                            display: none;
                        }
                        .field.emailaddress.required{
                            margin-top: unset;
                        }
                        .field.password.required{
                            .control{
                                #password-strength-meter-container{
                                    display: none;
                                }
                            }
                        }
                        .field.choice{
                            display: none;
                        }
                    }
                    .fieldset.additional_info{
                        .field.choice.newsletter{
                            .label{
                                span{
                                    font-weight: normal;
                                }
                                &:after{
                                    background-color: @black;
                                    color: @white;
                                }
                            }
                        }
                    }
                    .actions-toolbar{
                        .primary{
                            .action.submit.primary{
                                width: 220px;
                                height: 60px;
                            }
                        }
                    }
                }
            }
        }
    }

    ///GIFT CART///
    .magento_giftcardaccount-customer-index{
        .page-wrapper{
            .page-main{
                .giftcard-account{
                    box-shadow: 2px 2px 12px @gray;
                    border-radius: 12px;
                    background: @white;

                    .actions-toolbar{
                        .secondary{
                            button{
                                border: 1px solid @black;
                                border-radius: 12px;
                                padding: 18px 20px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }

    ///////NEWSLATTER///////////
    .newsletter-manage-index{
        .page-wrapper{
            .page-main{
                .form-newsletter-manage{
                    box-shadow: 2px 2px 12px @shadowitems;
                    border-radius: 12px;
                    background: @white;

                    .fieldset{
                        padding: 0;
                    }

                    .legend{
                        border: none;

                        span{
                            .lib-font-size(16);
                            FONT-WEIGHT: 600;
                        }
                    }

                    .choice{
                        .label{
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }

    /////////OPINIONES////////////
    .review-customer-index{
        .page-wrapper{
            .page-main{
                .columns{
                    .table-wrapper{
                        box-shadow: 2px 2px 12px  @shadowitems;
                        border-radius: 12px 12px 0 0;
                        padding: 14px 25px 22px;
                        background: @white;
                        border: none;
                        margin: 0;

                        .table-reviews{
                            thead{
                                tr{
                                    .lib-font-size(16);

                                    th{
                                        border-color: @gray-D8;
                                        padding: 18px 11px;
                                    }
                                }
                            }

                            tbody{
                                tr{
                                    border-bottom: 1px solid @gray-D8;

                                    .item{
                                        max-width: 250px;

                                        strong{
                                            a{
                                                color: @black;
                                            }
                                        }
                                    }

                                    .actions{
                                        text-decoration: underline;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }

                    .products-reviews-toolbar{
                        border-radius:  0 0 12px 12px;
                        padding: 15px 32px 31px;
                        background: @white;
                    }
                }
            }
        }
    }

    /////////INFO DE CUENTA/////////////
    .customer-account-edit{
        .page-main{
            .columns{
                .column{
                    .form-edit-account{
                        .fieldset{
                            width: 100%;

                            .legend{
                                display: none;
                            }

                            .field{
                                .label{
                                    .lib-font-size(14);
                                    font-weight: 400;
                                    margin: 0 0 8px;
                                    display: block;
                                }

                                &.choice{
                                    .label{
                                        .lib-font-size(12);
                                    }

                                    &:last-child{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //////WISHLIST//////////////
    .page-multiple-wishlist{
        .page-wrapper{
            .page-main{
                .columns{
                    .column{
                        position: relative;

                        .wishlist-toolbar{

                            .limiter{
                                align-items: center;
                                display: flex;

                                .limiter-options{
                                    background-color: @white;
                                    border-radius: 12px;
                                    box-shadow: none;
                                    border: none;
                                    height: 32px;
                                    width: 55px;
                                }
                            }
                        }

                        .form-wishlist-items{
                            .block-wishlist-management{
                                position: initial;

                                .wishlist-select, .wishlist-info, .wishlist-toolbar{
                                    display: none;
                                }

                                .wishlist-title{
                                    border-bottom: 1px solid @gray-D8;
                                    position: absolute;
                                    top: 0;

                                    a{
                                        text-decoration: underline;
                                    }
                                }
                            }
                            .products-grid{
                                .product-items{
                                    .product-item{
                                        .product-item-info{

                                            .product-item-checkbox{
                                                display: none;
                                            }

                                            .product-item-inner{
                                                box-shadow: none;

                                                .comment-box{
                                                    display: none;
                                                }

                                                .box-tocart{
                                                    .fieldset{
                                                        .field{
                                                            display: none;
                                                        }

                                                        .product-item-actions{
                                                            display: block;
                                                            width: 100%;

                                                            .actions-primary{
                                                                width: 100%;

                                                                .tocart{
                                                                    text-transform: uppercase;
                                                                    border-radius: 12px;
                                                                    width: 100%;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                .product-item-actions{
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .actions-toolbar{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    ///////MIS PEDIDOS////////
    .sales-order-history{
        .page-wrapper{
            .page-main{
                .page {
                    &.messages{
                        margin: 0;
                    }
                }

                .columns{
                    .column{
                        .orders-history{
                            border-radius: 12px 12px 0 0;
                            background: @white;
                            border: none;
                            margin: 0;

                            .table-order-items{

                                thead{
                                    tr{
                                        border-bottom: 1px solid @gray-D8;

                                        th{
                                            .lib-font-size(16);
                                            border: none;
                                        }

                                        .actions{
                                            width: 200px;
                                        }
                                    }
                                }

                                tbody{
                                    tr{
                                        background: @white;

                                        .actions{
                                            text-decoration: underline;
                                            FONT-WEIGHT: 600;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .order-products-toolbar{
                            border-radius: 0 0 12px 12px;
                            background: @white;
                            padding: 13px 36px;
                        }
                    }
                }
            }
        }
    }
}

//
// Desktop
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .account{
        .page-main{
            max-width: 1280px;

            .columns{
                .sidebar-main{
                    margin: 0 0 100px 0;
                }
            }
        }

        .column.main{
            .page-title-wrapper {
                .page-title{
                    margin: 0 0 20px 32px;
                    width: auto;
                }
            }
        }
        //  ------------CUENTA - Libreta de Direcciones ------------
        &.customer-address-index{
            .block.block-addresses-list{
                .table-wrapper.additional-addresses{
                    .col.actions{
                        display: flex;
                        flex-direction: column;
                        a{
                            &:after{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    ///GIFT CART///
    .magento_giftcardaccount-customer-index{
        .page-wrapper{
            .page-main{
                .giftcard-account{
                    .actions-toolbar{
                        padding: 0 0 32px 33px;
                    }
                }
            }
        }
    }

    ///////NEWSLATTER///////////
    .newsletter-manage-index{
        .page-wrapper{
            .page-main{
                .form-newsletter-manage{
                    padding: 24px 0 32px 31px;

                    .legend{

                        span{
                        }
                    }

                    .actions-toolbar{
                        .save{
                            padding: 18px 73px;
                        }
                    }
                }
            }
        }
    }

    /////////OPINIONES////////////
    .review-customer-index{
        .page-wrapper{
            .page-main{
                .columns{
                    .table-wrapper{
                        box-shadow: 2px 2px 12px  @shadowitems;
                        border-radius: 12px 12px 0 0;
                        padding: 14px 25px 22px;
                        background: @white;
                        border: none;
                        margin: 0;

                        .table-reviews{
                            thead{
                                tr{
                                    .lib-font-size(16);

                                    th{
                                        border-color: @gray-D8;
                                        padding: 18px 11px;
                                    }
                                }
                            }

                            tbody{
                                tr{
                                    border-bottom: 1px solid @gray-D8;

                                    td{
                                        padding: 18px 11px;
                                    }

                                    .item{
                                        max-width: 250px;

                                        strong{
                                            a{
                                                color: @black;
                                            }
                                        }
                                    }

                                    .actions{
                                        text-align: right;
                                    }
                                }
                            }
                        }
                    }

                    .products-reviews-toolbar{
                        border-radius:  0 0 12px 12px;
                        padding: 15px 32px 31px;
                        background: @white;
                    }
                }
            }
        }
    }

    /////////INFO DE CUENTA/////////////
    .customer-account-edit{
        .page-main{
            .columns{
                .column{
                    .form-edit-account{
                        .fieldset{
                            padding: 20px 32px;
                            position: relative;

                            .fullname{
                                display: inline-block;
                                position: absolute;
                                width: 45%;

                                .field{
                                    width: 100%;
                                }
                            }

                            .field{
                                margin: 0 0 20px auto;
                                width: 45%;

                                &.choice{
                                    display: block;
                                    width: 51%;
                                }
                            }

                            &.password{
                                .field{
                                    margin: 0 auto 20px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //////WISHLIST//////////////
    .page-multiple-wishlist{
        .page-wrapper{
            .page-main{
                .columns{
                    .column{
                        position: relative;

                        .wishlist-toolbar{
                            margin: 65px 0 0 32px;

                            &:last-child{
                                display: none;
                            }

                            .pager{
                                .lib-font-size(16);
                            }

                            .toolbar-amount{
                                &::first-letter{
                                    font-weight: bold;
                                }
                            }

                            .limiter{
                                align-items: center;
                                display: flex;

                                .limiter-options{
                                    background-color: @white;
                                    border-radius: 12px;
                                    box-shadow: none;
                                    border: none;
                                    height: 32px;
                                    width: 55px;
                                }
                            }
                        }

                        .form-wishlist-items{
                            .block-wishlist-management{
                                position: initial;

                                .wishlist-select, .wishlist-info, .wishlist-toolbar{
                                    display: none;
                                }

                                .wishlist-title{
                                    width: calc(~'(100% - 5%)');
                                    padding: 0 0 11px 0;
                                    margin: 0 0 0 32px;

                                    strong{
                                        .lib-font-size(20);
                                        font-weight: bold;
                                    }

                                    .edit{
                                        text-decoration: underline;
                                        .lib-font-size(13);
                                    }
                                }
                            }
                            .products-grid{
                                .product-items{
                                    .product-item{
                                        .product-item-info{
                                            border-radius: 12px;

                                            .product-item-checkbox{
                                                display: none;
                                            }

                                            .product-item-name{
                                                min-height: 38px;
                                                margin: 5px 10%;
                                            }

                                            .product-item-inner{
                                                position: initial;
                                                padding: 0 10%;
                                                border: none;
                                                margin: 0;

                                                .comment-box{
                                                    display: none;
                                                }

                                                .box-tocart{
                                                    .fieldset{
                                                        .field{
                                                            display: none;
                                                        }

                                                        .product-item-actions{
                                                            display: block;
                                                            width: 100%;

                                                            .actions-primary{
                                                                width: 100%;

                                                                .tocart{
                                                                    border-radius: 12px;
                                                                    width: 100%;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                .product-item-actions{
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    ///////MIS PEDIDOS////////
    .sales-order-history{
        .page-wrapper{
            .page-main{
                .page {
                    &.messages{
                        margin: 0;
                    }
                }

                .columns{
                    .column{
                        .orders-history{
                            padding: 9px 19px;
                            padding: 13px 36px;

                            .table-order-items{

                                thead{
                                    tr{
                                        .actions{
                                            width: 200px;
                                        }
                                    }
                                }

                                tbody{
                                    tr{
                                        border-bottom: 1px solid @gray-D8;
                                        background: @white;

                                        .col{
                                            padding: 18px 10px;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .order-products-toolbar{
                            border-radius: 0 0 12px 12px;
                            background: @white;
                            padding: 13px 36px;
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {

    .account{
        .columns{
            .column.main{
                padding: 0 16px;
    
                .page-title-wrapper {
                    display: inline-block;
    
                    .page-title{
                        margin: 0 0 14px;
                        width: 100%;
    
                        span{
                            .lib-font-size(16);
                        }
                    }
                }
    
                .pager{
                    display: block;
    
                    .limiter{
                        justify-content: center;
                    }
                }
            }
        }

        .sidebar-main{
            .block-collapsible-nav{
                .block-collapsible-nav-title{
                    justify-content: center;
                    align-items: center;
                    background: @black;
                    display: flex;
                    color: @white;

                    &::after{
                        margin: 0 0 0 16px;
                        .lib-font-size(16);
                        position: initial;
                    }

                    strong{
                        .lib-font-size(16);
                        margin: 0;
                    }
                }
            }
        }

        .page-footer{
            display: none;
        }
    }

 //  ------------LOGIN------------
    .customer-account-login{
        .page-main{
            .page-title-wrapper{
                .page-title{
                    font-size: 2.2rem !important;
                }
            }
        }
        .columns{
            .login-container{
                background: unset !important;
                padding: unset !important;
                .block.block-customer-login,
                .block.block-new-customer{
                    background: @white;
                    border-radius: 12px;
                    padding: 15px;
                }
                .block.block-customer-login{
                    .block-content{
                        padding-top: unset;
                        .fieldset.login{
                            margin-bottom: unset !important;
                            .actions-toolbar{
                                flex-direction: column;
                                .primary{
                                    order: 2;
                                    width: 100% !important;
                                    .action.login.primary{
                                        height: 40px !important;
                                        padding: 0;
                                    }
                                }
                                .secondary{
                                    order: 1;
                                    width: unset !important;
                                    margin-bottom: 25px;
                                    .action.remind{
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
                .block.block-new-customer{
                    margin-top: 15px;
                    .block-content{
                        padding-top: 5px;
                        p{
                            font-size: 1.2rem;
                        }
                        .actions-toolbar{
                            .primary {
                                width: 100%;
                                .action.create.primary {
                                    height: 40px !important;
                                    padding: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //  ------------CREATE------------
    .customer-account-create{
        .page-main{
            margin-left: 16px;
            margin-right: 16px;
            .page-title-wrapper{
                .page-title{
                    font-size: 2.2rem !important;
                }
            }
            .columns{
                .form.create.account.form-create-account{
                    .fieldset.create.info,
                    .fieldset.create.account{
                        .field{
                            .label{
                                font-weight: normal;
                                font-size: 1.2rem;
                                &:after{
                                    content: '*';
                                    color: @red;
                                    font-size: 1.2rem;
                                    margin: 0 0 0 5px;
                                }
                            }
                        }
                    }
                    .fieldset.create.info{
                        margin-bottom: 20px;
                        .fullname{
                            .field.field-name-firstname.required,
                            .field.field-name-lastname.required{
                                width: 100% !important;
                                float: unset !important;
                            }
                        }
                        .field.gender.required,
                        .field.field-identificacion.required{
                            width: calc(~'(50% - 8px)') !important;
                            margin-right: unset !important;
                        }
                        .field.field-identificacion.required{
                            float: right !important;
                        }
                    }
                    .actions-toolbar{
                        .primary{
                            .action.submit.primary{
                                width: 100% !important;
                                height: 40px !important;
                                padding: 8px;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }


    ///GIFT CART///
    .magento_giftcardaccount-customer-index{
        .page-wrapper{
            .page-main{
                .giftcard-account{

                    .actions-toolbar{
                        padding: 0 17px 32px;
                    }
                }
            }
        }
    }

    ///////NEWSLATTER///////////
    .newsletter-manage-index{
        .page-wrapper{
            .page-main{
                .form-newsletter-manage{
                    padding: 24px 24px 38px;

                    .legend{
                        span{
                        }
                    }
                }
            }
        }
    }

    /////////OPINIONES////////////
    .review-customer-index{
        .page-wrapper{
            .page-main{
                .columns{
                    .table-wrapper{
                        box-shadow: 2px 2px 12px  @shadowitems;
                        border-radius: 12px 12px 0 0;
                        padding: 14px 25px 22px;
                        background: @white;
                        border: none;
                        margin: 0;

                        .table-reviews{
                            thead{
                                tr{
                                    .lib-font-size(16);

                                    th{
                                        border-color: @gray-D8;
                                        padding: 18px 11px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /////////INFO DE CUENTA/////////////
    .customer-account-edit{
        .page-main{
            .columns{
                .column{
                    .form-edit-account{
                        .fieldset{
                            position: relative;

                            br{
                                display: none;
                            }

                            .fullname{
                                .field{
                                    margin: 0 0 16px;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //////WISHLIST//////////////
    .page-multiple-wishlist{
        .page-wrapper{
            .page-main{
                .columns{
                    .column{
                        margin: 0 16px;

                        .wishlist-toolbar{
                            margin:  28px 0 24px;

                            &:last-child{
                                display: none;
                            }

                            .pager{
                                justify-content: space-between;
                                display: flex;
                            }
                        }

                        .form-wishlist-items{
                            .block-wishlist-management{
                                margin: 0;

                                .wishlist-select, .wishlist-info, .wishlist-toolbar{
                                    display: none;
                                }

                                .wishlist-title{
                                    .lib-font-size(13);
                                    padding: 0 0 14px;
                                    width: 100%;

                                    strong{
                                        .lib-font-size(16);
                                        font-weight: bold;
                                    }
                                }
                            }

                            .products-grid{
                                .product-items{
                                    .product-item{
                                        padding: 20px 0 0;

                                        .product-item-info{
                                            padding: 0 12px 12px;

                                            .product-item-photo{
                                                float: none;
                                                margin: 0;

                                                .product-image-container{
                                                    min-width: 100%;

                                                    .product-image-wrapper{
                                                        padding-bottom: 100% !important;
                                                    }
                                                }
                                            }

                                            .product-item-checkbox{
                                                display: none;
                                            }

                                            .product-item-name{
                                                .lib-font-size(12);
                                                FONT-WEIGHT: 200;
                                                min-height: 51px;
                                                margin: 0 0 5px;
                                            }

                                            .price-box{
                                                margin: 0 0 6px;
                                            }

                                            .product-item-inner{
                                                .comment-box{
                                                    display: none;
                                                }

                                                .box-tocart{
                                                    float: none;
                                                    margin: 0;

                                                    .fieldset{
                                                        margin: 0;

                                                        .product-item-actions{
                                                            display: block;
                                                            width: 100%;

                                                            .actions-primary{
                                                                .tocart{
                                                                    padding: 7px 0 8px;
                                                                    .lib-font-size(14);
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                .product-item-actions{
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    ///////MIS PEDIDOS////////
    .sales-order-history{
        .page-wrapper{
            .page-main{
                .columns{
                    .column{
                        .orders-history{
                            padding: 0 19px;

                            .table-order-items{
                                tbody{
                                    tr{
                                        .id{
                                            padding: 24px 10px 5px;
                                        }
                                        
                                        .actions{
                                            padding: 5px 10px 24px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
