//
// Common
//  ---------------------------------------------
& when (@media-common = true) {
    .cms-preguntas-frecuentes{
        .page-wrapper{
            background: @color-white;
        }
        .row-button-mobile-questions{
            .pagebuilder-button-primary{
                display: none;
            }
        }
        .content-menu-questions{
            padding: 100px 15px 0 15px;
            .row-content-menu{
                border: 1px solid @gray-A7;
                margin-bottom: 5px;
                border-radius: 12px;
                &:hover{
                    background: @gray-EE;
                }
                [data-content-type='button-item']{
                    width: 100%;
                }
                .pagebuilder-column{
                    position: relative;
                    img{
                        position: absolute;
                        width: 48px;
                        height: auto;
                        float: left;
                        left: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 2;
                    }
                   .pagebuilder-button-primary{
                        position: relative;
                        background: transparent;
                        width: 100%;
                        color: @black;
                        margin: 0;
                        padding: 20px 15px;
                        text-align: left !important; //style by pagebuilder
                        padding-left: 70px;
                        cursor: pointer;
                        z-index: 2;
                        &:active,
                        &:focus{
                            border: 0;
                        }
                    }
                }
            }
        }
        .content-info-questions{
            padding-right: 15px;
            .title-head{
                p{
                    .lib-font-size(42);
                    font-weight: bold;
                    margin-bottom: 0;
                }
            }
            .row-title-section{
                p{
                    .lib-font-size(20);
                    font-weight: bold;
                    padding-top: 20px;
                }
            }
            .row-info-questions{
                .pagebuilder-column{
                    .lib-css(justify-content,center, @_prefix: 1) !important; //style by pagebuilder
                    p{
                        padding: 10px 15px;
                    }
                    figure,
                    .pagebuilder-video-inner{
                        text-align: center;
                        padding: 15px 25px;
                        .pagebuilder-video-container{
                            border-radius: 12px;
                        }
                    }
                }
                .tab-title-question{
                    div {
                        width: 100%;
                        .pagebuilder-button-primary{
                           background: @gray-EE; 
                           border-radius: 8px;
                           text-align: start !important; //style by pagebuilder
                           cursor: pointer;
                           padding: 10px 15px;
                           span{
                            color: @black;
                            font-weight: bold;
                            width: 100%;
                            .lib-font-size(16);
                            .lib-icon-font(
                                @_icon-font-content: @icon-arrowdown,
                                @_icon-font-size: 1.8rem,
                                @_icon-font-position: after,
                                @_icon-font-margin: 0 10px 0 0,
                            );
                            &:after{
                                float: right;
                                overflow: initial;
                            }
                           }
                        } 
                    }
                }
                .ui-state-active{
                    .tab-title-question{
                        .pagebuilder-button-primary{
                            span{
                                .lib-icon-font(
                                    @_icon-font-content: @icon-arrowup,
                                    @_icon-font-size: 1.8rem,
                                    @_icon-font-position: after,
                                    @_icon-font-margin: 0 10px 0 0,
                                );
                                &:after{
                                    float: right;
                                    overflow: initial;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//Mobile max 768px
@media @mdmax{
    .cms-preguntas-frecuentes{
        .page-wrapper{
            padding-top: 0;
            .title-head{
                p{
                    display: none;
                }
            }
            .row-button-mobile-questions{
                position: relative;
                .button-primary-mobile-questions{
                    position: fixed;
                    top: 110px;
                    width: 100%;
                    z-index: 100;
                    .pagebuilder-button-primary{
                        display: block;
                        width: 100%;
                        border-radius: 0;
                        span{
                            .lib-icon-font(
                                @_icon-font-content: @icon-arrowdown,
                                @_icon-font-size: 1.8rem,
                                @_icon-font-position: after,
                                @_icon-font-margin: 0 0 0 10px,
                            );
                        }
                        &:hover{
                            background: @color-black;
                        }
                    }
                    &.active{
                        .pagebuilder-button-primary{
                            margin: 0;
                            span{
                                .lib-icon-font(
                                    @_icon-font-content: @icon-arrowup,
                                    @_icon-font-size: 1.8rem,
                                    @_icon-font-position: after,
                                    @_icon-font-margin: 0 0 0 10px,
                                );
                            }
                        }
                    }
                }
            }
            .pagebuilder-column-line{
                .content-menu-questions{
                    display: none !important; // style by pagebuilder
                    &.active{
                        position: fixed;
                        top: 160px;
                        display: block !important; // style by pagebuilder
                        width: 100% !important; //style by pagebuilder
                        z-index: 200;
                        background: @white;
                        padding: 10px;
                    }
                    .row-content-menu{
                        border: 0;
                        border-bottom: 1px solid @gray-A7;
                        border-radius: 0;
                        &:hover{
                            background: @color-white;
                        }
                    }
                }
            }
            .content-info-questions{
                padding: 107px 15px 0 15px;
                .row-title-section{
                    p{
                        .lib-font-size(18);
                    }
                }
                .row-info-questions{
                    .tab-title-question{
                        > div {
                            .pagebuilder-button-primary{
                                span{
                                    .lib-css(display,flex, @_prefix: 1);
                                    .lib-css(justify-content,space-between, @_prefix: 1);
                                    .lib-css(align-items,center, @_prefix: 1);
                                    .lib-font-size(14);
                                    &:after{
                                        margin-right: 0;
                                        padding-left: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}