& when (@media-common = true) {
	.catalog-product-view{
		.page-wrapper{
			.page-main{
				.product.media{
					.fotorama__wrap{
						.fotorama__stage{
							background: @white;
							border-radius: @radiusitems;
							margin-bottom: 20px;
						}
						.fotorama__nav-wrap{
							.fotorama__thumb-border{
								border-color: @black;
							}
						}
					}
				}
				.product-info-main{
					background: @white;
					border-radius: @radiusitems;
					padding: 20px;
					display: flex;
					flex-direction: column;
					position: relative;
					.page-title-wrapper{
						width: 90%;
						margin: initial;
						h1{
							font-size: 3.2rem;
							font-weight: bold;
						}
					}
					.page-title-wrapper{
						order: 1;
					}
					.product-reviews-summary{
						order: 2;
					}
					.product-info-price{
						order: 3;
					}
					[id*="amasty-promo-countdown"]{
						order: 4;
					}
					.product-add-form{
						order: 5;
					}
					.product-social-links{
						order: 6;
					}
					.attribute.overview{
						order: 7;
					}
					.product-info-price{
						display: flex;
						flex-direction: column;
						order: 3;
						.product-info-stock-sku{
							order: 1;
							padding: 0;
							text-align: left;
						}
						.price-box{
							order: 2;
							padding: 0;
							display: flex;
							margin: 15px 0;
							.price{
								font-size: 3.2rem;
								font-weight: bold;
							}
							.normal-price{
								.price-label{
									display: none;
								}
							}
							.special-price{
								order: 2;
							}
							.old-price{
								margin-right: 5%;
								order: 1;
								.price-label{
									display: none;
								}
								.price{
									text-decoration: line-through;
									font-weight: 400;
									color: @gray;
								}
							}
						}
					}
					[id*="amasty-promo-countdown"]{
						.amcountdown-block-wrapper{
							margin: 15px 0;
							max-width: none;
						    padding: 0;
						    .amcountdown-text{
						    	text-align: center;
						    	font-weight: 500;
						    }
						    .amcountdown-content{
				    		    .amcountdown-list{
				    	    		span{
				    	    			font-weight: 600;
				    	    		}
				    	    	}
				    	    	.amcountdown-progressbar{
									progress::-moz-progress-bar {
										background: @black;
										height: 8px;
									}
									progress::-webkit-progress-value {
										background: @black;
										height: 8px;
									}
				    	    		.amcountdown-progress{
				    	    			height: 8px;
				    	    			background: @gray-D8;
				    	    		}
				    	    		.amcountdown-pointer{
				    	    			height: 10px;
				    	    			width: 10px;
				    	    			background: @black;
				    	    			top: -1px;
				    	    			margin-left: -2px;
				    	    		}
				    	    		&:before{
				    	    			display: none;
				    	    		}
				    	    	}
						    }
						}
					}
					.product-add-form{
						.product-options-wrapper{
							.lib-attr;
						}
						.box-tocart{
							.field.qty{
								display: block;
								.label{
									display: none;
								}
								.control{
									span[class*="action-"]{
										width: 60px;
										height: 60px;
									}
									.input-text.qty{
										height: 60px;
									}
								}
							}
						}
					}
					.product-social-links{
						margin: 0;
						a.action.towishlist{
							position: absolute;
							top: 20px;
							right: 20px;
							z-index: 10;
							margin: 0;
							span{
								display: none;
							}
							&:before{
								font-size: 2.2rem;
								overflow: initial;
								color: @black;
							}
							.lib-pulseefx;
						}
					}
				}
				.product.media{
					// AMASTY IMPORTANTS
					.amlabel-position-wrapper{
						top: 20px !important;
						left: 20px !important;
						.amasty-label-container{
							position: static !important;
							height: auto !important;
							width: auto !important;
							.amlabel-text{
								position: static !important;
								padding: 5px 10px !important;
								font-size: 1.4rem;
							}
						}
					}
					// AMASTY IMPORTANTS
				}
				.calculate-time{
					float: left;
					width: 100%;
					margin-top: 15px;
					.fast-shipping{
						float: right;
						padding: 20px;
						border-radius: @radiusitems;
						background: @white;
						@media @mdmin{
							width: 40%;
						}
					}
				}
				.product.info.detailed{
					.product.items{
						background: @white;
						padding: 20px;
						border-radius: @radiusitems;
						.item.title{
							.switch{
								height: auto;
							    line-height: 1;
							    padding: 27px 0;
							    margin: 0;
							    border-bottom: 0 !important;
							    border-left: 0;
							    border-right: 0;
							    border-bottom: 1px solid @gray-D4;
							    font-size: 2rem;
							    &:after{
							    	content: @icon-expand;
							    	font-size: 2.4rem;
							    	transform: none;
							    }
							}
							&:first-child{
								.switch{
									border-top: 0;
								}
							}
							&.active{
								.switch{
									&:after{
										content: @icon-collapse;
									}
								}
							}
						}
						.item.content{
							border: 0;
						}
					}
				}
			}
			.page-main-description{
				margin: 0 0 30px;
				padding: 0;
				float: left;
				width: 100%;
				> div{
					background: @white;
					border-radius: @radiusitems;
					padding: 20px;
					display: block;
					width: 100%;
					max-width: @layout__max-width;
					margin: 0 auto 20px;
					.column.main{
						padding-bottom: 0;
						min-height: auto;
						.table-wrapper{
							margin-bottom: 0;
						}
					}
				}
			}
			.review-add,
			.block.related,
			.block.upsell{
				display: block;
				width: 100%;
				max-width: @layout__max-width;
				margin: 0 auto 20px;
				padding: 0 20px;
			}
			.block.related,
			.block.upsell,
			.amshopby-morefrom {
				.block-title{
					float: left;
					width: 100%;
					text-align: center;
					strong{
						font-size: 3.2rem;
						font-weight: bold;
						font-family: @font-second;
					}
				}
				.product-items{
					float: left;
					width: 100%;
					&:not(.slick-slider){
						overflow: hidden;
						flex-wrap: nowrap;
						justify-content: space-around;
						opacity: 0;
					}
				}
			}
		}
		.modals-wrapper{
			.modal-estimate-shipping{
				top: 50%;
				transform: translateY(-50%);
				overflow: initial;
				.modal-inner-wrap{
					overflow: initial;
				}
				.modal-footer{
					float: left;
					width: 100%;
					padding: 20px !important;
					button{
						margin: 0 10px;
					}
				}
			}
		}
	}
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
	.field.qty{
		.label{
			display: none;
		}
		.control{
			.input-text.qty ,span{
				border-color: @black;
			}
		}
	}

	.page-product-giftcard{
		.page-wrapper{
			.page-main{
				.column{
					.product-info-main{
						.product-options-bottom{
							.fieldset{
								display: flex;
								height: 60px;

								.qty{
									margin: 0;

									.control{
										width: 90%;
									}
								}

								.actions{
									.tocart{
										.lib-font-size(18);
										padding: 0 21px;
										height: 100%;
										width: 100%;
										margin: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {

	.page-product-giftcard{
		.page-wrapper{
			.page-main, .page-main-description{
				margin: 0 !important;
				padding: 0 16px;

				.page.messages{
					margin: 0;
				}

				.column{
					.product-info-main{
						.product-info-price{
							width: auto !important;
							margin: 0 0 15px;
							color: @black;
						}

						.product-options-bottom{
							.fieldset{
								justify-content: space-between;
								display: flex;
								height: 40px;

								.qty{
									height: 100%;
									width: 35%;

									.control{
										height: 100%;
										width: 100%;

										span{
											height: 100% !important;
											width: 40px !important;
										}

										.input-text.qty{
											height: 100% !important;
											width: 100%;
										}
									}
								}

								.actions{
									.tocart{
										.lib-font-size(18);
										padding: 0 21px;
										height: 100%;
										width: 100%;
										margin: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}