& when (@media-common = true) {
	.catalog-product-view{
		.page-wrapper{
			.page-main{
				.product.media{
					.fotorama__wrap{
						.fotorama__stage{
							background: @white;
							border-radius: @radiusitems;
							margin-bottom: 20px;
						}
						.fotorama__nav-wrap{
							.fotorama__thumb-border{
								border-color: @black;
							}
						}
					}
				}
				.product-info-main{
					background: @white;
					border-radius: @radiusitems;
					padding: 20px;
					display: flex;
					flex-direction: column;
					position: relative;
					.page-title-wrapper{
						width: 90%;
						margin: initial;
						h1{
							font-size: 3.2rem;
							font-weight: bold;
						}
					}
					.page-title-wrapper{
						order: 1;
					}
					.product-reviews-summary{
						order: 2;
					}
					.product-info-price{
						order: 3;
					}
					[id*="amasty-promo-countdown"]{
						order: 4;
					}
					.product-add-form{
						order: 5;
					}
					.product-social-links{
						order: 6;
					}
					.attribute.overview{
						order: 7;
					}
					.product-info-price{
						display: flex;
						flex-direction: column;
						order: 3;
						.product-info-stock-sku{
							order: 1;
							padding: 0;
							text-align: left;
						}
						.price-box{
							order: 2;
							padding: 0;
							display: flex;
							margin: 15px 0;
							.price{
								font-size: 3.2rem;
								font-weight: bold;
							}
							.normal-price{
								.price-label{
									display: none;
								}
							}
							.special-price{
								order: 2;
							}
							.old-price{
								margin-right: 5%;
								order: 1;
								.price-label{
									display: none;
								}
								.price{
									text-decoration: line-through;
									font-weight: 400;
									color: @gray;
								}
							}
						}
					}
					[id*="amasty-promo-countdown"]{
						.amcountdown-block-wrapper{
							margin: 15px 0;
							max-width: none;
						    padding: 0;
						    .amcountdown-text{
						    	text-align: center;
						    	font-weight: 500;
						    }
						    .amcountdown-content{
				    		    .amcountdown-list{
				    	    		span{
				    	    			font-weight: 600;
				    	    		}
				    	    	}
				    	    	.amcountdown-progressbar{
									progress::-moz-progress-bar {
										background: @black;
										height: 8px;
									}
									progress::-webkit-progress-value {
										background: @black;
										height: 8px;
									}
				    	    		.amcountdown-progress{
				    	    			height: 8px;
				    	    			background: @gray-D8;
				    	    		}
				    	    		.amcountdown-pointer{
				    	    			height: 10px;
				    	    			width: 10px;
				    	    			background: @black;
				    	    			top: -1px;
				    	    			margin-left: -2px;
				    	    		}
				    	    		&:before{
				    	    			display: none;
				    	    		}
				    	    	}
						    }
						}
					}
					.product-add-form{
						.product-options-wrapper{
							.swatch-attribute{
								.swatch-attribute-label{
									font-size: 2rem;
								    font-weight: 500;
								    text-transform: uppercase;
								}
								&.color{
									.swatch-option{
										background-size: 100% !important;
										width: 32px !important;
										height: 32px !important;
										border: 1px solid @gray-D8;
										border-radius: @radiusitems;
									}
								}
								&.size{
									.swatch-option{
										border: 1px solid @gray-D8;
										border-radius: @radiusitems;
										padding: 5px 10px;
									    height: auto;
									    background: transparent;
									    color: @primary;
									    &:not(.disabled):hover{
									    	outline: 0;
									    	border-color: @primary;
									    }
									}
								}
							}
						}
					}
					.product-social-links{
						margin: 0;
						a.action.towishlist{
							position: absolute;
							top: 20px;
							right: 20px;
							z-index: 10;
							margin: 0;
							span{
								display: none;
							}
							&:before{
								font-size: 2.2rem;
								overflow: initial;
								color: @black;
							}
							.lib-pulseefx;
						}
					}
				}
			}
			.page-main-description{
				margin: 0 0 30px;
				padding: 0;
				float: left;
				width: 100%;
				> div{
					background: @white;
					border-radius: @radiusitems;
					padding: 20px;
					display: block;
					width: 100%;
					max-width: @layout__max-width;
					margin: auto;
					.column.main{
						padding-bottom: 0;
						min-height: auto;
						.table-wrapper{
							margin-bottom: 0;
						}
					}
				}
			}
			.review-add,
			.block.related{
				display: block;
				width: 100%;
				max-width: @layout__max-width;
				margin: 0 auto 20px;
			}
			.block.related{
				.block-title{
					float: left;
					width: 100%;
					text-align: center;
					strong{
						font-size: 3.2rem;
						font-weight: bold;
						font-family: @font-second;
					}
				}
				.product-items{
					float: left;
					width: 100%;
					&:not(.slick-slider){
						overflow: hidden;
						flex-wrap: nowrap;
						justify-content: space-around;
						opacity: 0;
					}
				}
			}
		}
	}
}