& when (@media-common =true) {
    body.cms-encuesta-de-satisfaccion,
    .cms-encuesta-success{
        .page-wrapper{
            background: @color-white;
            .row-content-satisfaction,
            .row-form-satisfaction,
            .row-content-success{
                max-width: 800px;
                width: 100%;
                margin: 0 auto;
                .title-satisfaction,
                .title-form{
                    text-align: center;
                    padding: 10px 0 25px 0;
                    *{
                       .lib-font-size(14);
                       font-weight: 700; 
                    }
                }
                .content-info{
                    text-align: center;
                    *{
                        .lib-font-size(14px);
                        font-weight: 500;
                    }
                }
                .img-encuesta {
                    width: 65px;
                    margin: 0 auto 15px;
                }
                .title-form{
                    max-width: 430px;
                    margin: 0 auto;
                }
            }
            form{
                max-width: 100%;
                margin: 0 auto;
                text-align: center;
                margin-top: 25px;
                .amform-form-fieldset{
                    .field{
                        > label{
                            display: none;
                        }
                        .control{
                            .radio-group{
                                > div{
                                    .lib-radio();
                                    input[type='radio']{
                                        + label{
                                            &:after{
                                                top: -25px;
                                                left: 22px;
                                            }
                                        }
                                        &:checked{
                                            + label{
                                                &:before{
                                                    top: -21px;
                                                    left: 26px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .text-order {
                                text-align: center;
                            }
                            .num-order {
                                width: 220px;
                                margin: auto;
                            }
                        }
                        &-text-left,
                        &-text-right{
                            margin: 0;
                            width: 50%;
                            .control{
                                div{
                                    font-weight: 600;
                                    &.mobile {
                                        display: none;
                                    }
                                }
                            }
                        }
                        &-text-left{
                            text-align: center;
                            .control{
                                width: 135px;
                            }
                        }
                        &-text-right{
                            .lib-css(align-items,flex-end,1);
                            .control{
                                width: 135px;
                            }
                        }
                    }
                    .amcform-toolbar{
                        width: 100%;
                        text-align: center;
                        margin-left: -5px;
                        button{
                            width: 220px;
                            border: 1px solid @black;
                            background: @black;
                            color: @white;
                            .lib-font-size(0);
                            &:before{
                                content: 'Enviar';
                                .lib-font-size(18);
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    body.cms-encuesta-de-satisfaccion{
        .page-wrapper{
            form{
                .amform-form-fieldset{
                    .field{
                        &-text-right{
                            padding-right: 60px;
                        }
                    }
                }
            }
        }
    }
}


@media @mdmax{
    body.cms-encuesta-de-satisfaccion,
    .cms-encuesta-success{
        .page-wrapper{
            .page-main-full-width {
                background: @mainbackground;
                .columns {
                    .column.main {
                        padding: 15px;
                    }
                }
            }
            .row-content-satisfaction,
            .row-form-satisfaction,
            .row-content-success{
                padding: 15px;
                background: @white;
                box-shadow: 2px 2px 12px @shadowitems;
                border-radius: 12px;
            }
            form{
                margin-top: 0;
                .amform-form-fieldset{
                    .amcform-page-wrap {
                        position: relative;
                    }
                    .field{
                        .control{
                            text-align: start;
                            padding-left: 15px;
                            .radio-group{
                                .lib-css(display, flex, 1); 
                                .lib-css(flex-direction, column, 1);
                                > div{
                                    margin: 0px auto 12px;
                                    padding-left: 30px;
                                    input[type='radio']{
                                        + label{
                                            &:after{
                                                top: 0;
                                                left: 0;
                                            }
                                        }
                                        &:checked{
                                            + label{
                                                &:before{
                                                    top: 4px;
                                                    left: 4px;
                                                }
                                            }
                                        }
                                    }
                                    &:last-child {
                                        input[type='radio']{
                                            + label{
                                                &:after{
                                                    left: 4px;
                                                }
                                            }
                                            &:checked{
                                                + label{
                                                    &:before{
                                                        left: 8px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &-text-left,
                        &-text-right{
                            position: absolute;
                            left: -14px;
                            .lib-css(justify-content,start,1);
                            .lib-css(align-items,flex-end,1);
                            .control{
                                div{
                                    .lib-font-size(10);
                                    &.mobile {
                                        display: block;
                                    }
                                    &.desk {
                                        display: none;
                                    }
                                }
                            }
                        }
                        &-text-right{
                            bottom: 150px;
                        }
                    }
                    .amcform-toolbar{
                        margin-left: 9px;
                    }
                }
            }
        }
    }
}