<div class="checkout-agreements" style="visibility: visible;">
    <input type="checkbox" data-bind="checked: isSubscribed,attr: {id: 'receive-promotion',name:'is_subscribed'}"/>
    <label class="label" data-bind="attr: {for: 'receive-promotion'}">
        <span data-bind="i18n: 'Acepto Política de Envío de '"></span>
        <span class="aspan" data-bind="click: showModal" style="cursor: pointer">
            <b>Comunicaciones de Publicidad y Promociones</b>
        </span>
    </label>
</div>

<div id="promotional-agreements-modal" style="display: none;">
    <div class="custom-popup-content">
        <div class="custom-popup-content_title">
            <h3>
                <b>TERMINOS Y CONDICIONES - Políticas de publicidad</b>
            </h3>
        </div>
        <div class="custom-popup-content_promotional-agreements">
            <div class="section-header">
                <div class="banner-img"></div>
            </div>
            <div class="section-info">
                <br>
                <p>En cumplimiento de lo dispuesto por la Ley N°29733, Ley de Protección de Datos Personales y su
                    reglamento aprobado por Decreto Supremo N°003-2013-JUS, <b>PERFUMERIAS UNIDAS S.A.</b> desea poner
                    en conocimiento, los siguientes aspectos relacionados a datos personales:</p>
                <br>
                <p>El titular del presente banco de datos en el que se almacenarán los datos personales facilitados en
                    la presente solicitud es PERFUMERIAS UNIDAS S.A. Sociedad identificada con RUC 20101031773 con
                    domicilio en la Av. Salaverry 3100, Piso 03, Magdalena del Mar, provincia y departamento de Lima.</p>
                <br>
                <p>La existencia de este banco de datos personales ha sido declarada a la Autoridad Nacional de
                    Protección de Datos Personales, mediante su inscripción en el Registro Nacional de Protección de
                    Datos Personales con la denominación "PROSPECTOS DE CLIENTES" y el código de registro: Expediente
                    en Trámite N° 440477-2022.</p>
                <br>
                <p>Se informa que, cualquier tratamiento de datos personales, se ajusta a lo establecido por la
                    legislación vigente en Perú en la materia (Ley N°29733 y su reglamento).</p>
                <p>En <b>PERFUMERIAS UNIDAS S.A.</b>, asumimos la obligación de proteger los datos personales que usted
                    voluntariamente nos proporcione.</p>
                <br>
                <p><b><i>Con la facilitación voluntaria de sus Datos Personales, se realizará el tratamiento para "Recabar
                    datos personales de futuros clientes que se encuentren interesados en recibir información de
                    publicidad y promociones comerciales de nuestros productos y servicios".</i></b></p>
                <br>
                <p>Los datos personales se transferirán a nivel nacional a: No se transfiere</p>
                <p>Los datos personales se transferirán a nivel internacional a: Sí se transfiere a AWS – Amazon,
                    Estados Unidos de Norteamérica.</p>
                <br>
                <p>PERFUMERIAS UNIDAS S.A. conservará y realizará el tratamiento de sus Datos Personales de forma segura
                , por un periodo de 05 años.</p>
                <br>
                <p>Como titular de sus datos personales, tiene derecho de acceder a sus datos en posesión de PERFUMERIAS
                    UNIDAS S.A.; conocer las características de su tratamiento, rectificarlas en caso de ser inexactas o
                    incompletas; solicitar sean suprimidos o cancelados al considerarlos innecesarios para las
                    finalidades previamente expuestas o bien oponerse a su tratamiento para fines específicos.</p>
                <br>
                <p>Usted podrá en todo momento revocar el consentimiento otorgado expresamente, tanto como limitar el
                    uso o divulgación de sus datos personales.</p>
                <p>Usted podrá dirigir su solicitud de ejercicio de los derechos a la siguiente dirección: <b>Av.
                    Salaverry 3100, Piso 03, Magdalena del Mar, provincia y departamento de Lima</b>, de lunes a viernes
                    en horario de oficina o a la siguiente dirección de correo electrónico
                    <b>cchocce@perfumeriasunidas.com.pe</b></p>
                <br>
                <p>De considerar el usuario que no ha sido atendido en el ejercicio de sus derechos puede presentar una
                    reclamación ante la Autoridad Nacional de Protección de Datos Personales, dirigiéndose a la Mesa de
                    partes del Ministerio de Justicia y Derechos Humanos: Calle Scipion Llona 350, Miraflores, Lima.</p>
                <br>
                <p>En ese sentido y en cumplimiento de la Ley No. 29733, Ley de Protección de Datos Personales y
                    su Reglamento Decreto Supremos No. 003-293-JUS, PERFUMERIAS UNIDAS S.A. ha designado a un
                    responsable de los Datos Personales en nuestra institucional, quien velará por el cumplimiento de
                    esta Política de Privacidad y de toda la normativa de aplicación.</p>
                <br>
                <p><b>PERFUMERIAS UNIDAS S.A.</b> será responsable del banco de datos personales y de los datos personales
                    contenidos en éste. Con el objeto de evitar la pérdida, mal uso, alteración, acceso no autorizado y
                    robo de los datos personales o información confidencial por los usuarios y/o los clientes,
                    PERFUMERIAS UNIDAS S.A. ha adoptado los niveles de seguridad y de protección de datos personales
                    legalmente requerido, y ha instalado todos los medios y medidas técnicas a su alcance.</p>
            </div>
        </div>
    </div>
</div>
