<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="adobe_adobeSignCheckout_observer_checkoutinit" instance="adobe\adobeSignCheckout\Observer\Checkoutinit" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="adobe_adobeSignCheckout_checkout_submit_all_after" instance="adobe\adobeSignCheckout\Observer\CheckoutSubmitAllAfterObserver" />
    </event>
    <event name="admin_system_config_changed_section_adobesign">
        <observer name="custom_admin_system_config_changed_section_adobesign" instance="adobe\adobeSignCheckout\Observer\ConfigChange"/>
    </event>
</config>
