<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <default>
        <instore_pickup>
            <strategy>
                <selection>stock_distance_based</selection>
            </strategy>
        </instore_pickup>
    </default>
</config>
