<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\InventoryInStorePickupApi\Model\SearchResult\Extractor">
        <arguments>
            <argument name="strategies" xsi:type="array">
                <item name="stock-distance-based" xsi:type="object">WolfSellers\InStorePickup\Model\SearchResult\Strategy\StockDistanceBased</item>
                <item name="custom-rules" xsi:type="object">WolfSellers\InStorePickup\Model\SearchResult\Strategy\CustomRules</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\InventoryInStorePickup\Model\SearchResult\Strategy\DistanceBased">
        <plugin sortOrder="1" name="wolfSellersInStorePickupDistanceBased"
                type="WolfSellers\InStorePickup\Plugin\Model\SearchResult\Strategy\DistanceBasedPlugin"
                disabled="false"
        />
    </type>

    <type name="Magento\InventoryInStorePickupShippingApi\Model\Carrier\InStorePickup">
        <plugin name="wolfsellers_in_store_label_activation" type="WolfSellers\InStorePickup\Plugin\CollectRatesPlugin" sortOrder="10" disabled="true"/>
    </type>
</config>
