<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="WolfSellers\EnvioRapido\Helper\SavarHelper">
        <plugin name="reindex_order_items"
                type="WolfSellers\ReindexNewOrders\Plugin\ReindexOrderItems"
                sortOrder="10"/>
    </type>
    <type name="WolfSellers\ReindexNewOrders\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="WolfSellers\ReindexNewOrders\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">REINDEX_ORDER</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">WolfSellers\ReindexNewOrders\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
